<div class="invent">
  <h4>Immunizations</h4>
  <br>
  <div class="invent-body col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
    <!-------------------------------------->
    <!---Sub-view: Immunization Reminder---->
    <!-------------------------------------->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 invent-container">

      <div class="inner-card-title">
        <span>Immunization Reminder in</span>
        <span ngbDropdown #immRDropdown="ngbDropdown" autoClose="outside" style="white-space: nowrap; display: inline-block;">
          <button ngbDropdownToggle>{{ expSinceAndIn }} day{{ expSinceAndIn > 1 ? 's' : '' }}&nbsp;</button>
          <span ngbDropdownMenu class="dd-container">
            <button (click)="showImmunizingReminder(7); immRDropdown.close();" class="dropdown-item">1 weeks</button>
            <button (click)="showImmunizingReminder(14); immRDropdown.close();" class="dropdown-item">2 weeks</button>
            <hr/>
            <p style="cursor: default">
              Or
              <input type="text"
                id="immunizationDaysInput"
                (keydown.enter)="immRDropdown.close(); input_showImmunizingReminder($event);"
                onfocus="this.value=''"
                style="width: 50px"/>day(s)
            </p>
          </span>
        </span>
      </div>

      <div class="invent-content">
        <!------Collapsed View------->
        <table *ngIf="injectionCollapsed" class="collapsedSummary table table-hover">
          <tr (click)="injectionCollapsed = false;">
            <ng-container *ngIf="_array.isArray(injectionReminderCurr) && injectionReminderCurr.length > 0; then injectionThen else injectionEmpty"></ng-container>
            <ng-template #injectionThen><ng-container *ngIf="injectionReminderCurr[0].injection.injectdate > timeNow; then injectionSoon else injectionOverdue"></ng-container></ng-template>
            <ng-template #injectionEmpty><th style="pointer-events: none;">Empty</th></ng-template>
            <ng-template #injectionSoon><th class="attention">{{injectionReminderCurr.length}} injections soon</th></ng-template>
            <ng-template #injectionOverdue><th class="danger"><span class="fa fa-chevron-down"></span>&nbsp;&nbsp;View injections overdue</th></ng-template>
          </tr>
        </table>
        <!--------Table View--------->
        <table *ngIf="!injectionCollapsed" class="table table-hover rd-table">
          <tr>
            <th>Chicken ID</th>
            <th>Project Name</th>
            <th>Immunogen</th>
            <th class="text-right">Injection Date</th>
          </tr>
          <tr *ngIf="injectionReminderCurr.length < 1">
            <td class="empty" colspan="4" style="pointer-events: none;">Empty</td>
          </tr>
          <ng-container *ngFor="let model of injectionReminderCurr; let i=index">
            <tr>
              <td>{{model.injection.chickenid}}</td>
              <td>{{model.chicken.projectname}}</td>
              <td>{{model.chicken.immunogen}}</td>
              <td *ngIf="model.displayMessage!='Injection Overdue'" class="text-right">
                {{(model.displayMessage!=null)?model.displayMessage:model.injection.injectdate | date: 'dd MMM yyyy'}}</td>
              <td *ngIf="model.displayMessage=='Injection Overdue'" class="danger text-right">Overdue
                ({{model.injection.injectdate | date: 'dd MMM yyyy'}})</td>
            </tr>
          </ng-container>
        </table>
        
        <div *ngIf="!injectionCollapsed" class="text-center collapse-container" (click)="injectionCollapsed = true;">
          <span class="fa fa-chevron-up"></span>&nbsp;&nbsp;Hide injections overdue
        </div>
      </div>

    </div>
  </div>
</div>