<div class="client-form" *ngIf="selectedClient" [ngClass]="!canManageClients && 'preventEdit'">
  <div class="control-box" style="text-align:right;">
    <button class="btn btn-default menu-btn" (click)="cancelEdit()"><i class="fas fa-times"></i></button>
  </div>
 
  <div class="form-group">
    <label>Company Name <span style="color:red">*</span>
      <button type="button" 
              class="btn btn-outline-secondary help-tooltip" 
              placement="top" 
              ngbTooltip="The name of the company">?</button>
    </label>
    <input class="form-control" 
    [disabled]="!canManageClients"
           #companyName 
           [value]="editableClient.companyName" 
           (change)="setCompanyName(companyName.value)" 
           required>
    <br>
    <label>Active <span style="color:red">*</span>
      <button type="button" 
              class="btn btn-outline-secondary help-tooltip" 
              placement="top" 
              ngbTooltip="Whether company is active or not">?</button>
    </label>

    <input type="checkbox" 
           [(ngModel)]="editableClient.active">
                
  </div>
  
  <table class="table table-form">
    <tr>
      <td style="width:100%;word-wrap: break-word;">
        <span class="field-title">Billing Address 
           <button type="button" 
                   class="btn btn-outline-secondary help-tooltip"
                   placement="top" 
                   ngbTooltip="The physical address of the company">?</button>
        </span>
        <div class="edit-form">
          <label>Street Address 1: <span style="color:red">*</span>
            <input class="form-control" 
            [disabled]="!canManageClients"
                   type="text" 
                   [value]="editableClient.billingAddress.addressLine1" 
                   #billingStreetAddress1 
                   (change)="editableClient.billingAddress.addressLine1 = billingStreetAddress1.value">
          </label>
          <br>
          <label>Street Address 2:
            <input class="form-control" 
            [disabled]="!canManageClients"
                   type="text" 
                   [value]="editableClient.billingAddress.addressLine2" 
                   #billingStreetAddress2 
                   (change)="editableClient.billingAddress.addressLine2 = billingStreetAddress2.value">
          </label>
          <br>
          <label>City: <span style="color:red">*</span>
            <input class="form-control" 
            [disabled]="!canManageClients"
                   type="text" 
                   [value]="editableClient.billingAddress.city" 
                   #billingAddressCity
                   (change)="editableClient.billingAddress.city = billingAddressCity.value">
          </label>
          <br>
          <label>Province/State:
            <input class="form-control" 
            [disabled]="!canManageClients"
                   type="text" 
                   [value]="editableClient.billingAddress.province" 
                   #billingAddressProvince 
                   (change)="editableClient.billingAddress.province = billingAddressProvince.value">
          </label>
          <br>
          <label>Country: <span style="color:red">*</span>
            <input class="form-control" 
            [disabled]="!canManageClients"
                   type="text" 
                   [value]="editableClient.billingAddress.country" 
                   #billingAddressCountry 
                   (change)="editableClient.billingAddress.country = billingAddressCountry.value">
          </label>
          <br>
          <label>Postal/Zip Code:
            <input class="form-control" 
            [disabled]="!canManageClients"
                   type="text" 
                   [value]="editableClient.billingAddress.postalCode" 
                   #billingAddressPostalCode 
                   (change)="editableClient.billingAddress.postalCode = billingAddressPostalCode.value">
          </label>
        </div>
        
      </td>
    </tr>
  </table>

  <div>
    <span class="field-title">Shipping Address(es)<span style="color:red">*</span>
      <button  type="button" 
               class="btn btn-outline-secondary help-tooltip" 
               placement="top" 
               ngbTooltip="The shipping address(es) of the company">?</button>
    </span>
    <div>
      <mat-checkbox *ngIf="isNew && billingAndShippingAreEqual"
                    [checked]="billingAndShippingAreEqual"
                    (change)="billingAndShippingAreEqual = false">
        Same as billing address
      </mat-checkbox>
      <table *ngIf="!isNew || !billingAndShippingAreEqual">
        <ng-container *ngFor="let sa of filterInactiveShippingAddresses(); let i = index">
          <tr *ngIf="sa.active">
            <td>
              <div class="h-auto form-control sub-form edit-form" 
                  [class.odd]="i%2==1" 
                  [class.even]="i%2==0">
              <span>Shipping Address {{i+1}}
                <button *ngIf="canManageClients" class="btn btn-outline-warning" 
                        style="float: right;" 
                        (click)="setShippingAddressInactive(sa.addressId)" 
                        title="Remove Shipping Adress">
                  <i class="fas fa-times"></i>
                </button>
              </span>
              <br>
              <label>Location Name: <span style="color:red">*</span>
                <input class="form-control" 
                [disabled]="!canManageClients"
                      type="text" 
                      [value]="sa?.locationName" 
                      #ShippingAddressCompanyName 
                      (change)="sa.locationName = ShippingAddressCompanyName.value" 
                      placeholder="Company Name">
              </label>
              <br>
              <label>Street Address 1: <span style="color:red">*</span>
                <input class="form-control" 
                [disabled]="!canManageClients"
                      type="text" 
                      [value]="sa?.addressLine1" 
                      #shippingAddressLine1 
                      (change)="sa.addressLine1 = shippingAddressLine1.value" 
                      placeholder="Shipping Street Address 1">
              </label>
              <br>
              <label>Street Address 2:
                <input class="form-control" 
                [disabled]="!canManageClients"
                      type="text" 
                      [value]="sa?.addressLine2" 
                      #shippingAddressLine2 
                      (change)="sa.addressLine2 = shippingAddressLine2.value" 
                      placeholder="Shipping Street Address 2">
              </label>
              <br>
              <label>City: <span style="color:red">*</span>
                <input class="form-control" 
                [disabled]="!canManageClients"
                      type="text" 
                      [value]="sa?.city" 
                      #shippingAddressCity 
                      (change)="sa.city = shippingAddressCity.value" 
                      placeholder="City">
              </label>
              <br>
              <label>Province/State:
                <input class="form-control" 
                [disabled]="!canManageClients"
                      type="text" 
                      [value]="sa?.province" 
                      #shippingAddressProvince 
                      (change)="sa.province = shippingAddressProvince.value" 
                      placeholder="Province or State">
              </label>
              <br>
              <label>Country:
                <input class="form-control" 
                [disabled]="!canManageClients"
                      type="text" 
                      [value]="sa?.country" 
                      #shippingAddressCountry 
                      (change)="sa.country = shippingAddressCountry.value" 
                      placeholder="Country">
              </label>
              <br>
              <label>Postal/Zip Code:
                <input class="form-control" 
                [disabled]="!canManageClients"
                      type="text" 
                      [value]="sa?.postalCode" 
                      #shippingAddressPostalCode 
                      (change)="sa.postalCode = shippingAddressPostalCode.value" 
                      placeholder="Postal or Zip Code">
              </label>
              </div>
            </td>
          </tr>
        </ng-container>
        <tr *ngIf="canManageClients">
          <td colspan="11" style="padding:0px;">
            <button class="btn btn-outline-primary new-ingre" (click)="newShippingAddress()">
              <i class="fas fa-plus"></i> New Shipping Address
            </button>
          </td>
        </tr>
      </table>
    </div>
    <div *ngIf="!editableClient.shippingAddresses || editableClient.shippingAddresses.length == 0" class="empty">No Shipping Addresses Found</div>
  </div>



  <div>
    <span class="field-title">Contact(s)<span style="color:red">*</span>
      <button  type="button" 
               class="btn btn-outline-secondary help-tooltip" 
               placement="top" 
               ngbTooltip="Contact information of a person or group of the company">?</button>
    </span>
    
    <table>
      <ng-container *ngFor="let c of filterInactiveContacts(); let i = index;">
        <tr *ngIf="c.active">

          <td>
            <div class="h-auto form-control sub-form edit-form" 
                [class.odd]="i%2==1" 
                [class.even]="i%2==0">
              <span>Contact {{i+1}} {{ai}}
                <button *ngIf="canManageClients" class="btn btn-outline-warning" 
                        style="float: right;" 
                        (click)="setContactInactive(c.clientContactId)" 
                        title="Remove Contact">
                  <i class="fas fa-times"></i>
                </button>
              </span>
              <br>
              <label>Contact Name: <span style="color:red">*</span>
                <input class="form-control" 
                [disabled]="!canManageClients"
                      type="text" 
                      [value]="c?.name" 
                      #contactName 
                      (change)="c.name = contactName.value" 
                      placeholder="First and Last Name">
              </label>
              <br>
              <label>Role: <span style="color:red">*</span>
                <input class="form-control" 
                [disabled]="!canManageClients"
                      type="text" [value]="c?.role" 
                      #contactRole 
                      (change)="c.role = contactRole.value" 
                      placeholder="Sale Repersentative">
              </label>
              <br>
              <label>Email:
                <input class="form-control" 
                [disabled]="!canManageClients"
                      type="text" 
                      [value]="c?.email" 
                      #contactEmail 
                      (change)="c.email=contactEmail.value">
              </label>
              <br>
              <label>Phone:
                <input class="form-control" 
                [disabled]="!canManageClients"
                      type="text" 
                      [value]="c?.phone" 
                      #contactPhone 
                      (change)="c.phone=contactPhone.value">
              </label>
              <br>
              <label>Ext:
                <input class="form-control" 
                [disabled]="!canManageClients"
                      type="text" 
                      [value]="c?.ext" #contactExtension 
                      (change)="c.ext = contactExtension.value">
              </label>
              <br>
              <label>Fax:
                <input class="form-control" 
                [disabled]="!canManageClients"
                      type="text" 
                      [value]="c?.fax" 
                      #contactFax 
                      (change)="c.fax = contactFax.value">
              </label>
            </div>
          </td>
        </tr>
      </ng-container>
      <tr *ngIf="canManageClients">
        <td colspan="11" style="padding:0px;">
          <button class="btn btn-outline-primary new-ingre" (click)="newContact()">
            <i class="fas fa-plus"></i> New Contact</button>
        </td>
      </tr>
    </table>
    <div *ngIf="!editableClient.clientContacts || editableClient.clientContacts.length == 0" class="empty">No Contacts Found</div>
  </div>

  <ngb-alert *ngIf="inputWarning.length > 0" (close)="inputWarning=[]">
    <ng-container *ngFor="let warning of inputWarning; let i = index">
      <p>
        <strong>{{warning}}</strong>
      </p>
    </ng-container>
  </ngb-alert>

  
  <div class="form-group submit-buttons">
    <button  *ngIf="canManageClients"
             class="btn btn-primary" 
             style="margin:5px;"
             (click)="save();" 
             id="saveClient">Save</button>
    <button type="button"  
             class="btn btn-primary" 
             (click)="cancelEdit()" 
             id="cancelEdit">Cancel</button>
  </div>

</div>



