<div class="main-container">
<div class="function-panel min-width-60">
  <button (click)="sidenav.toggle()" class="round-btn margin-right-1em margin-left-05em margin-top-30">
    <span *ngIf="!opened" class="material-icons animation-icon">
    keyboard_arrow_right
    </span>

    <span *ngIf="opened" class="material-icons animation-icon">
      keyboard_arrow_left
    </span>
  </button>

  <a *ngIf="!opened" [routerLink]="'/ws_review_copy'" class="nav-item margin-top-65">
    <span class="material-icons margin-right-1em margin-left-05em animation-icon" matTooltip="Create or review worksheet designs" [matTooltipPosition]="'below'">
      design_services
    </span>
  </a>

  <a *ngIf="!opened" [routerLink]="['ws_experiment/analyst', id]" class="nav-item" >
    <span class="material-icons margin-right-1em margin-left-05em animation-icon" matTooltip="Execute worksheet designs" [matTooltipPosition]="'below'">
      science
    </span>
  </a>

  <a *ngIf="!opened" [routerLink]="['ws_experiment/scientist', id]" class="nav-item">
    <span class="material-icons margin-right-1em margin-left-05em animation-icon" matTooltip="Review and comment submitted worksheets" [matTooltipPosition]="'below'">
      grading
    </span>
  </a>

  <a *ngIf="!opened" class="nav-item">
    <span class="material-icons  margin-right-1em margin-left-05em animation-icon" matTooltip="Go back to Intelli Lab home page" [matTooltipPosition]="'below'">
      home
      </span>
  </a>
</div>
<!-- <div *ngIf="opened" class="function-panel"></div> -->
<mat-sidenav-container class="min-width-1200">
  <mat-sidenav #sidenav mode="side" (opened)="onOpen()" (closed)="onClose()" [opened]="opened" class="min-width-250">
    <h1 class="margin-top-30 logo">Somru BioScience Inc.</h1>
    <!-- <img src="../../../assets/Somru-Logo-high.jpg" alt="Somru Logo" width="100%" height="100" > -->

    <div class="sidenav-container">
      <a [routerLink]="'/ws_review_copy'" class="nav-item animation-text">
        <span class="material-icons margin-right-1em margin-left-05em">
          design_services
        </span>
        <span>Template Design</span>
      </a>
      <a [routerLink]="['ws_experiment/analyst', id]" class="nav-item animation-text">
        <span class="material-icons margin-right-1em margin-left-05em">
          science
        </span>
        <span>Experiment</span>
      </a>
      <a [routerLink]="['ws_experiment/scientist', id]" class="nav-item animation-text">
        <span class="material-icons margin-right-1em margin-left-05em">
          grading
        </span>
        <span>Worksheet Review</span>
      </a>
      <a [routerLink]="'/'" class="nav-item animation-text">
        <span class="material-icons  margin-right-1em margin-left-05em">
          home
          </span>
        <span> Intelli Lab</span>
      </a>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
      <!-- <button mat-mini-fab color="primary" (click)="sidenav.toggle()" class="mat-elevation-z8 collapse-btn">
        <span *ngIf="!opened" class="material-icons">
        keyboard_arrow_right
        </span>

        <span *ngIf="opened" class="material-icons">
          keyboard_arrow_left
        </span>
      </button> -->
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>
