.main-container{
  width: 100%;
  height: 100%;
  display: flex;
}

.round-btn{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  outline:none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: rgb(63, 81, 177);
}

.round-btn:hover{
  background-color: rgb(63, 81, 177);
  color: white;
  cursor: pointer;

}


.function-panel{
  height: 100%;
  width: 3%;
  background-color: rgb(63, 81, 177);
  color: white;
  /* writing-mode: vertical-rl;
  text-orientation: upright; */
}

mat-sidenav-container{
  /* border: 3px green solid; */
  /* width: 95%; */
  width: 97%;
  height: 100%;
}

mat-sidenav{
  width: 15%;
  background-color: rgb(63, 81, 177);
  color: white;
}



.nav-item{
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1.0em 2em 1.0em 0;
}

.nav-item:hover{
  background-color: rgb(30, 99, 201);
}

.nav-item:active{
  background-color: rgb(6, 54, 124);
}

.margin-right-1em{ margin-right: 1em; }
.margin-left-05em{ margin-left: 0.5em; }
.margin-top-30{ margin-top: 15px; }
.margin-top-65 { margin-top: 15px }
.min-width-60 { min-width: 60px; }
.min-width-250 { min-width: 250px; }
.min-width-1200 { min-width: 1200px; }

.collapse-btn{
  position: absolute;
  top: 2%;
  right: 97%;
}

.animation-text{
  transition: font-size 250ms ease-out;
}

.animation-text:hover{
  font-size: large;
}

.animation-icon{
  transition: font-size 250ms ease-out;
}

.animation-icon:hover{
  font-size: 36px;
}

.logo{
  font-style: italic;
  font-family: cursive;
}






