.padding-left-35p{padding-left: 35%;}
.padding-left-40p{padding-left: 40%;}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-30 { font-size: 30px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-54 { font-size: 54px; }
.z-index-2 {z-index: 2;}
.z-index-10 {z-index: 10;}
.z-index-20 {z-index: 20;}
.z-index-30 {z-index: 30;}
.italic{font-style: italic;}
.material-icons.orange { color: #FB8C00; }
.heigth-40{ height: 40px; }
.btn-size-100 {width: 100px;}
.btn-size-150 {width: 150px;}
.btn-size-200 {width: 200px;}
.btn-size-300 {width: 300px;}
hr{border-top: 0px; border-right: 0px; border-left: 0px; border-bottom: 2px solid rgb(63, 81, 177);}
.btn-margin-top-20 {margin-top: 20px;}
.btn-margin-right-20 {margin-right: 20px;}
.margin-left-10 { margin-left: 10px; }
.margin-left-30 {margin-left: 30px;}
.margin-left-40 {margin-left: 40px;}
.margin-left-50 {margin-left: 50px;}
.margin-right-10 {margin-right: 10px;}
.margin-right-20 {margin-right: 20px;}
.margin-top-50{ margin-top: 50px; }
.margin-top-70{ margin-top: 70px; }
.margin-bottom-50 { margin-bottom: 50px; }
.margin-5 {margin: 5px}
.display-block{display: block}
.width-500{ width: 500px; }
.buttonContainer {
  /* border: 5px blue solid; */
  display: flex;
  justify-content: space-around;
}

.btn-icon {
  margin-left: 5px;
}

.notification{
  background-color: red;
  text-align: center;
  color: white
}

.colorRed{
  color: red
}

.colorGreen{
  color:green
}

.refresh-container{
  width: 100%;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.refresh{
  color: rgba(128, 128, 128, 0.5);
  font-family: sans-serif;
  font-weight: bold;
  transition: font-size 200ms ease-out
}

.refresh:hover{
  color: black;
  cursor: pointer;
  font-size: large;
  text-decoration: underline;
}

mat-card{
  margin:25px 50px 25px 50px;
}

mat-expansion-panel { margin:25px 50px 25px 50px; }

table {
  width: 100%;
}

.mat-row:nth-child(even){
  background-color:rgb(240, 240, 240);
  }

.btn-container{
  /* margin-top: 100%; */
  /* background-color: rgb(240, 240,240); */
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

.text-btn{
  border: none;
  color: rgb(160, 161, 162)
}

.text-btn:hover{
  color: rgba(81, 82, 82, 1);
  cursor: pointer;
}

.text-btn:active{
  top: 3px;
}


 /* Butto click animation */
 .primary-btn-animation{
  transition: font-size 200ms ease-out
 }

 .warn-btn-animation{
   transition: font-size 200ms ease-out
 }


 .primary-btn-animation:hover {
   border: 2px #3f51b5 solid;
   background-color: white;
   color: #3f51b5;
   font-size: large;
 }

 .warn-btn-animation:hover {
   border: 2px #f44336 solid;
   background-color: white;
   color: #f44336;
   font-size: large;
 }


/* tab switch animation */
.tab-animation{
  display: flex;
  align-items: center;
  transition: font-size 200ms ease-out;
}

.tab-animation:hover{
  font-size: large;
}


.mat-row.item-animation{
  transition: all 300ms ease-out;
}

.mat-row.item-animation:hover {
  background-color: rgb(30, 99, 201, 0.3);
}


.mat-green {
  background-color: rgb(51, 205, 82);
  color:  white;
  transition: font-size 200ms ease-out
}

.mat-green:hover{
  border: 2px rgb(51, 205, 82) solid;
  background-color: white;
  color: rgb(51, 205, 82);
  font-size: large;
}


.empty-list-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(240, 240, 240);
}

/* Expansion Panel CSS */
.italic{font-style: italic;}
.color-blue {
  color: #3f50b1;
}

.panel-title-container{
  width: 40%;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

mat-panel-title strong { font-size: large; width: 400px; min-width: 280px;}

.material-icons.complete { color: rgb(52, 207, 83); }
.material-icons.edit { color: rgb(253, 98, 93) }


/* Rubber Stamp Effect CSS */

/* .stamp {

  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 150px;
	color: #555;
  font-size: 30px;
	font-weight: 700;
	border: 0.25rem solid #555;
	display: inline-block;
  padding: 0.1rem 0.5rem;
	text-transform: uppercase;
	border-radius: 1rem;
	font-family: 'Courier';
	-webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
  -webkit-mask-size: 944px 604px;
  mix-blend-mode: multiply;

} */

.stamp {
	/* color: #555;
  font-size: 30px;
	font-weight: 700;
	border: 0.25rem solid #555;
  display: inline-block; */
  color: #D23;
  border: 3px solid #D23;
  font-size: 25px;
	font-weight: bolder;
  padding: 0 20px;
  border-radius: 50px;
  text-transform: uppercase;
  font-family: 'Courier';
  -webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
  -webkit-mask-position: 2rem 3rem;
  -webkit-mask-size: 944px 604px;
  mix-blend-mode: multiply;
	/* text-transform: uppercase;
	border-radius: 1rem;
	font-family: 'Courier';
	-webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
  -webkit-mask-size: 944px 604px;
  mix-blend-mode: multiply; */

}

.is-nope {
  color: #D23;
  border: 0.5rem double #D23;
  /* transform: rotate(3deg); */
	-webkit-mask-position: 2rem 3rem;
  font-size: 2rem;
}

.is-approved {
	color: #0A9928;
	border: 0.5rem solid #0A9928;
	-webkit-mask-position: 13rem 6rem;
	/* transform: rotate(-14deg); */
  border-radius: 0;
}

.is-draft {
	color: #C4C4C4;
	border: 1rem double #C4C4C4;
	/* transform: rotate(-5deg); */
  font-size: 6rem;
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  border-radius: 0;
  padding: 0.5rem;
}


/* side nav CSS */

.nav-icon-border {
  border: rgb(145, 164, 173) 2px solid;
  border-radius: 10px;
}

.content-container{
  /* width: 96%;
  position: relative;
  left: 3%; */
  overflow: scroll;
  margin-right: 10px;
  padding-left: 1%;
  margin-left: 60px;
}

.icon-color { color: rgb(145, 164, 173) }

.item-container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__cont {
  position: fixed;
  width: 60px;
  min-width: 60px;
  height: 100%;
  z-index: 100;
  background-color: #202020;
  overflow:hidden;
  transition:width .3s ease;
  cursor:pointer;
  box-shadow:4px 7px 10px rgba(0,0,0,.4);
  opacity: 0.8;
  padding-left: 12px;
  border-radius: 0px 5px 5px 0px;
}

.nav__cont:hover{
  width:250px;
  opacity: 1;
}

.nav {
  list-style-type: none;
  color:white;
}

.nav:first-child {
    margin-top:1.5rem;
  }

.nav__items {
  padding-bottom:4rem;
  font-family: 'roboto';
}

.nav__items:hover a:after {
    opacity:1;
  }

.nav__items a {
    position: relative;
    display:block;
    padding-left:25px;
    padding-right:15px;
    transition:all .3s ease;
    margin-left:25px;
    margin-right:10px;
    text-decoration: none;
    color:white;
    font-family: 'roboto';
    font-weight: 100;
    font-size: 1.35em;

  width: 200px
  }

.nav__items a:after {
       content:'';
       width: 100%;
       height: 100%;
       position: absolute;
       top:0;
       left:0;
       border-radius:2px;
       background:radial-gradient(circle at 94.02% 88.03%, #54a4ff, transparent 100%);
       opacity:0;
       transition:all .5s ease;
       z-index: -10;
     }



.platemap-counter{
  border-radius: 50px;
  color:white;
  background-color: rgb(52, 207, 83);
  height: 22px;
  min-width: 22px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* font-size:
  font-weight: bold; */
}

.stamp-relative{
  position: absolute;
  bottom: 16px;
  right: 26px;
}


.loader {
  animation:spin 1s infinite linear;
  border:solid 2vmin transparent;
  border-radius:50%;
  border-right-color:#09f;
  border-top-color:#09f;
  box-sizing:border-box;
  height:20vmin;
  left:calc(50% - 10vmin);
  position:fixed;
  top:calc(50% - 10vmin);
  width:20vmin;
  z-index:11;

  &:before {
    animation:spin 2s infinite linear;
    border:solid 2vmin transparent;
    border-radius:50%;
    border-right-color:#3cf;
    border-top-color:#3cf;
    box-sizing:border-box;
    content:"";
    height:16vmin;
    left:0;
    position:absolute;
    top:0;
    width:16vmin;
  }
  &:after {
    animation:spin 3s infinite linear;
    border:solid 2vmin transparent;
    border-radius:50%;
    border-right-color:#6ff;
    border-top-color:#6ff;
    box-sizing:border-box;
    content:"";
    height:12vmin;
    left:2vmin;
    position:absolute;
    top:2vmin;
    width:12vmin;
  }
}

@keyframes spin {
  100% {
    transform:rotate(360deg);
  }
}
