$gray: #eeeff1;
$fms-border-gray: #e5e5e5;
$fms-header-gray: #737374;
$fms-header-bg-gray: #f3f4f5;
$fms-hover-gb-gray: #e7e7e8;
$fms-path: #4a4a4a;
$fms-sort-panel-bg: #e8e9ea;
$blue: #4285f4;
.img-18 { width: 18px; height: 18px }
.img-36 { width: 36px; height: 36px }
.img-50 { width: 50px; height: 50px }
.img-120 { width: 120px; height: 120px }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-120 { font-size: 120px; }
.material-icons.gray { color: $fms-header-gray; }
.material-icons.blue48cae4 { color: #48cae4; }
.material-icons.orangeffb703 { color: #ffb703; }
.material-icons.blue2b78fe { color: #2b78fe; }
.material-icons.blue1d7bf6{ color: #1d7bf6; }
.margin-left-1rem { margin-left: 1rem }
.mat-meun-item-styling {
  width: 200px;
  height: 50px;
  text-align: center;
  span{
    text-transform: uppercase;
  }
 }

 .select-file-txt{
    background-color: $blue;
    color: white;
 }

 .mat-menu-item-img{
   width: 200px;
   height: 50px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   span{
     text-transform: uppercase;
     margin-left: 1rem;
    }
 }

 .capitailize { text-transform: capitalize; }

.opacity_0{
  transition: all ease-in 0.3s;
  opacity: 0;
}
.opacity_1{
  transition: all ease-out 0.3s;
  opacity: 1;
}


:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button{
  outline: none;

  &:focus{
    outline: none;
  }
}

.file-or-folder {
  padding: 8px;
  overflow: hidden;
}


.spacer {
  flex: 1 1 auto;
}


.fmc-main-container{
  width: 100%;
  height: 100%;
  // border: 2px red solid;
  border: 2px $fms-border-gray solid;
  // border-radius: 1rem;
}

.fmc-header-container{
  width: 100%;
  height: 80px;
  // border: blue 2px solid;
  border-bottom: 2px $fms-border-gray solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $fms-header-bg-gray;
}

.fmc-header-logo{
  width: 20%;
  height: 100%;
  // border: orange 2px solid;
}

.fmc-header-searchbar-container{
  transition: all ease-in 0.3s;
  width: 50%;
  height: 90%;
  padding: 1rem;
  // border: orange 2px solid;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $gray;
  border: $fms-border-gray 2px solid;

  &:hover{
    transition: all ease-out 0.3s;
    background-color: white;
    input{
      transition: all ease-out 0.3s;
      background-color: white;
    }
  }

  input{
    transition: all ease-in 0.3s;
    font-size: large;
    width: 80%;
    height: 90%;
    border: none;
    background-color: $gray;
    margin-left: 1rem;
  }
  ::placeholder{
    opacity: 0.5;
    text-align: center;
  }

  input:focus{
    outline: none;
  }
  .material-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    border-radius: 1rem;
    padding: 5px;
    transition: all ease-in 0.3s;
  }

  .material-icons:hover{
    transition: all ease-out 0.3s;
    cursor: pointer;
    // color: black;
    background-color: $fms-hover-gb-gray;
  }
}



.fmc-header-searchbar-filter-container{
  // border: purple 2px solid;
  border-radius: 1rem;
  height: 0px;
  width: 50%;
  position: absolute;
  left: 25%;
  top: 155px;
  background-color: white;
  z-index: 3;
}

.fmc-header-setting-container{
  width: 20%;
  height: 100%;
  // border: orange 2px solid;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  .material-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    border-radius: 1rem;
    padding: 5px;
    transition: all ease-in 0.3s;
    margin-left: 1rem;
    // border: 2px blue solid
  }

  .material-icons:hover{
    transition: all ease-out 0.3s;
    cursor: pointer;
    // color: black;
    background-color: $fms-hover-gb-gray;
  }

  .material-icons:nth-child(1){
    // border: red 2px solid;
    margin-left: 0px;
  }
}


.fmc-body-container{
  width: 100%;
  height: calc(100% - 80px);
  // border: green 2px solid;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .fmc-body-setting-panel-container{
    width: 0px;
    height: 0%;
    position: absolute;
    right: 1rem;
    top: 80px;
    // border: 4px teal solid;
    background-color: white;
  }


  .fmc-body-menu-container{
    width: 25%;
    height: 100%;
    // border: red 4px solid;
    padding-top: 80px;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: $gray;
    color: rgb(175, 174, 175);
    .fmc-body-menu-list-container{
      // border: blue 2px solid;
      width: 100%;
      height: 50px;
      overflow: hidden;
      transition: all ease-out 0.3s;
      margin-bottom: 30px;

      .fmc-body-menu-list-header-container{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 10px;
        transition: all ease-in 0.3s;
        // border: orange 1px solid;

        &:hover{
          transition: all ease-out 0.3s;
          .material-icons{
            opacity: 1;
          }
        }
      }

      .fmc-body-menu-list-body-container{
        width: 100%;
        height: fit-content;
        // border: green 1px solid;

        .fmc-body-menu-list-item-container{
          transition: all ease-in 0.3s;
          color: rgb(76, 73, 76);
          width: 100%;
          height: 50px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          border-radius: 1rem;
          // border: red 1px solid;
          .material-icons{
            margin: 0 10px;
          }

          &:hover{
            transition: all ease-out 0.3s;
            background-color: rgb(207, 204, 207);
          }
        }
      }
    }
  }

  .fmc-body-explorer-container{
    width: 75%;
    height: 100%;
    // border: green 4px solid;
    background-color: white;

    .fmc-body-explorer-header-container{
      width: 100%;
      height: 80px;
      // border: 2px orange solid;
      border-bottom: 2px $fms-border-gray solid;
      padding: 1rem;
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .fmc-body-explorer-header-sort-container{
        // border: green 2px solid;
        position: absolute;
        width: 170px;
        right: 13.4%;
        top: 80px;
        background-color: $fms-header-bg-gray;
        overflow: hidden;
        height: 0px;
        z-index: 3;
        border-radius: 0 0 1rem 1rem;
        border-color: $fms-border-gray;

        .fmc-body-explorer-header-sort-property-container{
          width: 100%;
          height: 50px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          font-size: 20px;
          padding: 1rem;
          border-radius: 1rem;
          color: $fms-header-gray;
          transition: all ease-in 0.3s;

          .sort-property-tag{
            transition: all ease-in 0.3s;
            border-radius: 6px;
            padding: 6px;
            background-color: $fms-header-gray;
          }

          &:hover{
            transition: all ease-out 0.3s;
            background-color: #55a3fc;
            color: white;

            .sort-property-tag{
              transition: all ease-out 0.3s;
              background-color: white;
            }
          }
        }
      }

      .fmc-body-explorer-header-path-container{
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        // border: 2px blue solid;
        strong{
          font-size: x-large;
          color: $fms-path;
        }

        .location{
          padding: 1rem;
          border-radius: 1rem;
          transition: all ease-in 0.3s;
        }
        .location:hover{
          transition: all ease-out 0.3s;
          margin: 0 10px;
          cursor: pointer;
          background-color: $fms-hover-gb-gray;
        }
      }

      .material-icons{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6.7%;
        border-radius: 1rem;
        padding: 5px;
        transition: all ease-in 0.3s;
        margin-left: 1rem;
      }

      .material-icons:hover{
        transition: all ease-out 0.3s;
        cursor: pointer;
        // color: black;
        background-color: $fms-hover-gb-gray;
      }

      .material-icons:nth-child(1){
        margin-left: 0px;
      }
    }

    .fmc-body-explorer-body{
      width: 100%;
      height: calc(100% - 80px);
      // border: blue 2px solid;
      padding: 1rem;
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
      align-content: flex-start;
      flex-wrap: wrap;
      overflow-y: scroll;

      .file-element-container{
        // border: 2px red solid;
        width: 90px;
        height: fit-content;
        margin-right: 1rem;
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        .file-element-icon-container{
          // border: orange 1px solid;
          border-radius: 0.5rem;
          margin-bottom: 2px;
          width: 60px;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all ease-in 0.3s;
          &:hover{
            transition: all ease-out 0.3s;
            background-color: $fms-hover-gb-gray;
          }
        }

        .file-element-txt-container{
          // border: 1px purple solid;
          width: 100%;
          height: 26px;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          border-radius: 0.5rem;
          span{
            white-space: nowrap;
          }
        }
      }
    }
  }

  .fmc-body-info-container{
    width: 0%;
    height: 100%;
    background-color: $gray;
    // border: blue 2px solid;
    overflow: hidden;

    .fmc-body-info-header-container{
      width: 100%;
      height: 80px;
      padding: 1rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .material-icons{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        padding: 5px;
        width: 20%;
        transition: all ease-in 0.3s;
      }

      .material-icons:hover{
        transition: all ease-out 0.3s;
        cursor: pointer;
        // color: black;
        background-color: $fms-hover-gb-gray;
      }
    }

    .fmc-body-info-img-container{
      width: 100%;
      height: 25%;
      // border: red 2px solid;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .fmc-body-info-detail-container{
      width: 100%;
      height: 75%;
      // border: orange 2px solid;
      padding: 1rem;

      .fmc-body-info-detail-property-container{
        width: 100%;
        height: fit-content;
        margin-bottom: 1rem;

        .property-label {
          float:left;
          padding-right:1rem;
          width: 100px;
        }
        .property-text {
          overflow:hidden;
          word-wrap: break-word;
          display:block;
          height: fit-content;
        }
      }
    }
  }

}


