
<div class="fmc-main-container">

  <div class="fmc-header-container">
    <div class="fmc-header-logo">

    </div>

    <div class="fmc-header-searchbar-container">

      <span #searchBarBtn class="material-icons md-48 gray" (click)="searchFile('name', searchBarInput.value)">
        search
      </span>
      <input #searchBarInput type="text" placeholder="Search File Name" (keyup.enter)="searchBarBtn.click()">
      <span [matMenuTriggerFor]="searchMenu" class="material-icons md-48 gray">
        arrow_drop_down
      </span>
      <div #filterPanel class="fmc-header-searchbar-filter-container"></div>

      <mat-menu #searchMenu="matMenu" [overlapTrigger]="false" xPosition="before" yPosition="below">
        <ng-template matMenuContent>
          <button [matMenuTriggerFor]="typeMenu" mat-menu-item class="mat-meun-item-styling">
            <span>Type</span>
          </button>
          <button [matMenuTriggerFor]="ownerMenu" mat-menu-item class="mat-meun-item-styling">
            <span>Owner</span>
          </button>
        </ng-template>
      </mat-menu>

      <mat-menu #ownerMenu="matMenu">
        <ng-template matMenuContent>
          <button *ngFor="let owner of users" mat-menu-item (click)="searchFile('owner', owner.name)" class="mat-meun-item-styling">
            <span>{{owner.name}}</span>
          </button>
        </ng-template>
      </mat-menu>

      <mat-menu #typeMenu="matMenu">
        <ng-template matMenuContent>
          <button *ngFor="let type of searchType" mat-menu-item (click)="searchFile('type', type.identifier)" class="mat-menu-item-img">
            <span [ngSwitch]="type.type">
              <img *ngSwitchCase="'folder'" class="img-36" src="../../../assets/FMS/images/icons/folder.png" alt="folder icon">
              <img *ngSwitchCase="'doc'" class="img-36" src="../../../assets/FMS/images/icons/doc.png" alt="doc file icon">
              <img *ngSwitchCase="'xls'" class="img-36" src="../../../assets/FMS/images/icons/xls.png" alt="excel file icon">
              <img *ngSwitchCase="'ppt'" class="img-36" src="../../../assets/FMS/images/icons/ppt.png" alt="power point file icon">
              <img *ngSwitchCase="'txt'" class="img-36" src="../../../assets/FMS/images/icons/txt.png" alt="text file icon">
              <img *ngSwitchCase="'img'" class="img-36" src="../../../assets/FMS/images/icons/img.png" alt="image file icon">
              <img *ngSwitchCase="'zip'" class="img-36" src="../../../assets/FMS/images/icons/zip.png" alt="zip file icon">
              <img *ngSwitchCase="'pdf'" class="img-36" src="../../../assets/FMS/images/icons/pdf.png" alt="pdf file icon">
              <img *ngSwitchDefault class="img-36" src="../../../assets/FMS/images/icons/gen.png" alt="general file icon">
            </span>
            <span>{{type.type}}</span>
          </button>
        </ng-template>
      </mat-menu>
    </div>

    <div class="fmc-header-setting-container">
      <span class="material-icons md-48 gray" (click)="fileInput.click()">
        cloud_upload
      </span>

      <!-- disable this button for now -->
      <!-- <span class="material-icons md-48 gray" (click)="triggerSettingPanel(settingPanel)">
        settings
      </span> -->
    </div>

  </div>



  <div class="fmc-body-container">
    <div #settingPanel class="fmc-body-setting-panel-container">

    </div>

    <div class="fmc-body-menu-container">
      <div #listPanel_db class="fmc-body-menu-list-container">
        <div class="fmc-body-menu-list-header-container" (click)="triggerListPanel(listPanel_db, 0, superFileElements.length + 1)">
          <span>Data Base</span>
          <span *ngIf="!listPanelDisplay[0]" class="material-icons opacity_0">
            chevron_right
          </span>
          <span *ngIf="listPanelDisplay[0]" class="material-icons">
            expand_more
          </span>
        </div>
        <div class="fmc-body-menu-list-body-container">

          <div class="fmc-body-menu-list-item-container" (click)="navigateUp(null)">
            <span class="material-icons blue1d7bf6">
              inbox
            </span>
            <span>My Files</span>
          </div>

          <div *ngFor="let superFileElement of superFileElements" class="fmc-body-menu-list-item-container" (click)="navQuick(superFileElement)">
            <span *ngIf="superFileElement.name === conStr[0]" class="material-icons blue1d7bf6">
              inventory
            </span>
            <span *ngIf="superFileElement.name === conStr[1]" class="material-icons blue1d7bf6">
              store
            </span>
            <span *ngIf="superFileElement.name === conStr[2]" class="material-icons blue1d7bf6">
              receipt
            </span>
            <span *ngIf="!conStr.includes(superFileElement.name)" class="material-icons blue1d7bf6">
              folder
            </span>

            <span>{{superFileElement.name.length > 9 ? superFileElement.name.slice(0, 7) + '...' : superFileElement.name}}</span>
          </div>
        </div>

      </div>

      <!-- <div #listPanel_gd class="fmc-body-menu-list-container">
        <div class="fmc-body-menu-list-header-container" (click)="triggerListPanel(listPanel_gd, 1, 3)">
          <span>Google Drive</span>
          <span *ngIf="!listPanelDisplay[1]" class="material-icons opacity_0">
            chevron_right
          </span>
          <span *ngIf="listPanelDisplay[1]" class="material-icons">
            expand_more
          </span>
        </div>
        <div class="fmc-body-menu-list-body-container">
          <div class="fmc-body-menu-list-item-container">
            <span class="material-icons blue1d7bf6">
              inventory
            </span>
            <span>Invenotry</span>
          </div>

          <div class="fmc-body-menu-list-item-container">
            <span class="material-icons blue1d7bf6">
              store
            </span>
            <span>Sales</span>
          </div>

          <div class="fmc-body-menu-list-item-container">
            <span class="material-icons blue1d7bf6">
              receipt
            </span>
            <span>Orders</span>
          </div>
        </div>

      </div> -->

    </div>

    <div #explorerContainer class="fmc-body-explorer-container">

      <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">

      <div class="fmc-body-explorer-header-container">

        <div class="fmc-body-explorer-header-path-container">
          <strong *ngIf="!searched" class="location" (click)="navigateUp(null)">My Files</strong>
          <strong *ngIf="searched" class="location" (click)="searchFile(searchObject.key, searchObject.value)">Search Results</strong>
          <strong *ngFor="let file of path; let index = index">
            <span>/</span>
            <span class="location" (click)="navigateUp(file)" [matTooltip]="file.name" [matTooltipShowDelay]="500" [matTooltipDisabled]="!(file.name.length > 9)">
              {{file.name.length > 9 ? file.name.slice(0, 7) + '...' : file.name}}
            </span>
          </strong>
        </div>

        <div #sortPanel class="fmc-body-explorer-header-sort-container">
          <p *ngFor="let property of sortStr; let index = index" (click)="sortFile(index)" class="fmc-body-explorer-header-sort-property-container">
            <span [ngClass]="{'opacity_0': sortStrIndex !== index}" class="sort-property-tag"></span>
            <span class="margin-left-1rem capitailize">{{property}}</span>
          </p>
        </div>

        <span class="material-icons md-48 gray" (click)="triggerSortPanel(sortPanel)">
          sort
        </span>

        <span *ngIf="!searched" class="material-icons md-48 gray" (click)="openNewFolderDialog()">
          create_new_folder
        </span>

      </div>

      <div #explorerBody class="fmc-body-explorer-body" appFmcDragDrop [enableFileUpload]="!searched" (onFileDropped)="uploadFile($event)">


        <div *ngFor="let element of fileElements; let index = index" class="file-element-container">
          <div
          (click)="onSelect(element, index)"
          (contextmenu)="openMenu($event, menuTrigger)"
          class="file-element-icon-container"
          [matTooltip]="element.name"
          [matTooltipShowDelay]="500"
          [matTooltipDisabled]="!(element.name.length > 9)">
             <span [ngSwitch]="true">
                  <img *ngSwitchCase="element.isFolder" class="img-50" src="../../../assets/FMS/images/icons/folder.png" alt="folder icon">
                  <img *ngSwitchCase="element.info.type.includes(fileType[0].identifier) && !element.isFolder" class="img-50" src="../../../assets/FMS/images/icons/doc.png" alt="doc file icon">
                  <img *ngSwitchCase="element.info.type.includes(fileType[1].identifier) && !element.isFolder" class="img-50" src="../../../assets/FMS/images/icons/xls.png" alt="excel file icon">
                  <img *ngSwitchCase="element.info.type.includes(fileType[2].identifier) && !element.isFolder" class="img-50" src="../../../assets/FMS/images/icons/ppt.png" alt="power point file icon">
                  <img *ngSwitchCase="element.info.type.includes(fileType[3].identifier) && !element.isFolder" class="img-50" src="../../../assets/FMS/images/icons/txt.png" alt="text file icon">
                  <img *ngSwitchCase="element.info.type.includes(fileType[4].identifier) && !element.isFolder" class="img-50" src="../../../assets/FMS/images/icons/pdf.png" alt="pdf file icon">
                  <img *ngSwitchCase="element.info.type.includes(fileType[5].identifier) && !element.isFolder" class="img-50" src="../../../assets/FMS/images/icons/zip.png" alt="zip file icon">
                  <img *ngSwitchCase="element.info.type.includes(fileType[6].identifier) && !element.isFolder" class="img-50" src="../../../assets/FMS/images/icons/img.png" alt="image file icon">
                  <img *ngSwitchDefault class="img-50" src="../../../assets/FMS/images/icons/gen.png" alt="general file icon">
              </span>
          </div>

          <div class="file-element-txt-container" [class.select-file-txt]="index === selFileIndex">
              <span>{{element.name.length > 9 ? element.name.slice(0, 7) + '...' : element.name}}</span>
          </div>

          <span [matMenuTriggerFor]="fileElementMenu" [matMenuTriggerData]="{element: element}" #menuTrigger="matMenuTrigger"></span>
        </div>

        <mat-menu #fileElementMenu="matMenu" [overlapTrigger]="false" xPosition="after" yPosition="below">
          <ng-template matMenuContent let-element="element">
            <button *ngIf="!searched" mat-menu-item [matMenuTriggerFor]="moveToMenu" [matMenuTriggerData]="{self: element}">
              <mat-icon>open_with</mat-icon>
              <span>Move To</span>
            </button>
            <button mat-menu-item (click)="openRenameDialog(element)">
              <mat-icon>edit</mat-icon>
              <span>Rename</span>
            </button>
            <button *ngIf="!element.isFolder" mat-menu-item (click)="downloadFile(element)">
              <mat-icon>download</mat-icon>
              <span>Download</span>
            </button>
            <button mat-menu-item (click)="openInfoPanel(infoPanel, explorerContainer, element)">
              <mat-icon>info</mat-icon>
              <span>Info</span>
            </button>
            <button mat-menu-item (click)="deleteElement(element)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </ng-template>
        </mat-menu>

        <mat-menu #moveToMenu="matMenu">
          <ng-template matMenuContent let-self="self">
            <button *ngIf="self.parent !== 'root'" mat-menu-item (click)="moveElement(self,null,dirUp)">{{path.length >= 2 ? path[path.length - 2].name : 'My Files'}}</button>
            <ng-container *ngFor="let element of fileElements">
              <button *ngIf="element.isFolder && element._id !== self._id" mat-menu-item (click)="moveElement(self, element)">
                {{element.name.length > 9 ? element.name.slice(0, 7) + '...' : element.name}}
              </button>
            </ng-container>
          </ng-template>
        </mat-menu>

      </div>
      <app-loader *ngIf="isLoading"></app-loader>
      <app-fms-alert id="fms-alert"></app-fms-alert>

    </div>

    <div #infoPanel class="fmc-body-info-container">
      <div class="fmc-body-info-header-container">
        <span class="info-close-btn material-icons md-48 gray" (click)="closeInfoPanel(infoPanel, explorerContainer)">
          close
        </span>
      </div>
      <div [ngSwitch]="true" class="fmc-body-info-img-container">
          <img *ngSwitchCase="infoElement?.isFolder" class="img-120" src="../../../assets/FMS/images/icons/folder.png" alt="folder icon">
          <img *ngSwitchCase="infoElement?.info.type.includes(fileType[0].identifier) && !infoElement?.isFolder" class="img-120" src="../../../assets/FMS/images/icons/doc.png" alt="doc file icon">
          <img *ngSwitchCase="infoElement?.info.type.includes(fileType[1].identifier) && !infoElement?.isFolder" class="img-120" src="../../../assets/FMS/images/icons/xls.png" alt="excel file icon">
          <img *ngSwitchCase="infoElement?.info.type.includes(fileType[2].identifier) && !infoElement?.isFolder" class="img-120" src="../../../assets/FMS/images/icons/ppt.png" alt="power point file icon">
          <img *ngSwitchCase="infoElement?.info.type.includes(fileType[3].identifier) && !infoElement?.isFolder" class="img-120" src="../../../assets/FMS/images/icons/txt.png" alt="text file icon">
          <img *ngSwitchCase="infoElement?.info.type.includes(fileType[4].identifier) && !infoElement?.isFolder" class="img-120" src="../../../assets/FMS/images/icons/pdf.png" alt="pdf file icon">
          <img *ngSwitchCase="infoElement?.info.type.includes(fileType[5].identifier) && !infoElement?.isFolder" class="img-120" src="../../../assets/FMS/images/icons/zip.png" alt="zip file icon">
          <img *ngSwitchCase="infoElement?.info.type.includes(fileType[6].identifier) && !infoElement?.isFolder" class="img-120" src="../../../assets/FMS/images/icons/img.png" alt="image file icon">
          <img *ngSwitchDefault class="img-120" src="../../../assets/FMS/images/icons/gen.png" alt="general file icon">
      </div>
      <div class="fmc-body-info-detail-container">
        <div class="fmc-body-info-detail-property-container">
          <span class="property-label">Name:</span>
          <span class="property-text">{{infoElement?.name}}</span>
        </div>

        <div class="fmc-body-info-detail-property-container">
          <span class="property-label">Type:</span>
          <span class="property-text">{{infoElement?.info.type}}</span>
        </div>

        <div class="fmc-body-info-detail-property-container">
          <span class="property-label">Owner:</span>
          <span class="property-text">{{infoElement?.info.owner}}</span>
        </div>

        <div class="fmc-body-info-detail-property-container">
          <span class="property-label">Size:</span>
          <span class="property-text">{{formatBytes(infoElement?.info.size)}}</span>
        </div>

        <div class="fmc-body-info-detail-property-container">
          <span class="property-label">Where:</span>
          <span class="property-text">MongoDB Atlas Database</span>
        </div>

        <div class="fmc-body-info-detail-property-container">
          <span class="property-label">Modified:</span>
          <span class="property-text">{{formatDate(infoElement?.info.date)}}</span>
        </div>
      </div>

    </div>

  </div>

</div>


