<div *ngIf="selectedItemDetail" style="min-width: 1000px;">
  <form>
    <!-- Single Form for all types with minor differences within the form based on type  -->
    <table class="table table-form">
      <tr>
        <td colspan="2" style="padding:5px;">
          <label for="nameInput" *ngIf="(selectedItem?.type==INVENTORY_ITEM_TYPES.COMMERCIAL_PROTEIN || selectedItem?.type==INVENTORY_ITEM_TYPES.IN_HOUSE_PROTEIN); else regularItemNameBlock">
            Item Name<span class="star">*</span>
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="The name of the item">?</button>
          </label>
          <ng-template #regularItemNameBlock>
            <label for="nameInput">
              Item Name<span class="star">*</span>
              <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
                ngbTooltip="The name of the item">?</button>
            </label>
          </ng-template>
          <input id="nameInput" class="form-control" type="text" autocomplete="off"  *ngIf="enableEdit"
            [(ngModel)]="displayedItemDetail.name" name="name" />
          <p class="read-only-input" *ngIf="!enableEdit">{{displayedItemDetail.name}}</p>
        </td>
        <td colspan="1" style="padding:5px;">
          <label for="activeCheckBox">
            Active
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="Whether item is active or not">?</button>
          </label>
          <p class="read-only-input" *ngIf="enableEdit">
            <input type="checkbox" [(ngModel)]="displayedItemDetail.active" [ngModelOptions]="{standalone: true}"
              id="activeCheckBox">
          </p>
          <p class="read-only-input" *ngIf="!enableEdit">{{displayedItemDetail.active}}</p>
        </td>
        <td colspan="1" style="padding:5px;">
          <label for="shippedCheckBox">
            Shipped
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="Whether item has been shipped externally or not - can be modified via item checkout">?</button>
          </label>
          <p class="read-only-input">{{displayedItemDetail.shipped}}</p>
        </td>
      </tr>
      <tr>
        <td colspan="2" style="padding:5px;">
          <label for="reservedInput">
            Reserved?
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="Whether item is reserved for some exclusive purpose and client">?</button>
          </label>
          <p class="read-only-input" *ngIf="enableEdit">
             <input type="checkbox"
                    [checked]="displayedItemDetail.reserve"
                    (change)="toggleReserve()"
                    id="reserveCheckBox">
            </p>
          <p class="read-only-input" *ngIf="!enableEdit">{{displayedItemDetail.reserve}}</p>
        </td>
        <td colspan="2" style="padding:5px;" *ngIf="displayedItemDetail.reserve">
          <label for="reservedClientInput">
            Reserved for Client
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="The client that the item is reserved for">?</button>
          </label>
          <p class="read-only-input" *ngIf="enableEdit">
            <app-simple-client-search
                 [currentClient]="displayedItemDetail?.reserveForClient"
                 (clientSelected)="selectClientForItem($event)" >
            </app-simple-client-search>
          </p>
          <p class="read-only-input" *ngIf="!enableEdit">{{displayedItemDetail?.reserveForClient?.companyName}}</p>
        </td>
      </tr>
      <tr *ngIf="selectedItem?.type==INVENTORY_ITEM_TYPES.DRUG">
        <td colspan="4" style="padding:5px;">
          <label for="drugLotTypeInput">
             Drug Lot Type<span class="star">*</span>
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="The drug lot tpye associated with the item lot">?</button>
          </label>
          <select *ngIf="enableEdit"
                  class="form-control"
                  id="drugLotTypeInput"
                  #drugLotType
                  [value]="displayedItemDetail.drugLotType"
                  (change)="displayedItemDetail.drugLotType=drugLotType.value;">
            <option *ngFor="let d of drugLotTypes"
                    [value]="d"
                    [selected]="displayedItemDetail.drugLotType == d">
              {{d}}
            </option>
          </select>
          <p class="read-only-input" *ngIf="!enableEdit">{{displayedItemDetail.drugLotType}}</p>
        </td>
      </tr>
      <tr *ngIf="!(selectedItem?.type==INVENTORY_ITEM_TYPES.ANTI_SERA)">
        <td colspan="4" style="padding:5px;">
          <label for="lotInput" *ngIf="selectedItem?.type==INVENTORY_ITEM_TYPES.IN_HOUSE_PROTEIN; else regularLotBlock">
            Purification Information Lot #<span class="star">*</span>
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="The long lot number generated from the purification information">?</button>
          </label>
          <ng-template #regularLotBlock>
            <label for="lotInput" >
              Lot #<span class="star">*</span>
              <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
                ngbTooltip="The lot # of the item">?</button>
            </label>
          </ng-template>
          <input *ngIf="enableEdit" id="lotInput" class="form-control" type="text" autocomplete="off"
          [(ngModel)]="displayedItemDetail.lotNumber" name="lotNumber" />
          <p class="read-only-input" *ngIf="!enableEdit">{{displayedItemDetail.lotNumber}}</p>
        </td>
      </tr>
      <tr *ngIf="selectedItem?.type==INVENTORY_ITEM_TYPES.IN_HOUSE_PROTEIN || selectedItem?.type==INVENTORY_ITEM_TYPES.COMMERCIAL_PROTEIN">
        <td colspan="2" style="padding:5px;" *ngIf="selectedItem?.type==INVENTORY_ITEM_TYPES.IN_HOUSE_PROTEIN">
          <label for="referenceLotNumberInput">
            Reference Lot #<span class="star">*</span>
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="The lot # from the Affinity Purification Log Book.">?</button>
          </label>
          <input *ngIf="enableEdit" id="referenceLotNumberInput" class="form-control" type="text" autocomplete="off"
          [(ngModel)]="displayedItemDetail.referenceLotNumber" name="referenceLotNumber" />
          <p class="read-only-input" *ngIf="!enableEdit">{{displayedItemDetail.referenceLotNumber}}</p>
        </td>
        <td [attr.colspan]="selectedItem?.type==INVENTORY_ITEM_TYPES.IN_HOUSE_PROTEIN ? '2' : '4'" style="padding:5px;" *ngIf="selectedItem?.type==INVENTORY_ITEM_TYPES.IN_HOUSE_PROTEIN">
          <label for="hostInput">
            Host
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="The host for the antibody">?</button>
          </label>
          <input *ngIf="enableEdit" id="hostInput" class="form-control" type="text" autocomplete="off"
          [(ngModel)]="displayedItemDetail.host" name="host" />
          <p class="read-only-input" *ngIf="!enableEdit">{{displayedItemDetail.host}}</p>
        </td>
      </tr>
      <tr *ngIf="selectedItem?.type==INVENTORY_ITEM_TYPES.ANTI_SERA">
        <td colspan="4" style="padding:5px;">
          <label for="lotInput">
            Lot #/Bleed Date<span class="star">*</span>
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="The lot # of the item formatted as {{dateFormat}}">?</button>
          </label>
          <input *ngIf="enableEdit" id="lotInput" class="form-control" type="text" autocomplete="off"
          [(ngModel)]="displayedItemDetail.lotNumber" name="lotNumber" placeholder="{{dateFormat}}"/>
          <p class="read-only-input" *ngIf="!enableEdit">{{displayedItemDetail.lotNumber}}</p>
        </td>
      </tr>
      <tr>
        <td colspan="1" style="padding:5px;">
          <label for="itemCategoryInput">
            Item Category
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="The category of the item">?</button>
          </label>
          <p class="read-only-input">{{selectedItem.category}}</p>
        </td>
        <td colspan="1" style="padding:5px;">
          <label for="itemTypeInput">
            Item Type
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="The type of the item">?</button>
          </label>
          <p class="read-only-input">{{selectedItem.type}}</p>
        </td>
        <td colspan="1" style="padding:5px;">
          <label for="projectNumberInput">
            Project Number
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="The project number associated with the item lot">?</button>
          </label>
          <select *ngIf="enableEdit"
                  class="form-control"
                  id="projectNumberOption"
                  #projectNumber
                  [value]="displayedItemDetail.projectNumber"
                  (change)="displayedItemDetail.projectNumber=projectNumber.value;">
            <option *ngFor="let p of projectNumbers"
                    [value]="p"
                    [selected]="displayedItemDetail.projectNumber == p">
              {{p}}
            </option>
          </select>
          <p class="read-only-input" *ngIf="!enableEdit">{{displayedItemDetail.projectNumber}}</p>
        </td>
        <td colspan="1" style="padding:5px;">
          <label for="receiveUserInput"  *ngIf="selectedItem?.type==INVENTORY_ITEM_TYPES.IN_HOUSE_PROTEIN; else regularReceivePersonBlock">
            Purification Tech<span class="star">*</span>
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="The user who performed the anti body purification">?</button>
          </label>
          <ng-template #regularReceivePersonBlock>
            <label for="receiveUserInput">
              Receive Person
              <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
                ngbTooltip="The user who has received the item lot into the system">?</button>
            </label>
          </ng-template>

          <select *ngIf="enableEdit"
                  class="form-control"
                  id="receiveUserInput"
                  #receiveUser
                  [value]="displayedItemDetail.receiveUser.name"
                  (change)="displayedItemDetail.receiveUser.name=receiveUser.value;">
            <option *ngFor="let u of users"
                    [value]="u.name"
                    [selected]="displayedItemDetail.receiveUser.name == u.name">
              {{u.name}}
            </option>
          </select>
          <p class="read-only-input" *ngIf="!enableEdit">{{displayedItemDetail?.receiveUser?.name}}</p>
        </td>
      </tr>
      <tr>
        <td [attr.colspan]="selectedItem?.type==INVENTORY_ITEM_TYPES.MATRIX || selectedItem?.type==INVENTORY_ITEM_TYPES.ANTI_SERA ? '2' : '1'" style="padding:5px;">
          <label for="amountInput" *ngIf="selectedItem?.type==INVENTORY_ITEM_TYPES.DRUG; else regularAmountBlock">
            Quantity<span class="star">*</span>
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="The quantity of the drug in the lab">?</button>
          </label>
          <ng-template #regularAmountBlock>
            <label for="amountInput">
              Amount<span class="star">*</span>
              <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
                ngbTooltip="The amount of the item left in the lab">?</button>
            </label>
          </ng-template>

          <input *ngIf="enableEdit"
                  id="amountInput"
                  class="form-control"
                  type="number"
                  autocomplete="off"
                  [value]="displayedItemDetail.amount"
                  #inputAmount
                  name="amount"
                  (input)="updateAmount(inputAmount.value)" />
          <p class="read-only-input" *ngIf="!enableEdit">{{displayedItemDetail.amount}}</p>
        </td>
        <td *ngIf="!(selectedItem?.type==INVENTORY_ITEM_TYPES.MATRIX) && !(selectedItem?.type==INVENTORY_ITEM_TYPES.ANTI_SERA)" colspan="1" style="padding:5px;">
          <label for="inUseInput">
            In Use
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="The number of the items in use">?</button>
          </label>
          <input *ngIf="enableEdit" id="inUseInput" class="form-control" type="number" autocomplete="off"
          [(ngModel)]="displayedItemDetail.numberInUse" name="numberInUse" />
          <p class="read-only-input" *ngIf="!enableEdit">{{displayedItemDetail.numberInUse}}</p>
        </td>
        <td colspan="1" style="padding:5px;">
          <label for="containerSizeInput" *ngIf="selectedItem?.type==INVENTORY_ITEM_TYPES.DRUG">
            Amount/Container<span class="star">*</span>
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="The amount of drug in the specified container">?</button>
          </label>
          <label for="containerSizeInput" *ngIf="selectedItem?.type==INVENTORY_ITEM_TYPES.CONSUMABLE">
            Order Count<span class="star">*</span>
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="The total # of items per order">?</button>
          </label>
          <label for="containerSizeInput" *ngIf="!(selectedItem?.type==INVENTORY_ITEM_TYPES.CONSUMABLE) && !(selectedItem?.type==INVENTORY_ITEM_TYPES.DRUG)">
            Container Size
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="The size of the container of the item lot">?</button>
          </label>
          <input *ngIf="enableEdit" id="containerSizeInput" class="form-control" type="number" autocomplete="off"
          [(ngModel)]="displayedItemDetail.containerSize" name="containerSize" />
          <p class="read-only-input" *ngIf="!enableEdit">{{displayedItemDetail.containerSize}}</p>
        </td>
        <td colspan="1" style="padding:5px;">
          <label for="unitInputOption" *ngIf="!(selectedItem?.type==INVENTORY_ITEM_TYPES.CONSUMABLE)">
            Unit<span class="star">*</span>
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="The unit(s) of the item lot">?</button>
          </label>
          <label for="unitInputOption" *ngIf="selectedItem?.type==INVENTORY_ITEM_TYPES.CONSUMABLE">
            Order Unit<span class="star">*</span>
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="The units for the total # of items per order">?</button>
          </label>
          <select *ngIf="enableEdit" class="form-control" id="unitInputOption" #itemUnit [value]="displayedItemDetail.unit"
            (change)="displayedItemDetail.unit=itemUnit.value;">
            <option *ngFor="let u of unit" [value]="u" [selected]="displayedItemDetail.unit == u">
              {{u}}
            </option>
          </select>
          <p class="read-only-input" *ngIf="!enableEdit">{{displayedItemDetail.unit}}</p>
        </td>
      </tr>
      <tr *ngIf="selectedItem?.type==INVENTORY_ITEM_TYPES.ANTI_SERA">
        <td colspan="4" style="padding:5px;">
          <label for="immunizationCycleDayInput">
            Immunization Cycle Day<span class="star">*</span>
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="The immunization cycle day of the item describes how often an immunization is administered">?</button>
          </label>
          <input *ngIf="enableEdit" id="immunizationCycleDayInput" class="form-control" type="number" autocomplete="off"
          [(ngModel)]="displayedItemDetail.immunizationCycleDay" name="immunizationCycleDay" />
          <p class="read-only-input" *ngIf="!enableEdit">{{displayedItemDetail.immunizationCycleDay}}</p>
        </td>
      </tr>
      <tr>
        <td colspan="1" style="padding:5px;" *ngIf="!(selectedItem?.type==INVENTORY_ITEM_TYPES.ANTI_SERA) && !(selectedItem?.type==INVENTORY_ITEM_TYPES.CONSUMABLE)">
          <label for="ConcentrationInput">
            Concentration
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="The concentration of the item">?</button>
          </label>
          <input *ngIf="enableEdit" id="ConcentrationInput" class="form-control" type="text" autocomplete="off"
          [(ngModel)]="displayedItemDetail.concentration" name="concentration" />
          <p class="read-only-input" *ngIf="!enableEdit">{{displayedItemDetail.concentration}}</p>
        </td>
        <td colspan="1" style="padding:5px;" *ngIf="!(selectedItem?.type==INVENTORY_ITEM_TYPES.ANTI_SERA) && !(selectedItem?.type==INVENTORY_ITEM_TYPES.CONSUMABLE)">
          <label for="concentrationUnitInput">
            Concentration Unit
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="The concentration units of the item">?</button>
          </label>
          <select *ngIf="enableEdit"
                   class="form-control"
                   id="concentrationUnitInput"
                   #concentrationUnit
                   [value]="displayedItemDetail.concentrationUnit"
                   (change)="displayedItemDetail.concentrationUnit=concentrationUnit.value;">
            <option *ngFor="let cu of concentrationUnits"
                    [value]="cu"
                    [selected]="displayedItemDetail.concentrationUnit == cu">
              {{cu}}
            </option>
          </select>
          <p class="read-only-input" *ngIf="!enableEdit">{{displayedItemDetail.concentrationUnit}}</p>
        </td>
        <td colspan="1" style="padding:5px;" *ngIf="selectedItem?.type==INVENTORY_ITEM_TYPES.ANTI_SERA">
          <label for="titerInput">
            Titer 1x10^<span class="star">*</span>
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="The titer of the item">?</button>
          </label>
          <input *ngIf="enableEdit" id="titerInput" class="form-control" type="number" autocomplete="off"
          [(ngModel)]="displayedItemDetail.titer" name="titer" />
          <p class="read-only-input" *ngIf="!enableEdit">{{displayedItemDetail.titer}}</p>
        </td>
        <td colspan="1" style="padding:5px;" *ngIf="selectedItem?.type==INVENTORY_ITEM_TYPES.ANTI_SERA">
          <label for="titerAssayInput">
            Titer Assay<span class="star">*</span>
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="The titer assay of the item">?</button>
          </label>
          <input *ngIf="enableEdit" id="titerAssayInput" class="form-control" type="text" autocomplete="off"
          [(ngModel)]="displayedItemDetail.titerAssay" name="titer" />
          <p class="read-only-input" *ngIf="!enableEdit">{{displayedItemDetail.titerAssay}}</p>
        </td>
        <td colspan="1" style="padding:5px;">
            <label for="locationInput">
              Location<span class="star">*</span>
              <button type="button"
                      class="btn btn-outline-secondary help-tooltip"
                      placement="top"
                      ngbTooltip="Location of the Item Lot">?</button>
            </label>
            <select *ngIf="enableEdit"
                     class="form-control"
                     id="locationInput"
                     #itemLocation
                     value="displayedItemDetail?.location?.locationName"
                     (change)="updateItemLocation( itemLocation.value )">
              <option disabled>Select Location</option>
              <option *ngFor="let location of locations"
                      [value]="location.locationName"
                      [selected]="displayedItemDetail?.location?.locationName == location.locationName">
                  {{location.locationName}}
              </option>
            </select>
            <p class="read-only-input" *ngIf="!enableEdit">{{displayedItemDetail?.location?.locationName}}</p>
        </td>
        <td colspan="1" style="padding:5px;">
            <label for="subLocationInput">
              Sub Location
              <button type="button"
                      class="btn btn-outline-secondary help-tooltip"
                      placement="top"
                      ngbTooltip="Sub Location of the Item Lot">?</button>
            </label>
            <select *ngIf="enableEdit && subLocations.length > 0"
                    class="form-control"
                    id="subLocationInput"
                    #itemSubLocation
                    value="displayedItemDetail?.subLocation?.locationName"
                    (change)="updateItemSublocation( itemSubLocation.value )">
              <option disabled>Sub Location</option>
              <option *ngFor="let subLocation of subLocations"
                      [value]="subLocation.locationName"
                      [selected]="displayedItemDetail?.subLocation?.locationName == subLocation.locationName">
                  {{subLocation.locationName}}
              </option>
            </select>
            <p class="read-only-input" *ngIf="!enableEdit">{{displayedItemDetail?.subLocation?.locationName}}</p>
        </td>
      </tr>
      <tr>
        <td colspan="2" style="padding:5px; position: relative;">
          <label for="reciveDateInput" *ngIf="selectedItem?.type==INVENTORY_ITEM_TYPES.IN_HOUSE_PROTEIN; else recieveDateBlock">
            Preparation Date
            <button type="button"
                    class="btn btn-outline-secondary help-tooltip"
                    placement="top"
                    ngbTooltip="Date the Item Lot was prepared in the lab">?</button>
          </label>
          <ng-template #recieveDateBlock>
            <label for="reciveDateInput">
              Recieve Date<span class="star">*</span>
              <button type="button"
                      class="btn btn-outline-secondary help-tooltip"
                      placement="top"
                      ngbTooltip="Date the Item Lot was received into the lab">?</button>
            </label>
          </ng-template>
          <br *ngIf="enableEdit">
          <div class="inputGroup" *ngIf="enableEdit">
            <input
              readonly
              id="reciveDateInput"
              class="form-control font-12"
              angular-mydatepicker
              name="receiveDate"
              [(ngModel)]="receiveDate"
              [options]="myDatePickerOptions"
              (dateChanged)="changeReceiveDate($event)"
              #dp1="angular-mydatepicker"
              (click)="dp1.toggleCalendar()"/>
            <div class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dp1.clearDate()">
                ×
              </button>
            </div>
          </div>
          <!-- <my-date-picker *ngIf="enableEdit"
                           id="reciveDateInput"
                           name="receiveDate"
                           [options]="myDatePickerOptions"
                           [(ngModel)]="receiveDate"
                           (dateChanged)="changeReceiveDate($event)">
          </my-date-picker> -->
          <p class="read-only-input" *ngIf="!enableEdit">{{displayedItemDetail?.receivedDate | date: dateFormatDisplay}}</p>
        </td>
        <td colspan="2" style="padding:5px; position: relative;">
          <label for="expiryDateInput">
            Expiry Date
            <button type="button"
                    class="btn btn-outline-secondary help-tooltip"
                    placement="top"
                    ngbTooltip="Date the Item Lot expires">?</button>
          </label>
          <br *ngIf="enableEdit">
          <div class="inputGroup" *ngIf="enableEdit">
            <input
              readonly
              class="form-control font-12"
              angular-mydatepicker
              name="expiryDate"
              [(ngModel)]="expiryDate"
              [options]="myDatePickerOptions"
              (dateChanged)="changeExpiryDate($event)"
              #dp2="angular-mydatepicker"
              (click)="dp2.toggleCalendar()"/>
            <div class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dp2.clearDate()">
                ×
              </button>
            </div>
          </div>
          <!-- <my-date-picker *ngIf="enableEdit"
                           name="expiryDate"
                           [options]="myDatePickerOptions"
                           [(ngModel)]="expiryDate"
                           (dateChanged)="changeExpiryDate($event)">
          </my-date-picker> -->
          <p class="read-only-input" *ngIf="!enableEdit">{{displayedItemDetail?.expiryDate | date: dateFormatDisplay}}</p>
        </td>
      </tr>
      <tr *ngIf="selectedItem?.type==INVENTORY_ITEM_TYPES.COMMERCIAL_PROTEIN || selectedItem?.type==INVENTORY_ITEM_TYPES.IN_HOUSE_PROTEIN">
        <td colspan="2" style="padding:5px; position: relative;">
          <label for="retestDateInput">
            Retest Date
            <button type="button"
                    class="btn btn-outline-secondary help-tooltip"
                    placement="top"
                    ngbTooltip="Date the Item Lot will be retested">?</button>
          </label>
          <br *ngIf="enableEdit">
          <div class="inputGroup" *ngIf="enableEdit">
            <input
              readonly
              id="retestDateInput"
              class="form-control font-12"
              angular-mydatepicker
              name="restestDate"
              [(ngModel)]="restestDate"
              [options]="myDatePickerOptions"
              (dateChanged)="changeRetestDate($event)"
              #dp3="angular-mydatepicker"
              (click)="dp3.toggleCalendar()"/>
            <div class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dp3.clearDate()">
                ×
              </button>
            </div>
          </div>
          <!-- <my-date-picker *ngIf="enableEdit"
                           id="retestDateInput"
                           name="restestDate"
                           [options]="myDatePickerOptions"
                           [(ngModel)]="restestDate"
                           (dateChanged)="changeRetestDate($event)">
          </my-date-picker> -->
          <p class="read-only-input" *ngIf="!enableEdit">{{displayedItemDetail?.retestDate | date: dateFormatDisplay}}</p>
        </td>
        <td colspan="2" style="padding:5px; position: relative;">
          <label for="apPrepDateInput">
            AP Column Prep Date
            <button type="button"
                    class="btn btn-outline-secondary help-tooltip"
                    placement="top"
                    ngbTooltip="Date the Affinity Purification was prepared">?</button>
          </label>
          <br *ngIf="enableEdit">
          <div class="inputGroup" *ngIf="enableEdit">
            <input
              readonly
              class="form-control font-12"
              angular-mydatepicker
              name="apPrepDate"
              [(ngModel)]="apPrepDate"
              [options]="myDatePickerOptions"
              (dateChanged)="changeAPPrepDate($event)"
              #dp4="angular-mydatepicker"
              (click)="dp4.toggleCalendar()"/>
            <div class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dp4.clearDate()">
                ×
              </button>
            </div>
          </div>
          <!-- <my-date-picker *ngIf="enableEdit"
                           name="apPrepDate"
                           [options]="myDatePickerOptions"
                           [(ngModel)]="apPrepDate"
                           (dateChanged)="changeAPPrepDate($event)">
          </my-date-picker> -->
          <p class="read-only-input" *ngIf="!enableEdit">{{displayedItemDetail?.affinityPurificationPreparationDate | date: dateFormatDisplay}}</p>
        </td>
      </tr>

      <tr *ngIf="selectedItem?.type==INVENTORY_ITEM_TYPES.CHEMICAL">
        <td colspan="1" style="padding:5px;">
          <label for="storeTemperatureInput">
            Store Temperature (°C)
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="The required storeage temparature of the item">?</button>
          </label>
          <input *ngIf="enableEdit"
                  id="storeTemperatureInput"
                  class="form-control"
                  type="text"
                  autocomplete="off"
                 [(ngModel)]="displayedItemDetail.storeTemperature"
                 name="storeTemperature" />
          <p class="read-only-input" *ngIf="!enableEdit">{{displayedItemDetail.storeTemperature}}</p>
        </td>
        <td colspan="2" style="padding:5px;">
          <label for="hazardLevelInput">
            Hazard Level<span class="star">*</span>
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="The level of hazard entailed from handling the item">?</button>
          </label>
          <select *ngIf="enableEdit"
                  class="form-control"
                  id="hazardLevelInput"
                  #hazard
                  [value]="displayedItemDetail.hazardLevel"
                  (change)="displayedItemDetail.hazardLevel=hazard.value;">
            <option *ngFor="let h of hazardLevels" [value]="h" [selected]="displayedItemDetail.hazardLevel == h">
              {{h}}
            </option>
          </select>
          <p class="read-only-input" *ngIf="!enableEdit">{{displayedItemDetail.hazardLevel}}</p>
        </td>
        <!-- <td colspan="1" style="padding:5px;">
          <label for="batchNumberInput">
            Batch #
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="The batch number of the item">?</button>
          </label>
          <input *ngIf="enableEdit"
                  id="batchNumberInput"
                  class="form-control"
                  type="text"
                  autocomplete="off"
                 [(ngModel)]="displayedItemDetail.batchNumber"
                 name="batchNumber" />
          <p class="read-only-input" *ngIf="!enableEdit">{{displayedItemDetail.batchNumber}}</p>
        </td> -->
        <td colspan="1" style="padding:5px;">
          <label for="purityInput">
            Purity (%)
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="The purity percentage of the item">?</button>
          </label>
          <input *ngIf="enableEdit"
                  id="purityInput"
                  class="form-control"
                  type="text"
                  autocomplete="off"
                 [(ngModel)]="displayedItemDetail.purity"
                 name="purity" />
          <p class="read-only-input" *ngIf="!enableEdit">{{displayedItemDetail.purity}}</p>
        </td>
      </tr>
      <tr *ngIf="selectedItem?.type==INVENTORY_ITEM_TYPES.IN_HOUSE_PROTEIN || selectedItem?.type==INVENTORY_ITEM_TYPES.COMMERCIAL_PROTEIN ">
        <td colspan="1" style="padding:5px;">
          <label for="volumeInput">
            Volume
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="The volume of the item">?</button>
          </label>
          <input *ngIf="enableEdit"
                  id="volumeInput"
                  class="form-control"
                  type="number"
                  autocomplete="off"
                  [(ngModel)]="displayedItemDetail.volume"
                  name="volume" />
          <p class="read-only-input" *ngIf="!enableEdit">{{displayedItemDetail.volume}}</p>
        </td>
        <td colspan="1" style="padding:5px;">
          <label for="volumeInputUnit">
            Volume Unit
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="The volume units of the item">?</button>
          </label>
          <select *ngIf="enableEdit"
                  class="form-control"
                  id="volumeInputUnit"
                  #volumeUnit
                  [value]="displayedItemDetail.volumeUnit"
                  (change)="displayedItemDetail.volumeUnit=volumeUnit.value;">
            <option *ngFor="let u of unit" [value]="u" [selected]="displayedItemDetail.volumeUnit == u">
              {{u}}
            </option>
          </select>
          <p class="read-only-input" *ngIf="!enableEdit">{{displayedItemDetail.volumeUnit}}</p>
        </td>
        <td colspan="1" style="padding:5px;">
          <label for="columnUsageInput">
            Column Usage
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="The column usage of the item">?</button>
          </label>
          <input *ngIf="enableEdit"
                  id="columnUsageInput"
                  class="form-control"
                  type="text"
                  autocomplete="off"
                  [(ngModel)]="displayedItemDetail.columnUsage"
                  name="columnUsage" />
          <p class="read-only-input" *ngIf="!enableEdit">{{displayedItemDetail.columnUsage}}</p>
        </td>
        <td colspan="1" style="padding:5px;">
          <label for="columnPreparationNumberInput">
            Column Preparation #
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="The Column Preparation Number of the item">?</button>
          </label>
          <input *ngIf="enableEdit"
                  id="columnPreparationNumberInput"
                  class="form-control"
                  type="text"
                  autocomplete="off"
                  [(ngModel)]="displayedItemDetail.columnPreparationNumber"
                  name="columnPreparationNumber" />
          <p class="read-only-input" *ngIf="!enableEdit">{{displayedItemDetail.columnPreparationNumber}}</p>
        </td>
      </tr>
      <tr>
        <td colspan="4" style="padding:5px;">
          <label for="commentInput">
            Comment(s)
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="Comments related to the item lot">?</button>
          </label>
          <textarea *ngIf="enableEdit" id="commentInput" class="form-control" [(ngModel)]="displayedItemDetail.comment"
            name="comments"></textarea>
          <div *ngIf="!enableEdit" class="read-only-textarea">{{displayedItemDetail.comment}}</div>
        </td>
      </tr>
      <tr>
        <td colspan="4" style="padding:5px;">
          <div *ngIf="enableEdit">
            <input type="checkbox" [checked]="displayedItemDetail.meetsAcceptanceCriteria" [(ngModel)]="displayedItemDetail.meetsAcceptanceCriteria" id="doesMeet" [ngModelOptions]="{ standalone: true }"/>
            <label for="doesMeet">&nbsp;&nbsp;Meets acceptance criteria</label>
          </div>
          <div *ngIf="!enableEdit">
            <label>Meets acceptance criteria: {{ displayedItemDetail.meetsAcceptanceCriteria ? 'Yes' : 'No' }}</label>
          </div>
        </td>
      </tr>
      <tr *ngIf="displayedItemDetail.checkoutPurpose">
        <td colspan="4" style="padding:5px;">
          <label for="commentInput">
            Checkout Purpose
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="Reason's supplied for purpose of checking out this item">?</button>
          </label>
          <textarea class="form-control"
                    [value]="displayedItemDetail.checkoutPurpose"
                    [readonly]="true"
                    rows="4">
          </textarea>
        </td>
      </tr>


      <tr *ngIf="selectedItem?.type==INVENTORY_ITEM_TYPES.MATRIX || selectedItem?.type==INVENTORY_ITEM_TYPES.ANTI_SERA">

        <td colspan="5" style="padding:5px;">
         <table class="table table-bordered table-small">
          <tr>
            <th [attr.colspan]="enableEdit? '8' : '6'" style="padding:5px; text-align: center;">Vial Details</th>
          </tr>
          <tr>
            <th colspan="1" style="padding:5px;" *ngIf="enableEdit">&nbsp;</th>
            <th colspan="1" style="padding:5px;">Vial #</th>
            <th colspan="1" style="padding:5px;">Volume<span class="star">*</span></th>
            <th colspan="1" style="padding:5px;">Unit<span class="star">*</span></th>
            <th colspan="1" style="padding:5px;">Status<span class="star">*</span></th>
            <th colspan="1" style="padding:5px;">Location<span class="star">*</span></th>
            <th colspan="1" style="padding:5px;">Sub Location</th>
            <th colspan="1" style="padding:5px;" *ngIf="enableEdit">&nbsp;</th>
          </tr>
          <tr *ngFor="let vialDetail of displayedItemDetail.inventoryDetailVials; let i = index">
            <td *ngIf="enableEdit">
              <input autocomplete="off"
                     type="checkbox"
                     (change)="toggleVialForCheckout(vialDetail?.inventoryDetailVialId)"
                     [checked]="vialDetail?.inventoryDetailVialId == checkedVialId">
            </td>
            <td colspan="1" style="padding:5px;">
              <p class="read-only-input">{{vialDetail.vialNumber}}</p>
            </td>
            <td colspan="1" style="padding:5px;">
              <input *ngIf="enableEdit"
                      class="form-control"
                      type="number"
                      autocomplete="off"
                      #vialDetailVolume
                      [value]="vialDetail.volume"
                      (change)="vialVolumeChanged( i, vialDetailVolume.value )" />
              <p class="read-only-input" *ngIf="!enableEdit">{{vialDetail.volume}}</p>
            </td>
            <td colspan="1" style="padding:5px;">
              <select *ngIf="enableEdit"
                      class="form-control"
                      #vialDetailVolumeUnit
                      [value]="vialDetail.unit"
                      (change)="vialVolumeUnitChanged( i, vialDetailVolumeUnit.value )">
                <option *ngFor="let volUnit of volUnits"
                        [value]="volUnit"
                        [selected]="vialDetail?.unit == volUnit">
                    {{volUnit}}
                </option>
              </select>
              <p class="read-only-input" *ngIf="!enableEdit">{{vialDetail.unit}}</p>
            </td>
            <td colspan="1" style="padding:5px;">
              <select *ngIf="enableEdit"
                     class="form-control"
                     #vialStatus
                     [value]="vialDetail.status"
                     (change)="vialStatusChanged( i, vialStatus.value )">
               <option *ngFor="let vialStatusType of vialDetailStatusTypes"
                       [value]="vialStatusType"
                       [selected]="vialDetail?.status == vialStatusType">
                   {{vialStatusType}}
               </option>
             </select>
              <p class="read-only-input" *ngIf="!enableEdit">{{vialDetail.status}}</p>
            </td>
            <td colspan="1" style="padding:5px;">
                <select *ngIf="enableEdit"
                        class="form-control"
                        id="vialLocationInput"
                        #vialLocation
                        value="vialDetail?.location?.locationName"
                        (change)="updateVialLocation(i, vialLocation.value )">
                  <option value=""
                          disabled
                          [selected]="!vialDetail.location">
                          Select Location
                  </option>
                  <option *ngFor="let location of locations"
                          [value]="location.locationName"
                          [selected]="vialDetail?.location?.locationName == location.locationName">
                      {{location.locationName}}
                  </option>
                </select>
                <p class="read-only-input" *ngIf="!enableEdit">{{vialDetail?.location?.locationName}}</p>
            </td>
            <td colspan="1" style="padding:5px;">
                <select *ngIf="enableEdit && vialSubLocations[i].length > 0"
                        class="form-control"
                        id="vialSubLocationInput"
                        #vialSubLocation
                        value="vialDetail?.subLocation?.locationName"
                        (change)="updateVialSublocation(i, vialSubLocation.value )">
                  <option disabled>Sub Location</option>
                  <option *ngFor="let subLocation of vialSubLocations[i]"
                          [value]="subLocation.locationName"
                          [selected]="vialDetail?.subLocation?.locationName == subLocation.locationName">
                      {{subLocation.locationName}}
                  </option>
                </select>
                <p class="read-only-input" *ngIf="!enableEdit">{{vialDetail?.subLocation?.locationName}}</p>
            </td>

            <td>
              <button *ngIf="enableEdit && (vialDetail.inventoryDetailVialId === -1)"
                      class="btn btn-outline-danger icon-btn"
                      ngbTooltip="Remove vial"
                      (click)="removeVialDetail(i)">
                <i class="fas fa-times"></i>
              </button>
              <button *ngIf="vialDetail?.checkoutPurpose"
                       ngbTooltip="View Vial Checkout History"
                       class="btn icon-btn"
                      (click)="viewVialCheckoutHistory(i)" >
                <i class="fas fa-eye"></i>
              </button>
            </td>
          </tr>
          <tr *ngIf="enableEdit">
            <td colspan="8" style="padding:5px; text-align: center;">
              <button class="btn btn-info" (click)="addVialDetail()">
                <i class="far fa-plus-square"></i>
              </button>
              &nbsp;
              <button [disabled]="!checkedVialId || checkedVialId < 0" class="btn btn-info" (click)="checkoutVials()">
                <i class="far fa-cloud-upload"></i>Checkout
              </button>
            </td>
          </tr>

         </table>
        </td>
      </tr>
     </table>



  </form>


  <ngb-alert *ngIf="inputWarning.length > 0" (close)="inputWarning=[]">
    <ng-container *ngFor="let warning of inputWarning; let i = index">
      <p>
        <strong>{{warning}}</strong>
      </p>
    </ng-container>
  </ngb-alert>


  <div class="submit-buttons">
    <button *ngIf="enableEdit" (click)="checkInput();" id="saveItemDetail">Save</button>
    <button type="button" (click)="cancelItemDetail()" id="cancelItemDetail">Cancel</button>
  </div>
</div>


<ng-template #checkoutVialItem let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">
      Check Out Vial
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="c('');">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-vial-check-out [checkoutInventory]="selectedItem"
                        [checkoutInventoryDetailId]="displayedItemDetail?.inventoryDetailId"
                        [checkoutInventoryDetailVialId]="checkedVialId"
                        (update)="updateItemFromVialCheckout($event); c(''); checkedVialId = undefined;"
                        (cancel)="c('');">
    </app-vial-check-out>
  </div>
</ng-template>



<ng-template #vialCheckoutHistory let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">
      Vial Check Out History
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="c(''); vialCheckoutPurpose = '';">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-form">
      <tr>
        <td colspan="1" style="padding:5px;">
          <label for="commentInput">
            Checkout Purpose
            <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top"
              ngbTooltip="Reason's supplied for purpose of checking out this vial">?</button>
          </label>
          <textarea class="form-control"
                    [value]="vialCheckoutPurpose"
                    [readonly]="true"
                    rows="4">
          </textarea>
        </td>
      </tr>
    </table>
  </div>
</ng-template>
