.submit-buttons {
  /* text-align: right; */
  margin-top: 2rem;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  // padding: 0 1rem;

  button{
    width: 80px;
    height: 100%;
    margin-left: 1rem;
    background-color: #17a2b8;
    color: white;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    transition: all ease-in 0.3s;

    &:hover{
      cursor: pointer;
      transition: all ease-out 0.3s;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    }
  }

  span{
    transition: all ease-in 0.3s;
    border-radius: 1rem;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
      cursor: pointer;
      transition: all ease-out 0.3s;
      background-color: #e7e7e8;
    }
  }
}

.item-form {
  font-size: 12px;
}

.unit-dropdown-btn {
  width: 30%;
}

.unit-list {
  font-size: 12px;
  width: 100%;
  padding-left: 15px;
}

.submit-buttons {
  text-align: right;
}

.item-type {
  margin: 0px 10px;
}

.small-form-group{
  display: inline-block;
  height: 50px;
}

.small-form-control{
  display: inline-block;
    border: 0.01em solid lightgrey;
    padding: 5px;
    height: 100%;
}

.small-form-control>select{
  display: block;
  border: 0.01em solid #ddd;
}

.small-form-group>.btn{
  margin: 0px;
  height: 100%;
  vertical-align: top;
}

.star{
  color:red;
}

.table{
  border:black;
}

p{
  border:white;
  margin:0px;
}


div.form-group{
  margin:0px;
  padding:0px;
  /* width: 30%; */
}

/* .form-group{
  margin:0px;
  padding:0px;
} */

.fix-table{
  table-layout: fixed;
}

input.form-control {
  padding:15px,0px;
  margin:0px,0px,0px,0px;
  font-size: 12px;
  /* width:220px; */
  height:39px;
}

select.form-control {
  padding:0px;
  margin:0px,0px,0px,0px;
  font-size: 12px;
  /* width:220px; */
}

textarea.form-control{
  font-size: 12px;
}

.smalltable{
  border:0px;
  padding:0px;
  margin:0px;
  width:10%;
}

/* .special{
  font-weight:bold;
  font-size:16px;
  color:#008080;
} */

label{
  margin-bottom:0px;
}
