.folder-location-details input, .folder-location-details select, .folder-location-details text-area {
  font-size: 1rem !important;
}
@page{
  size: auto !important;
  margin: 0 !important;
}
@media print {
  /* * {
    display: none !important;
  }
  #barcode {
    display: block !important;
    position: absolute !important;
    left: 70px !important;
  } */
}
@media print {
  body * {
    visibility: hidden;
  }
  #section-to-print, #section-to-print * {
    visibility: visible;
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }
}