<div class="tab-container">
  <h2>Manage Locations</h2>

  
  

  <div class="row control-box">
    <button class="btn btn-default menu-btn" (click)="createNewLocation()"> 
      <i class="fa fa-plus" aria-hidden="true"></i> New Location
    </button>
    <button class="btn btn-default menu-btn" *ngIf="selectedLocation && !newLocation" (click)="addSubLocation()"> 
      <i class="fa fa-plus" aria-hidden="true"></i> New Sub Location
    </button>
  </div>

  <ngb-alert *ngIf="!hideWarning" (close)="hideWarning=true">
    <ng-container *ngFor="let warning of inputWarning; let i = index">
      <p>
        <strong>{{warning}}</strong>
      </p>
    </ng-container>
  </ngb-alert>

  <div *ngIf="!newLocation" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-container">
    <span class="field-title">Select Location</span>
    <select class="form-control" id="locationSelection"  #locationSelection (change)="selectLocation(locationSelection.value);">
      <option disabled>Location</option>
      <option *ngFor="let l of locations" [value]="l.locationId" [selected]="selectedLocation?.locationId == l.locationId">{{l.locationName}}</option>
    </select>
    
    <table *ngIf="selectedLocation" class="table table-scroll" >
      <thead>
        <tr>
          <th>Location Name</th>
          <th>Sub Location Name</th>
        </tr>
      </thead>  
      <tbody>
        <tr *ngFor="let subLocation of selectedLocation.subLocations; let i = index">
          <td>{{selectedLocation.locationName}}</td>
          <td>
            <input autocomplete="off" class="form-control" [(ngModel)]="subLocation.locationName"  />
            <button  class="btn btn-warning" (click)="removeSubLocation(i);">Remove Sub Location</button>
          </td>
        </tr>
        <tr *ngIf="selectedLocation.subLocations == undefined || selectedLocation.subLocations.length < 1">
          <td colspan="2">No current sub locations</td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="form-group submit-buttons">
              <button  class="btn btn-primary" (click)="saveLocation();">Save</button>
            </div>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>


  <div *ngIf="newLocation && selectedLocation" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-container">
    
    <table class="table table-scroll" >
      <thead>
        <tr>
          <th>Location Name</th>
        </tr>
      </thead>  
      <tbody>  
        <tr>       
          <td>
            <input autocomplete="off" class="form-control" [(ngModel)]="selectedLocation.locationName"  />
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="form-group submit-buttons">
              <button  class="btn btn-primary" (click)="addLocation();">Add</button>
              &nbsp;
              <button  class="btn btn-primary" (click)="cancelAdd()">Cancel</button>
            </div>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>

  

</div>