.toggle-edit-input-container {
  width: 100%;
}

mat-form-field {
  font-size: 1rem;
  width: 100%;

  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }
}

mat-error {
  margin: 20px 0;
}

input {
  font-size: 1rem;
}