<div class="search-container background-color">
  <div class="wrap">
    <a  id="text-btn" (click)="onCancel()">CANCEL</a>
    <div class="search margin-left-20 margin-right-10">
       <input type="text" class="searchTerm" placeholder="What are you looking for?" [(ngModel)]="searchData" (keyup.enter)="onKeyEvent()">

       <button id="searchBtn" type="submit" class="searchButton center-btn-icon" (click)="onSearch()" matTooltip="Search worksheet by name" [matTooltipPosition]="'above'">
         <span class="material-icons btn-animation">
          search
          </span>
      </button>
    </div>
  </div>
</div>
