.custodian-nav-btn-container{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  span{
    margin-right: 2rem;
    transition: all ease-in 0.3s;
    text-align: center;
    &:hover{
      transition: all ease-out 0.3s;
      cursor: pointer;
      text-decoration: underline;
      transform:  translateY(-3px);
    }
  }
}


.loader-container{
  position: absolute;
  width: calc(100% - 310px);
  height: calc(100% - 90px);
  z-index: 11;
  // background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

.loader {
  animation:spin 1s infinite linear;
  border:solid 2vmin transparent;
  border-radius:50%;
  border-right-color:#09f;
  border-top-color:#09f;
  box-sizing:border-box;
  height:20vmin;
  left:50%;
  position:fixed;
  top:50%;
  width:20vmin;
  z-index:11;

  &:before {
    animation:spin 2s infinite linear;
    border:solid 2vmin transparent;
    border-radius:50%;
    border-right-color:#3cf;
    border-top-color:#3cf;
    box-sizing:border-box;
    content:"";
    height:16vmin;
    left:0;
    position:absolute;
    top:0;
    width:16vmin;
  }
  &:after {
    animation:spin 3s infinite linear;
    border:solid 2vmin transparent;
    border-radius:50%;
    border-right-color:#6ff;
    border-top-color:#6ff;
    box-sizing:border-box;
    content:"";
    height:12vmin;
    left:2vmin;
    position:absolute;
    top:2vmin;
    width:12vmin;
  }
}

@keyframes spin {
  100% {
    transform:rotate(360deg);
  }
}
