<div class="folder-custodian-content">

  <div>
    <div *ngIf="isReqLoading || isAckLoading" class="loader-container">
      <div class="loader"></div>
    </div>

    <div *ngIf="!isReqLoading">
      <div class="details-header" style="margin-bottom: 30px;">
        <h1>Transfer Requests</h1>
      </div>


      <div *ngIf="countOfReq < 1 && pageOfReq === 1; else showTransferRequests">
        <p>No folder request is pending.</p>
      </div>

      <div *ngIf="countOfReq < 1 && pageOfReq > 1">
        <p>End of list, please go back.</p>
      </div>


      <ng-template #showTransferRequests>
        <div class="table-responsive tableFixHead p-0 m-0 mb-4" style="min-height: unset !important;">
          <table class="table m-0">
            <thead>
              <tr>
                <th class="text-center" width="60"></th>
                <th width="200">Folder</th>
                <th width="200">Requested by</th>
                <th>Note</th>
                <th width="165">Action</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let request of pendingRequests; let i = index">
                <tr>
                  <td valign="middle" class="text-center"><i style="font-size: 16px;" class="fa fa-quote-right"></i></td>
                  <td width="200" valign="middle">{{ request.folder.title }}</td>
                  <!-- <td width="200" valign="middle">{{ request.tobeCustodian.name }}</td> -->
                  <td width="200" valign="middle">{{ request.sender.name }}</td>
                  <td valign="middle">{{ request.note?.length > 50 ? request.note?.slice(0, 50)+'...' : request.note }}</td>
                  <td width="165" valign="middle" class="text-right">
                    <button (click)="updateStatus(request, 'rejected')" class="btn btn-outline-danger btn-sm">Reject</button>
                    <button (click)="updateStatus(request, 'accepted')" class="btn btn-success btn-sm ml-3">Accept</button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </ng-template>

      <div class="custodian-nav-btn-container">
        <span *ngIf="pageOfReq > 1" (click)="pageSwitch('pre', 'requested')">Previous Page</span>
        <span *ngIf="countOfReq >= 10"  (click)="pageSwitch('next', 'requested')">Next Page</span>
      </div>
    </div>

  </div>



  <hr class="mb-5 mt-5"/>

  <div>

    <div *ngIf="!isAckLoading">
      <div class="details-header" style="margin-bottom: 30px;">
        <h1>Acknowledgements</h1>
      </div>

      <div *ngIf="countOfAck < 1 && pageOfAck === 1; else showPendingAcknowledgements">
        <p>No acknowledgement is pending.</p>
      </div>

      <div *ngIf="countOfAck < 1 && pageOfAck > 1">
        <p>End of list, please go back.</p>
      </div>

      <ng-template #showPendingAcknowledgements>
        <div class="table-responsive tableFixHead p-0 m-0 mb-4" style="min-height: unset !important;">
          <table class="table m-0">
            <thead>
              <tr>
                <th class="text-center" width="60"></th>
                <th width="200">Folder</th>
                <th></th>
                <th width="165"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let request of acceptedRequests; let i = index">
                <tr>
                  <td valign="middle" class="text-center"><i style="font-size: 18px;" class="fa fa-check-circle"></i></td>
                  <td width="200" valign="middle">{{ request.folder.title }}</td>
                  <!-- <td valign="middle">Have you received this folder from <strong>{{ request.requestedBy.name }}</strong>?</td> -->
                  <td valign="middle">Have you received this folder from <strong>{{ request.receiver.name }}</strong>?</td>
                  <td width="165" valign="middle" class="text-right">
                    <!-- <button (click)="updateStatus(request, 'requested')" class="btn btn-outline-danger btn-sm">No</button> -->
                    <button (click)="updateStatus(request, 'acknowledged')" class="btn btn-success btn-sm ml-3">Yes</button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </ng-template>

      <div class="custodian-nav-btn-container">
        <span *ngIf="pageOfAck > 1" (click)="pageSwitch('pre', 'accepted')">Previous Page</span>
        <span *ngIf="countOfAck >= 10"  (click)="pageSwitch('next', 'accepted')">Next Page</span>
      </div>
    </div>

  </div>



</div>
