.controller-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: green 2px solid; */
}

/* resets and general styles */

* {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.timer {
  height: 450px;
  width: auto;
  margin-top: 30px;
}

::-moz-selection {
  color: #ffffff;
  background: #ff5722;
}

::selection {
  color: #ffffff;
  background: #ff5722;
}

span,
a,
strong {
  font-weight: 700;
}

/* section */

section {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  /* border: blue 2px solid; */
}

section h1,
section p.meta {
  color: #ffffff;
  margin-bottom: 15px;
}

/* section hgroup{margin-top: -360px;} */

section p.numbers {
  font-size: 6em;
}
section p.meta,
section p.strings {
  font-size: 1.5em;
}
section h1 {
  font-size: 4.5em;
}

/* countdown styles */
.cd-box p {
  display: inline-block;
  text-align: center;
}

p.numbers {
  width: 100%;
  height: 85%;
  background: #ffffff;
  margin-top: -25px;
  padding-top: 100px;
}

p.strings {
  width: 100%;
  height: auto;
  padding: 30px 0;
  background: #ff5722;
  color: #ffffff;
}

div.cd-box {
  width: 210px;
  height: 360px;
  background: #ffffff;
  float: left;
  padding: 25px 0 0 0;
  margin: 30px 15px 0 0;
  -webkit-box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
  -moz-box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
  box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
}

div.cd-box.wider {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: relative;
  width: 220px;
  left: 150px;
}

.width-100{ width: 100px; }
.width-150{ width: 150px; }

/* Butto click animation */
.primary-btn-animation{
  transition: font-size 200ms ease-out
 }

 .warn-btn-animation{
   transition: font-size 200ms ease-out
 }

 .accent-btn-animation{
  transition: font-size 200ms ease-out
}

 .primary-btn-animation:hover {
   border: 2px #3f51b5 solid;
   background-color: white;
   color: #3f51b5;
   font-size: large;
 }

 .warn-btn-animation:hover {
   border: 2px #f44336 solid;
   background-color: white;
   color: #f44336;
   font-size: large;
 }

 .accent-btn-animation:hover {
  border: 2px rgb(253, 66, 129) solid;
  background-color: white;
  color: rgb(253, 66, 129);
  font-size: large;
}
