<!-- <form action="">
  <mat-form-field  [style.width]="inputWidth" *ngIf='listContent.length > 0'>
    <input type="text" matInput [matAutocomplete]="auto" [formControl]="myControl" (change)="onChange()">

    <mat-autocomplete #auto = "matAutocomplete" (optionSelected)="emitChange($event)" >
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field  [style.width]="inputWidth" *ngIf='listContent.length == 0'>
    <input type="text" matInput  [formControl]="myControl" (change)="onChange()">
  </mat-form-field>

</form> -->


<form class="warn-container">
  <mat-form-field  [style.width]="inputWidth"  appearance="outline">
    <!-- <input type="text" matInput [matAutocomplete]="auto" [formControl]="myControl" (change)="onChange()" (click)="triggerFilter()" [placeholder]="placeHolder"> -->

      <mat-label>{{matLabel}}</mat-label>
      <input type="text" matInput [matAutocomplete]="auto" [formControl]="myControl" (change)="onChange()" (click)="triggerFilter()" [placeholder]="placeHolder">
      <!-- <mat-hint *ngIf="warn === true" align="end" class="orange600 font-heavy">Input value does not exist in the database</mat-hint> -->
      <!-- <mat-error *ngIf="warn === true">Input value is not existed in the database</mat-error> -->


    <!-- <mat-autocomplete #auto = "matAutocomplete" (optionSelected)="emitChange($event)" >
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete> -->

    <mat-autocomplete #auto = "matAutocomplete" (optionSelected)="emitChange($event)" >
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option.lotnumber || option">
        <span *ngIf="listContentType === 'object' && option.includes('/')" class="cat-style">{{displayFn(option, 'primary')}}</span>
        <span *ngIf="listContentType === 'object' && !option.includes('/')" class="cat-style">Not Found</span>
        <span *ngIf="listContentType === 'object'">{{displayFn(option, 'secondary')}}</span>
        <span *ngIf="listContentType === 'string'">{{option.lotnumber}}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <span *ngIf="warn === true && inputHistory" class="material-icons color-warn relative-top-right md-36" [matTooltip]="toolTipMessage" [matTooltipPosition]="'above'">
    error
  </span>
</form>
