
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #f4f4f4;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
}

.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
  height: 30px;
  width: 100%;
	/* width: 300px; */
}

.progress-done {
  /* #70fffd */
  /* #70ffba */
  background: linear-gradient(to left, #33cd52,#00ffff);
	/* background: linear-gradient(to left, #F2709C, #FF9472); */
	box-shadow: 0 3px 3px -5px #33cd52, 0 2px 5px #33cd52;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
  width: 0;
  font-size: large;
  font-weight: bold;
	/* opacity: 0; */
	transition: 1s ease 0.3s;
}
