<div *ngIf="!isLoading" class="cat-maker">

<div class="step-container">
  <div class="step-header-container">
    <span>Step 1</span>
  </div>

  <div class="step-content-container">
    <mat-radio-group aria-label="Select an option" (change)="setCatType($event)">
      <mat-radio-button value="1">Kit</mat-radio-button>
      <mat-radio-button value="2">Product</mat-radio-button>
      <mat-radio-button value="3">Kit Associated Product</mat-radio-button>
    </mat-radio-group>
  </div>
</div>

<!-- @Desc Step 2 for Kit and Product -->
<div *ngIf="selectedCatType !== '3'" [ngClass]="selectedCatType ? 'step-container' : 'locked-step-container'">
  <div [ngClass]="selectedCatType ? 'step-header-container' : 'locked-step-header-container'">
    <span>Step 2</span>
  </div>

  <div [ngClass]="selectedCatType ? 'step-content-container' : 'locked-step-content-container'">
    <div *ngIf="selectedCatType" class="step-content-menu-container">
      <button class="step-content-menu-btn" mat-button [matMenuTriggerFor]="clientMenu">Select Client</button>
      <mat-menu #clientMenu="matMenu">
        <button mat-menu-item *ngFor="let client of clients" (click)="setClient(client)">{{client.value}}</button>
      </mat-menu>
    </div>
    <span *ngIf="selectedClient" class="selection-msg">(Selected Client: {{selectedClient.value}})</span>
  </div>
</div>

<!-- @Desc Step 3 for Kit and Product -->
<div *ngIf="selectedCatType !== '3'" [ngClass]="selectedClient ? 'step-container' : 'locked-step-container'">
  <div [ngClass]="selectedClient ? 'step-header-container' : 'locked-step-header-container'">
    <span>Step 3</span>
  </div>

  <div [ngClass]="selectedClient ? 'step-content-container' : 'locked-step-content-container'">
    <div *ngIf="selectedClient" class="step-content-menu-container">
      <button
      class="step-content-menu-btn"
      mat-button
      [matMenuTriggerFor]="invenTypeMenu"
      >Select Category</button>
      <mat-menu #invenTypeMenu="matMenu">
        <button mat-menu-item *ngFor="let invenType of invenTypes" (click)="setInvenType(invenType)">{{invenType.value}}</button>
      </mat-menu>
    </div>
    <span *ngIf="selectedInvenType" class="selection-msg">(Selected Category: {{selectedInvenType.value}})</span>
  </div>
</div>

<!-- @Desc Step 4 for Kit and Product -->
<div *ngIf="selectedCatType !== '3'" [ngClass]="selectedInvenType ? 'step-container' : 'locked-step-container'">
  <div [ngClass]="selectedInvenType ? 'step-header-container' : 'locked-step-header-container'">
    <span>Step 4</span>
  </div>

  <div [ngClass]="selectedInvenType ? 'step-content-container' : 'locked-step-content-container'">
    <div *ngIf="selectedInvenType" class="step-content-menu-container">
      <button [ngClass]="selectedInvenType ? 'step-content-menu-btn' : 'locked-step-content-menu-btn'" [disabled]="!selectedInvenType" mat-button [matMenuTriggerFor]="speciesMenu">Select Species</button>
      <mat-menu #speciesMenu="matMenu">
        <button mat-menu-item *ngFor="let s of species" (click)="setSpecies(s)">{{s.value}}</button>
      </mat-menu>
    </div>
    <span *ngIf="selectedSpecies" class="selection-msg">(Selected Species: {{selectedSpecies.value}})</span>
  </div>
</div>

<!-- @Desc Step 5 for Kit and Product -->
<div *ngIf="selectedCatType !== '3'" [ngClass]="newCatalogNum ? 'step-container' : 'locked-step-container'">
  <div [ngClass]="newCatalogNum ? 'step-header-container' : 'locked-step-header-container'">
    <span>Step 5</span>
  </div>

  <div [ngClass]="newCatalogNum ? 'step-content-container' : 'locked-step-content-container'">
    <span
    *ngIf="duplicateItemNameCheck"
    class="duplicate-msg">
    ({{ selectedCatType === '1' ? 'Kit' : 'Product' }} name already exists, please use a different name.)
    </span>

    <div *ngIf="newCatalogNum" class="step-content-menu-container">
      <input
        [(ngModel)]="savingItemName"
        type="text"
        [ngClass]="duplicateItemNameCheck ? 'duplicate-input-container' : 'step-content-input-container'"
        (keyup)="
        (
          savingItemName.length > 0 ?
          setDuplicateItemNameCheck(checkItemNameDuplicate()) :
          setDuplicateItemNameCheck(false)
        )
        "
        [placeholder]="selectedCatType === '1' ? 'Enter Kit Name Here...' : 'Enter Product Name Here...'"
      >

      <input
        [(ngModel)]="savingItemPrice"
        type="number"
        class="step-content-input-container"
        [placeholder]="selectedCatType === '1' ? 'Enter Kit Price Here...' : 'Enter Product Price Here...'"
      >
    </div>
  </div>
</div>

<!-- @Desc Step 6 for Kit and Product -->
<div *ngIf="selectedCatType !== '3'" [ngClass]="savingItemName && savingItemPrice  && !duplicateItemNameCheck ? 'step-container' : 'locked-step-container'">
  <div [ngClass]="savingItemName && savingItemPrice && !duplicateItemNameCheck ? 'step-header-container' : 'locked-step-header-container'">
    <span>Step 6</span>
  </div>

  <div [ngClass]="savingItemName && savingItemPrice && !duplicateItemNameCheck ? 'step-content-container' : 'locked-step-content-container'">
    <div *ngIf="savingItemName && savingItemPrice && !duplicateItemNameCheck" class="step-content-menu-container">
      <button
      class="step-content-menu-btn"
      mat-button
      (click)="saveNewCatalog()"
      >Add New {{selectedCatType === '1' ? 'Kit':'Product'}}</button>
    </div>
    <span *ngIf="savingItemName && savingItemPrice  && !duplicateItemNameCheck" class="selection-msg">
      (New Catalog Number for {{selectedCatType === '1' ? 'Kit':'Product'}}: {{newCatalogNum}})
    </span>
  </div>
</div>














<!-- @Desc Step 2 for Kit Associated Product -->
<div *ngIf="selectedCatType === '3'" [ngClass]="selectedCatType ? 'step-container' : 'locked-step-container'">
  <div [ngClass]="selectedCatType ? 'step-header-container' : 'locked-step-header-container'">
    <span>Step 2</span>
  </div>

  <div [ngClass]="selectedCatType ? 'step-content-container' : 'locked-step-content-container'">
    <div class="step-content-menu-container">
      <button
      class="step-content-menu-btn"
      mat-button
      [matMenuTriggerFor]="invenTypeMenu2"
      >Select Category</button>
      <mat-menu #invenTypeMenu2="matMenu">
        <button mat-menu-item *ngFor="let invenType of kitAssociatedProductInvenTypes" (click)="setInvenType(invenType)">{{invenType.value}}</button>
      </mat-menu>
    </div>
    <span *ngIf="selectedInvenType" class="selection-msg">(Selected Category: {{selectedInvenType.value}})</span>
  </div>
</div>


<!-- @Desc Step 3 for Kit Associated Product -->
<div *ngIf="selectedCatType === '3'" [ngClass]="selectedInvenType ? 'step-container' : 'locked-step-container'">
  <div [ngClass]="selectedInvenType ? 'step-header-container' : 'locked-step-header-container'">
    <span>Step 3</span>
  </div>

  <div [ngClass]="selectedInvenType ? 'step-content-container' : 'locked-step-content-container'">
    <div *ngIf="selectedInvenType" class="step-content-menu-container">
      <input
        #searchKey
        type="text"
        class="step-content-input-container"
        placeholder="Search by Kit or Component Name"
        (keyup.enter)="searchKit(searchKey.value)"
      >
      <button
      class="step-content-menu-btn"
      mat-button
      (click)="searchKit(searchKey.value)"
      >Search</button>
    </div>
  </div>
</div>


<!-- @Desc Step 4 for Kit Associated Product -->
<div *ngIf="selectedCatType === '3'" [ngClass]="isSearched ? 'step-container' : 'locked-step-container'">
  <div [ngClass]="isSearched ? 'step-header-container' : 'locked-step-header-container'">
    <span>Step 4</span>
  </div>

  <div [ngClass]="isSearched ? 'step-content-container' : 'locked-step-content-container'">
    <span
    *ngIf="isSearched"
    class="searching-result-msg">
    {{searchResults.length > 0 ?
      '(Please select a Kit from the following searching results to continue)' :
      '(No kit found, please try to search with a different searching key in step 2, or select other options in step 1)'}}
    </span>
    <div *ngIf="searchResults.length > 0" class="searching-result-container">
      <div class="searching-result-shadow-container">
        <p
        *ngFor="let kit of searchResults"
        [ngClass]="selectedKit && selectedKit.salesItemId === kit.salesItemId ? 'selected-result-item' : 'searching-result-item'"
        (click)="setKit(kit)">
        {{kit.name}}
        </p>
      </div>
    </div>
  </div>
</div>


<!-- @Desc Step 5 for Kit Associated Product -->
<div *ngIf="selectedCatType === '3'" [ngClass]="selectedKit ? 'step-container' : 'locked-step-container'">
  <div [ngClass]="selectedKit ? 'step-header-container' : 'locked-step-header-container'">
    <span>Step 5</span>
  </div>

  <div [ngClass]="selectedKit ? 'step-content-container' : 'locked-step-content-container'">
    <span
    *ngIf="duplicateCatalogNumberCheck && selectedKit"
    class="duplicate-msg">
    Catalog number already exists, please use a different appendix.
    </span>
    <div *ngIf="selectedKit" class="step-content-menu-container">
      <input
        #productAppendixInput
        type="text"
        [ngClass]="duplicateCatalogNumberCheck ? 'duplicate-input-container' : 'step-content-input-container'"
        placeholder="Enter Catalog Number Appendix Here..."
        (keyup)="appendixChange(productAppendixInput.value);
        (
          productAppendixInput.value.length > 0 ?
          setDuplciateCatalogNumberCheck(checkCatalogNumberDuplicate()) :
          setDuplciateCatalogNumberCheck(false)
        )"
      >
      <span class="selection-msg">(New Catalog Number for Kit Associated Product: {{newCatalogNum}})</span>
    </div>
  </div>
</div>


<!-- @Desc Step 6 for Kit Associated Product -->
<div *ngIf="selectedCatType === '3'" [ngClass]="productAppendix && !duplicateCatalogNumberCheck ? 'step-container' : 'locked-step-container'">
  <div [ngClass]="productAppendix && !duplicateCatalogNumberCheck ? 'step-header-container' : 'locked-step-header-container'">
    <span>Step 6</span>
  </div>

  <div [ngClass]="productAppendix && !duplicateCatalogNumberCheck ? 'step-content-container' : 'locked-step-content-container'">
    <span
    *ngIf="duplicateItemNameCheck && !duplicateCatalogNumberCheck"
    class="duplicate-msg">
    Kit associated product name already exists, please use a different name.
    </span>

    <div *ngIf="productAppendix && !duplicateCatalogNumberCheck" class="step-content-menu-container">
      <input
        [(ngModel)]="savingItemName"
        type="text"
        [ngClass]="duplicateItemNameCheck ? 'duplicate-input-container' : 'step-content-input-container'"
        (keyup)="
        (
          savingItemName.length > 0 ?
          setDuplicateItemNameCheck(checkItemNameDuplicate()) :
          setDuplicateItemNameCheck(false)
        )
        "
        placeholder="Enter Kit Associated Product Name Here..."
      >

      <input
        [(ngModel)]="savingItemPrice"
        type="number"
        class="step-content-input-container"
        placeholder="Enter Kit Associated Product Price Here..."
      >
    </div>
  </div>
</div>


<!-- @Desc Step 7 for Kit Associated Product -->
<div *ngIf="selectedCatType === '3'" [ngClass]="savingItemName && savingItemPrice && !duplicateItemNameCheck ? 'step-container' : 'locked-step-container'">
  <div [ngClass]="savingItemName && savingItemPrice && !duplicateItemNameCheck ? 'step-header-container' : 'locked-step-header-container'">
    <span>Step 7</span>
  </div>

  <div [ngClass]="savingItemName && savingItemPrice && !duplicateItemNameCheck ? 'step-content-container' : 'locked-step-content-container'">
    <div *ngIf="savingItemName && savingItemPrice && !duplicateItemNameCheck" class="step-content-menu-container">
      <button
        class="step-content-menu-btn"
        mat-button
        (click)="saveNewCatalog()"
        >
        Add New Kit Associated Product
      </button>
      <span class="selection-msg">
        (New Catalog Number for Kit Associated Product: {{newCatalogNum}})
      </span>
    </div>
  </div>
</div>



<!-- <ngb-alert *ngIf="message.length > 0" (close)="message = []">
  <ng-container *ngFor="let m of message; let i = index">
    <p>
      <strong>{{m}}</strong>
    </p>
  </ng-container>
</ngb-alert> -->

<div *ngIf="message.length > 0" class="catalog-generator-msg-container">
  <div class="text-container">
    <span>{{message[0]}}</span>
  </div>

  <div class="btn-container">
    <button (click)="resetMessage()">CANCEL</button>
  </div>
</div>














  <!-- <div class="form-group">
    <label>Kit or Product<span class="star">*</span></label>
    <div class="form-control yncheck">
      <label style="margin-bottom:0px;">
        <input type="radio" [checked]="isKit==true" [value]="isKit" (change)="isKit=true"> Kit
      </label>
      <label style="margin-bottom:0px;">
        <input type="radio" [checked]="isKit==false" [value]="!isKit" (change)="isKit=false"> Product
      </label>
      <label style="margin-bottom:0px;">
        <input type="radio" [checked]="isKit==false" [value]="!isKit" (change)="isKit=false"> Kit Associated Product
      </label>
    </div>
  </div>

  <div class="form-group">
    <label>Type<span class="star">*</span></label>
    <select class="form-control" [(ngModel)]="selectTypeName">
      <option [value]="t.value"
              [selected]="selectTypeName == t.value"
              *ngFor="let t of catType">{{t.value}}</option>
    </select>
  </div>

  <div class="form-group" *ngIf="selectTypeName">
    <label>Has Species?<span class="star">*</span></label>
    <div class="form-control yncheck">
      <label>
        <input type="radio" [checked]="hasSpecies==true"  (change)="hasSpecies=true">Yes
      </label>
      <label>
        <input type="radio" [checked]="hasSpecies==false"  (change)="hasSpecies=false">No
      </label>
    </div>
  </div>

  <div class="form-group" *ngIf="hasSpecies">
    <label>Species<span class="star">*</span></label>
    <select class="form-control" [(ngModel)]="selectSpeciesName">
      <option [value]="s.value"
              [selected]="selectSpeciesName == s.value"
              *ngFor="let s of species">
          {{s.value}}
      </option>
    </select>
  </div>

  <div class="form-group" *ngIf="selectTypeName">
    <label>Is Client Specific?<span class="star">*</span></label>
    <div class="form-control yncheck">
      <label>
        <input type="radio" [checked]="isClientSpecific==true"  (change)="isClientSpecific=true">Yes
      </label>
      <label>
        <input type="radio" [checked]="isClientSpecific==false" (change)="isClientSpecific=false">No
      </label>
    </div>
  </div>
    <div class="form-group" *ngIf="isClientSpecific">
    <label>Client<span class="star">*</span></label>
    <select class="form-control"
           [(ngModel)]="selectClientName">
        <option [value]="c.value"
                [selected]="selectClientName == c.value"
                *ngFor="let c of clients">
            {{c.value}}
        </option>
    </select>
  </div>

  <ngb-alert *ngIf="message.length > 0" (close)="message = []">
    <ng-container *ngFor="let m of message; let i = index">
      <p>
        <strong>{{m}}</strong>
      </p>
    </ng-container>
  </ngb-alert>


  <div class="form-group control-btn-container">
    <button class="catalog-btn get-catalog-btn" (click)="generateCatalog()" [disabled]="!isValid()">Get Catalog Number</button>
    <button class="catalog-btn catalog-warn-btn" (click)="clear()">Clear</button>
  </div>

  <div class="form-group cat" *ngIf="catalogNumber">
    <span *ngIf="isKit">New Kit Catalog Number: (you can add letters after)</span>
    <span *ngIf="!isKit">New Product Catalog Number: (you can add letters after)</span>
    <div class="panel panel-warning">
      <form class="form-inline" >
          <div class="panel-heading form-group"
               style="width:100%;">
              <input autocomplete="off"
                     style="width:85%;"
                     class="form-control"
                     type="text"
                     [(ngModel)]="editedCatalogNumber"
                     name="cat"
                     (change)="checkCatalog()"/>
            <button class="btn btn-default icon-btn"
                    *ngIf="catalogChangeValid==true"
                    style="float:right;"
                    (click)="showCatalog = true">
                <i class="fas fa-caret-down"></i>
            </button>
          </div>
      </form>





      <div class="panel-body" *ngIf="showCatalog" style="padding-left:0px;">

        <input autocomplete="off"
               class="form-control"
               #nName
               required
               placeholder="Name">
        <input #nPrice
               autocomplete="off"
               type="number"
               class="form-control"
               placeholder="Price"
               required>
        <button class="btn btn-outline-warning"
                *ngIf="isKit"
                (click)="addKitWithCat(nName.value, nPrice.value)">
            Add Kit
        </button>
        <button class="btn btn-outline-warning"
                *ngIf="!isKit"
                (click)="addProductWithCat(nName.value, nPrice.value)">
            Add Product
        </button>
      </div>
    </div>
  </div> -->





</div>

<div *ngIf="isLoading" class="loader">
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
</div>


