<nav class="nav__cont">
  <ul class="nav">
    <li class="nav__items ">
      <div class="item-container">
        <span class="material-icons md-30 icon-color nav-icon-border" matTooltip="Go back to Intelli Lab home page" [matTooltipPosition]="'below'">
          home
          </span>
        <!-- <a [routerLink]="'/main'" >Intelli Lab</a> -->
        <a (click)="toHome()" >Intelli Lab</a>
      </div>

    </li>

    <li *ngIf="privilege.design" class="nav__items ">
      <div class="item-container">
        <span class="material-icons md-30 icon-color nav-icon-border" matTooltip="Create or review worksheet designs" [matTooltipPosition]="'below'">
          design_services
        </span>
        <a [routerLink]="'/ws_review_copy'">Design</a>
      </div>
    </li>

    <li *ngIf="privilege.experiment" class="nav__items ">
      <div class="item-container">
        <span class="material-icons md-30 icon-color nav-icon-border" matTooltip="Execute worksheet designs" [matTooltipPosition]="'below'">
          science
        </span>
        <a [routerLink]="['/ws_experiment/analyst', userId]">Experiment</a>
      </div>
    </li>

    <li *ngIf="privilege.review" class="nav__items ">
      <div class="item-container">
        <span class="material-icons md-30 icon-color nav-icon-border" matTooltip="Review and comment submitted worksheets" [matTooltipPosition]="'below'">
          grading
        </span>
        <a [routerLink]="['/ws_experiment/scientist', userId]">Review</a>
      </div>
    </li>

    <!-- <li class="nav__items ">
      <div class="item-container">
        <span class="material-icons md-30 icon-color nav-icon-border" matTooltip="Equipment Component" [matTooltipPosition]="'below'">
          build_circle
        </span>
        <a [routerLink]="['/equipment_ws']">Equipment(Dev)</a>
      </div>
    </li> -->

    <!-- <li class="nav__items ">
      <div class="item-container">
        <span class="material-icons md-30 icon-color nav-icon-border" matTooltip="Upload Platemap" [matTooltipPosition]="'below'">
          cloud_upload
        </span>
        <a [routerLink]="['/platemap']">Upload(Dev)</a>
      </div>
    </li> -->

    <!-- <li class="nav__items ">
      <div class="item-container">
        <span class="material-icons md-30 icon-color nav-icon-border" matTooltip="assignment development" [matTooltipPosition]="'below'">
          assignment_ind
        </span>
        <a (click)="openAssignment()">Assignment</a>
      </div>
    </li> -->

  </ul>
</nav>

<div *ngIf="isLoading" class="loader"></div>
<div *ngIf="!isLoading" class="content-container">
<app-ws-header [tooBarTitle]="'Design List'" *ngIf="mode === 'preview'" [backButtonSetting]="buttonSetting" ></app-ws-header>
<app-ws-header [tooBarTitle]="'Design Review'" *ngIf="mode === 'review'" ></app-ws-header>

<div *ngIf="mode === 'preview' && tableList.length <= 0" class="empty-list-container">
  <h1>Empty List</h1>
</div>



<!-- Display for Design Table -->
<alert></alert>
<div *ngIf="mode === 'preview' && tableList.length > 0">
<app-search-bar [client]="'design list'" (search)="onSearchTable($event)" (cancel)="onCancelSearch($event)"></app-search-bar>
<table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

  <!-- Position Column -->
  <!-- <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container> -->

  <!-- Study Number Column -->
  <ng-container matColumnDef="studyNum">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Study Number </th>
    <td mat-cell *matCellDef="let element"> {{element.studyNum}} </td>
  </ng-container>

  <!-- Worksheet Number Column -->
  <ng-container matColumnDef="wsNum">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Worksheet Number </th>
    <td mat-cell *matCellDef="let element"> {{element.wsNum}} </td>
  </ng-container>

  <!-- Execution Times Column -->
  <!-- <ng-container matColumnDef="exeNum">
    <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Accumulative Execution Times" [matTooltipPosition]="'above'"> EXT </th>
    <td mat-cell *matCellDef="let element"> {{element.exeNum}} </td>
  </ng-container> -->

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <!-- <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th> -->
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Drug Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Type Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>

  <!-- Objective Column -->
  <ng-container matColumnDef="objective">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Objective </th>
    <td mat-cell *matCellDef="let element"> {{element.objective}} </td>
  </ng-container>

  <!-- Author Column -->
  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Author </th>
    <td mat-cell *matCellDef="let element"> {{element.author}} </td>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
    <td mat-cell *matCellDef="let element" [ngStyle]="element.status?{'color':'green'}:{'color':'red'}">
      {{element.status ? 'Finalized' : 'Not Finalized'}}
    </td>
  </ng-container>

  <!-- ID Column (used for template actions) -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element" class="overflow-visible">
      <button *ngIf="!element.status" mat-raised-button color="primary" [routerLink]="['/ws_design', element.id]" class="margin-5 btn-size-150 btn-margin-right-20 primary-btn-animation">
        <span>Edit</span>
        <span class="material-icons btn-icon">
          create
        </span>
      </button>

      <button *ngIf="!element.status" mat-raised-button color="warn" (click)="deleteDesign(element.id)" class="margin-5 btn-size-150 btn-margin-right-20 warn-btn-animation">
        <span>Delete</span>
        <span class="material-icons btn-icon">
          delete_sweep
        </span>
      </button>

      <button *ngIf="element.status" mat-raised-button color="primary" (click)="makeCopy(element.id)" class="margin-5 btn-size-150 btn-margin-right-20 primary-btn-animation">
        <span>Copy</span>
        <span class="material-icons btn-icon">
          file_copy
        </span>
      </button>

      <button *ngIf="element.status" mat-raised-button color="green" [routerLink]="['/ws_review_copy', element.id]" class="margin-5 btn-size-150 btn-margin-right-20">
        <span>Read</span>
        <span class="material-icons btn-icon">
          chrome_reader_mode
        </span>
      </button>

      <button *ngIf="element.status" mat-raised-button color="green" (click)="openAssignment(element)" class="margin-5 btn-size-150 btn-margin-right-20">
        <span>Assign</span>
        <span class="material-icons btn-icon">
          assignment_ind
        </span>
      </button>

    </td>
  </ng-container>

  <!-- Star Column -->
  <ng-container matColumnDef="star">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
    <td mat-cell *matCellDef="let element">
      <!-- <span *ngIf="element.star" class="material-icons orange" matTooltip="New Copy Mark" [matTooltipPosition]="'above'">star</span> -->
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="item-animation"></tr>
</table>
<mat-paginator
  [length]="tableList.length"
  [pageSize]="pageSize"
  [pageSizeOptions]="sizeOption"
  (page)="onPageChange($event)"
  showFirstLastButtons>
</mat-paginator>
</div>
<div *ngIf="mode === 'preview'" class='refresh-container'>
  <span class="refresh" (click)="refreshPage()">Refresh List</span>
</div>
<alert id='refresh-info'></alert>
<!-- End of Design Table -->

<mat-expansion-panel *ngIf="mode === 'review' && template && template.files && template.files.length > 0" class="mat-elevation-z8">
  <mat-expansion-panel-header [collapsedHeight]="'50px'">
    <mat-panel-title>
      <div class="panel-title-container">
        <strong class="margin-left-10 italic color-blue">Plate Maps and Files</strong>
        <!-- <strong class="margin-left-10 italic color-blue">{{template.files.length > 1 ? 'Plate Maps' : 'Plate Map'}}</strong> -->
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <app-file-upload [initData]="template.files" [enableFileUpload]="false"></app-file-upload>
</mat-expansion-panel>

<!-- Design comment for design review-->
<mat-card *ngIf="mode === 'review' && template && template.designComment" class="mat-elevation-z8">
  <strong>Design Comment</strong>
  <div class="padding-left-35p">
    <app-text-field [mode]="'textarea'" [text]="template.designComment" [tag]="'Comment'"></app-text-field>
  </div>
</mat-card>

<mat-card *ngIf="mode === 'review'" class="mat-elevation-z8">
  <div class="wrapper margin-bottom-50">
    <section class="header-stepper">

      <div class="logo-and-nav-wrap">
          <div class="stepper-nav-wrap">
             <nav  class="steps">
              <div *ngFor="let step of steps; let index = index" class="breadcrumb-wrap" (click) = "updateStepperIndex(index)" [class.select-effect]="stepperIndex === index">

                <span class="sep"><i class="fa fa-caret-right"></i></span>
                <span class="breadcrumb">
                  <a class = "step-label"
                  [matTooltip]="step.stepType === 'Blocking' ?
                      'Blocking Addition' : step.stepType === 'Capture' ?
                      'Capture Preparation and Addition' : step.stepType === 'Coating' ?
                      'Coating Preparation and Addition' : step.stepType === 'Detection' ?
                      'Detection Preparation and Addition' : step.stepType === 'Test' ?
                      'Sample Preparation' : step.stepType === 'Washing' ?
                      'Washing' : step.stepType === 'Substrate' ?
                      'Substrate Addition' : step.stepType === 'Stop' ?
                      'Stop Solution Addition' : step.stepType
                    "
                    [matTooltipPosition] = "'below'"
                    [matTooltipShowDelay]="1000">

                    {{step.stepType === 'Test' ? 'Sample Preparation' : step.stepType}}
                  </a>
                </span>
              </div>
            </nav>
          </div>
        </div>

      </section>


      <section  class="ws-tab-container">
        <div *ngFor="let step of steps; let index = index" class="ws-tab-content z-index-10" [class.hide]="stepperIndex != index">

          <app-washing-step
            *ngIf = "step.stepType === 'Washing'"
            [mode] = "mode"
            [stepType]="step.stepType"
            [dataType]="dataType"
            [reviewData]="step.stepData">
          </app-washing-step>

          <app-general-step
            *ngIf = " step.stepType === 'Blocking' ||
                      step.stepType === 'Capture'  ||
                      step.stepType === 'Coating'  ||
                      step.stepType === 'Detection'||
                      step.stepType === 'Test'"
            [mode] = "mode"
            [stepType]="step.stepType"
            [dataType]="dataType"
            [reviewData]="step.stepData">
          </app-general-step>

          <app-substrate-step
            *ngIf = "step.stepType === 'Substrate'"
            [mode] = "mode"
            [stepType]="step.stepType"
            [dataType]="dataType"
            [reviewData]="step.stepData">
          </app-substrate-step>

          <app-stop-step
            *ngIf = "step.stepType === 'Stop'"
            [mode] = "mode"
            [stepType]="step.stepType"
            [dataType]="dataType"
            [reviewData]="step.stepData">
        </app-stop-step>

        <app-calibrator
            *ngIf="step.stepType === 'Calibrator Preparation' ||
            step.stepType === 'QC Preparation'  ||
            step.stepType === 'Sample Dilution' ||
            step.stepType === 'MRD'"
            [mode] = "mode"
            [stepType]="step.stepType"
            [dataType]="dataType"
            [reviewData]="step.stepData">
        </app-calibrator>

        </div>
      </section>
  </div>


<!-- Bottom stepper for design review -->
<app-roller-button *ngIf="steps && steps.length > 1" (rollerMove)="rollerListener($event)"></app-roller-button>
<!-- End of bottom stepper for design review -->

</mat-card>

</div>

<!-- End of cotent container -->







