.pending{
  display: block;
  border-radius: 50px;
  padding: 1rem;
  background-color: #46a782;
  color: white;
  width: fit-content;
  margin: 1rem 0;

  i{
    margin-right: 1rem;
    font-size: 15px;
  }
}

.custodian-edit-btn{
  border-radius: 0.25rem;
  padding:0.5rem;
  font-size: 20px;
  color: white;
  background-color: #46a782;
  &:hover{
    cursor: pointer;
    transition: all ease-out 0.3s;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  }
}
