<div class="folder-custodian-content">

  <div class="details-header">
    <h1 class="folder-title">{{ isNew ? 'New Folder' : folder.title }}</h1>
    <div class="top-controller print-none" *ngIf="!isNew && canEdit">
      <button *ngIf="canEdit && (folder.custodian.userId === currentUser?.userId)" class="btn-icon" (click)="promptEdit()">
        <i class="fas fa-pen-square custodian-edit-btn"></i>
      </button>
    </div>
  </div>

  <div *ngIf="isRequestPending" class="pending">
    <i class="fas fa-clock"></i>
    Your request of custodianship for this folder is pending
  </div>

  <div *ngIf="isAckPending" class="pending">
    <i class="fas fa-comment-dots"></i>
    Acknowledgement of custodianship for this folder is pending for your confirmation
  </div>

  <div class="folder-details">
    <p class="sub-header print-none">Information</p>
    <hr class="print-none"/>

    <div class="row" *ngIf="!isNew && !edit">

      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 folder-barcode">
        <div class="form-group">
          <div style="display: flex; align-items: center; flex-direction: row;">
            <label class="print-none mr-3">Folder ID</label>
            <button class="btn-icon btn-xs print-none" style="margin-top: -6px !important; font-size: 11px;" (click)="generatePDF(folder)">
              <i class="fa fa-print far-2x" style="font-size: 16px;"></i>&nbsp;&nbsp;PRINT
            </button>
          </div>
          <div id="barcode"></div>
        </div>
      </div>

      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 print-none">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Title</label>
              <input
                type="text"
                placeholder="Folder Title"
                [ngClass]="edit ? 'form-control' : 'form-control read-only'"
                [(ngModel)]="folder.title"
                [ngModelOptions]="{ standalone: true }"
              >
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Study #</label>
              <input
                type="text"
                placeholder="Study #"
                [ngClass]="edit ? 'form-control' : 'form-control read-only'"
                [(ngModel)]="folder.studyNumber"
                [ngModelOptions]="{ standalone: true }"
              >
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Project Manager</label>
              <input
                type="text"
                class="form-control read-only"
                placeholder="Project Manager"
                value="{{ folder.projectManager.name }}"
              >
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Location</label>
              <input
                type="text"
                class="form-control read-only"
                placeholder="Location"
                value="{{ folder.location.title }}"
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 print-none">
        <div class="form-group">
          <label>Custodian</label>
          <input
            type="text"
            class="form-control read-only"
            placeholder="Project Manager"
            value="{{ folder.custodian.name }}"
          >
        </div>
      </div>

      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 print-none" [ngClass]="isNew ? 'col-lg-12' : 'col-lg-8'">
        <div class="form-group">
          <label>Remarks</label>
          <p
            style="font-size: 13.5px"
          >
            {{ folder.remarks }}
          </p>
        </div>
      </div>

      <div class="actions col-md-12 print-none">
        <div *ngIf="isRequesting" class="mb-4">
          <textarea
            class="form-control"
            placeholder="Write note here..."
            [(ngModel)]="transferNote"
            [ngModelOptions]="{ standalone: true }"
          ></textarea>
        </div>
        <button class="btn btn-light" (click)="hide()">
          Go Back
        </button>
        <button *ngIf="canRequest() && !isRequestPending && !isAckPending" class="btn btn-warning" (click)="promptRequest()">
          Request Custodianship
        </button>
        <button *ngIf="isRequesting" class="btn btn-warning" (click)="requestCustodianship()">
          Send Request
        </button>
      </div>
    </div>


    <div class="row" *ngIf="isNew || edit">

      <div id="barcode" style="height: 0 !important; width: 0 !important; overflow: hidden;"></div>

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 print-none">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Title</label>
              <input
                type="text"
                class="form-control"
                placeholder="Folder Title"
                value="{{ folder.title }}"
                [(ngModel)]="folder.title"
                [ngModelOptions]="{ standalone: true }"
              >
            </div>
          </div>
          <div class="col-md-2" *ngIf="!edit">
            <div class="form-group">
              <label>No. of Folder</label>
              <input
                min="1"
                type="number"
                class="form-control"
                placeholder="Ex. 6"
                [(ngModel)]="numberOfFolder"
                [ngModelOptions]="{ standalone: true }"
              >
            </div>
          </div>
          <div [ngClass]="edit ? 'col-md-6' : 'col-md-4'">
            <div class="form-group">
              <label>Study #</label>
              <input
                type="text"
                class="form-control"
                placeholder="Study #"
                value="{{ folder.studyNumber }}"
                [(ngModel)]="folder.studyNumber"
                [ngModelOptions]="{ standalone: true }"
              >
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Project Manager</label>
              <select
                #projectManager
                class="form-control"
                (change)="setProjectManager(projectManager.value)"
              >
                <option value="-1">Choose Manager</option>
                <option *ngFor="let user of managerList"
                  [value]="user.userId"
                  [selected]="folder.projectManager?.userId == user.userId"
                >
                  {{ user.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <label>Location</label>
            <div class="input-group">
              <select
                #location
                [ngClass]="isScanning ? 'form-control hw-0' : 'form-control'"
                (change)="setLocation(location.value)"
                style="height: 42px; width: calc(100% - 45px) !important;"
              >
                <option value="-1">Select Location</option>
                <option *ngFor="let location of locations"
                  [value]="location.dbid"
                  [selected]="folder.location?.dbid == location.dbid"
                >
                  {{ location.title }}
                </option>
              </select>
              <input
                [ngClass]="!isScanning ? 'form-control hw-0' : 'form-control'"
                #scanBarcode
                placeholder="Scan Barcode"
                [(ngModel)]="barcode"
                (keyup.enter)="searchFolderLocation()"
                style="height: 42px; border-radius: 4px 0 0 4px !important; width: calc(100% - 45px) !important;"/>
              <button
                class="btn btn-dark form-control input-group-append"
                style="width: 45px !important;"
                (click)="showScanner()"
                >
                <i class="fa p-0 m-0" [ngClass]="isScanning ? 'fa-times' : 'fa-barcode'"></i>
              </button>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 print-none">
            <div class="form-group">
              <label>Remarks</label>
              <textarea
                *ngIf="edit || isNew"
                class="form-control"
                placeholder="Write here..."
                [(ngModel)]="folder.remarks"
                [ngModelOptions]="{ standalone: true }"
              >
              </textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 mt-3">
        <ngb-alert *ngIf="!hideWarning" (close)="hideWarning = true">
          <ng-container *ngFor="let warning of inputWarning; let i = index">
            <p class="m-0 p-0">
              <strong>{{warning}}</strong>
            </p>
          </ng-container>
        </ngb-alert>
      </div>

      <div class="actions col-md-12 print-none">
        <div *ngIf="isRequesting" class="mb-4">
          <textarea
            class="form-control"
            placeholder="Write note here..."
          ></textarea>
        </div>
        <button class="btn btn-light" (click)="hide()">
          Cancel
        </button>
        <button class="btn btn-primary" (click)="validateuserinput()">
          Save
        </button>
      </div>
    </div>
  </div>

</div>

