.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.fms-alert-close{
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in 0.3s;
  width:18px;
  height: 18px;
  border-radius: 18px;
  color: white;
}

.fms-alert-close:hover{
  transition: all ease-out 0.3s;
  cursor: pointer;
  background-color: white;
  color: red;
}


.alert-container{
  width: calc(75% - 2rem);
  height: 80px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  background-color: red;
  color: white;
  position: absolute;
  right: 1rem;
  top: 50%;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}
