<div *ngFor="let alert of alerts" class="alert-container">
  <span *ngIf="alert.id && alert.id === 'fms-alert'" class="material-icons md-36">
    warning
  </span>

  <span *ngIf="alert.id && alert.id === 'success'" class="material-icons md-36">
    check_circle
  </span>

  <span *ngIf="alert.type && alert.type === 2" class="material-icons md-36">
    info
  </span>

  <span [innerHTML]="alert.message"></span>

  <span class="material-icons fms-alert-close md-18" (click)="removeAlert(alert)">
    close
  </span>
</div>
