.custodian-dialog-container{
  min-width: 500px;
  border-radius: 100px;
  height: 100px;
  padding: 2rem;
  background-color: #46a782;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  border: white 2px solid;

  span{
    white-space:nowrap;
    margin-right: 2rem;
  };

  button{
    border: white 2px solid;
    border-radius: 50px;
    height: 50px;
    // width: 20%;
    padding: 0 2rem;
    background-color: #46a782;
    color: white;
    transition: all ease-in 0.3s;
    &:active{
      outline: none;
      transition: transform ease-out 0.3s;
      transform:  translateY(3px);
    }

    &:hover{
      transition: all ease-out 0.3s;
      padding: 0 3rem;
    }
  }
}
