tr td{
  padding: 0 !important;
  margin: 0 !important;
}
.search-result-inner {
  max-height: 300px;
  overflow: auto;
  border: thin solid lightgray;
  border-radius: .25rem;
  height: 100%;
}
.search-result p {
  cursor: pointer;
  padding: 5px 10px;
  margin: 0;
  border-bottom: thin solid rgb(231, 231, 231);
}
.search-result p:last-of-type {
  border-bottom: none;
}
.search-result p:hover {
  background-color: rgb(245, 245, 245);
}