


 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

.toolbar-container{
  position: relative;
  /* top:10px;
  left: 1%;
  width: 98%; */
  height: 70px;
  width: 100%;
  background-color: rgb(255,255,255);
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  border-bottom: 2px #3f51b5 solid;
  -webkit-box-shadow: 0px 8px 8px 0px rgba(63,81,181,1);
  -moz-box-shadow: 0px 8px 8px 0px rgba(63,81,181,1);
  box-shadow: 0px 8px 8px 0px rgba(63,81,181,1);
  border-radius: 5px;
}

/* .toolbar-container span{
  font-size: x-large
} */

.margin-left-5p {margin-left: 2%;}
.margin-left-30p{ margin-left: 25%; }
.margin-right-3 {margin-right: 3px;}
.margin-right-10 { margin-right: 10px; }
.padding-right-10 { padding-right: 50px; }
.padding-left-16 { padding-left: 16px; }
/* Butto click animation */
.btn-animation{
  background-color: rgb(245, 246, 248);
  color: rgb(66, 82, 109);
  transition: font-size 300ms ease-out;
 }


 .btn-animation:hover {
   background-color: rgb(236, 237, 240);
   font-size: 13px;
 }

 .img-container{
   display: inline-flex;
   justify-content: center;
   align-items: center;

 }

.logo-container{
  width: 52%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.header-font-style{
  /* font-family: "Trebuchet MS", Helvetica, sans-serif; */
  font-size: x-large;
  color: rgb(66, 82, 109);
}

.header-desc-style{
  font-size: small;
  color:rgb(160, 161, 162);
}

.logo-position{
  position: relative;
  bottom: 4px;
}
