.equipmentImageContainer {
  background-color: rgb(241, 241, 241);
  width: 100%;
  max-width: 400px;
  height: 200px;
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
}
.equipmentImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.textLengthCounter {
  font-style: italic;
  color: rgb(146, 143, 143);
  padding-top: 5px;
}

.font-12 {
  font-size: 12px;
}

.resize-none {
  resize: none;
}

.readOnly {
  padding-left: 0 !important;
  padding-right: 0 !important;
  border: none !important;
  background-color: inherit !important;
  pointer-events: none !important;
}

.recommend {
  position: absolute;
  background-color: white;
  border: 1px solid lightgrey;
  box-shadow: 3px 3px 5px 0px lightgrey;
  max-width: 90%;
}

.recItem {
  width: 100%;
  background-color: white;
  margin: 0px;
  transition: 1s background-color;
  -moz-transition: 1s background-color;
  -o-transition: 1s background-color;
  -webkit-transition: 1s background-color;
}

.recItem:hover {
  background-color: lightgrey;
}

.new-ingre {
  width: 100%;
  margin: 0px;
  border-radius: 0px;
}

.submit-buttons{
  text-align: right;
}

.angular-with-newlines {
  white-space: pre-wrap;

}

.testarea{
  border-radius: 3px;
  border-color: lightgrey;
}

.star{
  color:red;
}

.catforcomponent{
  padding:0px; 
  text-align: center; 
  color: red;
  font-size: 11px;
}

input.form-control{
  padding:8px, 0px;
  height:38px;
}

select.form-control{
  padding:0px;
  font-size:12px;
}

label{
  margin-bottom: 0px;
}

div.form-group{
  margin-bottom:5px;
}

p{
  border:0px;
  margin-bottom:0px;
}

#specialinput{
  font-size:12px;
  min-height:39px;
  direction:ltr;

}