<div *ngIf="product" style="min-width:800px;">
  <form>
    <div class="form-group" *ngIf="isNew || enableEdit">
      <label>Name
        <span class="star">*</span>
        <button type="button"
                class="btn btn-outline-secondary help-tooltip"
                placement="top"
                ngbTooltip="Name of the product">?</button>
      </label>
      <input autocomplete="off"
             *ngIf="enableEdit"
             class="form-control"
             type="text"
             [(ngModel)]="product.name"
             [ngModelOptions]="{standalone: true}"
      />
    </div>


    <div class="form-row">
      <div class="form-group col-md-2">
        <label>Cat#
          <span class="star">*</span>
          <button type="button"
                  class="btn btn-outline-secondary help-tooltip"
                  placement="top"
                  ngbTooltip="Catalog number of the product">?</button>
        </label>
        <input autocomplete="off"
               #cat
               *ngIf="enableEdit"
               class="form-control"
               type="text"
               [(ngModel)]="product.catalogNumber"
               [ngModelOptions]="{standalone: true}" />
        <p class="read-message"
           *ngIf="!enableEdit">{{product.catalogNumber}}</p>
      </div>

      <div class="form-group col-md-2">
        <label>Type
          <span class="star">*</span>
          <button type="button"
                  class="btn btn-outline-secondary help-tooltip"
                  placement="top"
                  ngbTooltip="Type of the product">?</button>
        </label>
        <select class="form-control"
                *ngIf="enableEdit"
                #type
                [value]="product.type"
                (change)="product.type = type.value;">
          <option *ngFor="let t of productTypes"
                  [value]="t"
                  [selected]="product.type == t">{{t}}</option>
        </select>
        <p class="read-message" *ngIf="!enableEdit">{{product.type}}</p>
      </div>

      <div class="form-group col-md-2">
        <label for="activeCheckBox">Active
          <button type="button"
                  class="btn btn-outline-secondary help-tooltip"
                  placement="top"
                  ngbTooltip="Whether product is active or not">?</button>
        </label>
        <p class="read-message" *ngIf="enableEdit">
          <input type="checkbox"
                 [(ngModel)]="product.active"
                 [ngModelOptions]="{standalone: true}"
                 id="activeCheckBox" >
        </p>
        <p class="read-message" *ngIf="!enableEdit">{{product.active}}</p>
      </div>
    </div>


    <div class="form-group">
      <label>Description
        <button type="button"
                class="btn btn-outline-secondary help-tooltip"
                placement="top"
                ngbTooltip="Description of the product">?</button>
      </label>
      <input autocomplete="off"
             *ngIf="enableEdit"
             class="form-control"
             type="text"
             [(ngModel)]="product.description"
             [ngModelOptions]="{standalone: true}"
      />
      <p class="read-message" *ngIf="!enableEdit">{{product.description}}</p>
    </div>

    <div class="form-row">
      <div class="form-group col-md-2" *ngIf="!enableEdit">
        <label>Size
          <button type="button"
                  class="btn btn-outline-secondary help-tooltip"
                  placement="top"
                  ngbTooltip="Size of the product">?</button>
        </label>
        <p class="read-message">{{product.unitSize}} {{product.unit}}</p>
      </div>
      <div class="form-group col-md-2" style="padding-right:0px;" *ngIf="enableEdit">
        <label>Unit Size
          <span class="star">*</span>
          <button type="button"
                  class="btn btn-outline-secondary help-tooltip"
                  placement="top"
                  ngbTooltip="Unitsize of the product">?</button>
        </label>
        <input autocomplete="off"
               #unitSize
               *ngIf="enableEdit"
               class="form-control"
               type="number"
               name="unitSize"
               [(ngModel)]="product.unitSize"
               [ngModelOptions]="{standalone: true}"
               />
      </div>
      <div class="form-group col-md-2" style="padding-left:0px;" *ngIf="enableEdit">
        <label>Unit
          <span class="star">*</span>
          <button type="button"
                  class="btn btn-outline-secondary help-tooltip"
                  placement="top"
                  ngbTooltip="Unit of the product">?</button>
        </label>
        <select class="form-control"
                #unitVal
                (change)="product.unit=unitVal.value;"
                [value]="product.unit"
                name="unit">
          <option *ngFor="let u of unit"
                  [value]="u"
                  [selected]="product.unit == u">{{u}}</option>
        </select>
      </div>
      <div class="form-group col-md-2" style="padding-right:0px;">
        <label>Price (USD)
          <span class="star">*</span>
          <button type="button"
                  class="btn btn-outline-secondary help-tooltip"
                  placement="top"
                  ngbTooltip="Unit price of the product">?</button>
        </label>
        <input autocomplete="off"
               #unitPrice
               *ngIf="enableEdit"
               class="form-control"
               type="number"
               name="unitPrice"
               [(ngModel)]="product.unitPrice"
               [ngModelOptions]="{standalone: true}" />
        <p class="read-message" *ngIf="!enableEdit">{{product.unitPrice | currency : 'USD' : '' }}</p>
      </div>
      <div class="form-group  col-md-2">
        <label>Pack Size
          <button type="button"
                  class="btn btn-outline-secondary help-tooltip"
                  placement="top"
                  ngbTooltip="Pack size of the product">?</button>
        </label>
        <input autocomplete="off"
               *ngIf="enableEdit"
               class="form-control"
               type="text"
               [(ngModel)]="product.packSize"
               [ngModelOptions]="{standalone: true}"/>
        <p class="read-message" *ngIf="!enableEdit">{{product.packSize}}</p>
      </div>

    </div>

    <div class="form-row">
<div class="form-group col-md-2">
        <label>Clonality
          <button type="button"
                  class="btn btn-outline-secondary help-tooltip"
                  placement="top"
                  ngbTooltip="Clonality of the product">?</button>
        </label>
        <select class="form-control"
                *ngIf="enableEdit"
                #clonality
                [value]="product.clonality"
                (change)="product.clonality=clonality.value;">
          <option *ngFor="let c of clonalities"
                  [value]="c"
                  [selected]="product.clonality == c">{{c}}</option>
        </select>
        <p class="read-message" *ngIf="!enableEdit">{{product.clonality}}</p>
      </div>
      <div class="form-group col-md-2">
        <label>Isotype
          <button type="button"
                  class="btn btn-outline-secondary help-tooltip"
                  placement="top"
                  ngbTooltip="Isotype of the product">?</button>
        </label>
        <input autocomplete="off"
               *ngIf="enableEdit"
               class="form-control"
               type="text"
               [(ngModel)]="product.isotype"
               [ngModelOptions]="{standalone: true}"
        />
        <p class="read-message" *ngIf="!enableEdit">{{product.isotype}}</p>
      </div>
    </div>


    <div class="form-group">
      <label>Immunogen
        <button type="button"
                class="btn btn-outline-secondary help-tooltip"
                placement="top"
                ngbTooltip="Immunogen of the product">?</button>
      </label>
      <div autocomplete="off"
           *ngIf="enableEdit"
           [innerHTML]="product?.immunogen"
           hidefocus="true"
           aria-label="Message Body"
           g_editable="true"
           aria-multiline="true"
           tabindex="1"
           contenteditable="true"
           class="form-control"
           id="specialinput" >
      </div>
      <div class="read-message" *ngIf="!enableEdit" [innerHTML]="product?.immunogen"></div>
    </div>


    <div class="form-group">
      <label>Purification
        <button type="button"
                class="btn btn-outline-secondary help-tooltip"
                placement="top"
                ngbTooltip="Purification of the product">?</button>
      </label>
      <input autocomplete="off"
             *ngIf="enableEdit"
             class="form-control"
             type="text"
             [(ngModel)]="product.purification"
             [ngModelOptions]="{standalone: true}"
      />
      <p class="read-message" *ngIf="!enableEdit">{{product.purification}}</p>
    </div>

    <div class="form-group">
      <label>Buffer
        <button type="button"
                class="btn btn-outline-secondary help-tooltip"
                placement="top"
                ngbTooltip="Buffer of the product">?</button>
      </label>
      <input autocomplete="off"
             *ngIf="enableEdit"
             class="form-control"
             type="text"
             [(ngModel)]="product.buffer"
             [ngModelOptions]="{standalone: true}"
      />
      <p class="read-message" *ngIf="!enableEdit">{{product.buffer}}</p>
    </div>

    <div class="form-group">
      <label>Specificity
        <button type="button"
                class="btn btn-outline-secondary help-tooltip"
                placement="top"
                ngbTooltip="Specificity of the product">?</button>
      </label>
      <input autocomplete="off"
             *ngIf="enableEdit"
             class="form-control"
             type="text"
             [(ngModel)]="product.specificity"
             [ngModelOptions]="{standalone: true}"
      />
      <p class="read-message" *ngIf="!enableEdit">{{product.specificity}}</p>
    </div>

    <div class="form-group">
      <label>Reconstitution
        <button type="button"
                class="btn btn-outline-secondary help-tooltip"
                placement="top"
                ngbTooltip="Reconstitution of the product">?</button>
      </label>
      <input autocomplete="off"
             *ngIf="enableEdit"
             class="form-control"
             type="text"
             [(ngModel)]="product.reconstitution"
             [ngModelOptions]="{standalone: true}"
      />
      <p class="read-message" *ngIf="!enableEdit">{{product.reconstitution}}</p>
    </div>

    <div class="form-group">
      <label>Storage
        <button type="button"
                class="btn btn-outline-secondary help-tooltip"
                placement="top"
                ngbTooltip="Storage of the product">?</button>
      </label>
      <input autocomplete="off"
             *ngIf="enableEdit"
             class="form-control"
             type="text"
             [(ngModel)]="product.storage"
             [ngModelOptions]="{standalone: true}"
      />
      <p class="read-message" *ngIf="!enableEdit">{{product.storage}}</p>
    </div>

    <div class="form-group">
      <label>Comment
        <button type="button"
                class="btn btn-outline-secondary help-tooltip"
                placement="top"
                ngbTooltip="Comment of the product">?</button>
      </label>
      <input autocomplete="off"
             *ngIf="enableEdit"
             class="form-control"
             type="text"
             [(ngModel)]="product.comment"
             [ngModelOptions]="{standalone: true}"
      />
      <p class="read-message" *ngIf="!enableEdit">{{product.comment}}</p>
    </div>

    <div class="form-group">
      <label>Application(s)
        <button type="button"
                class="btn btn-outline-secondary help-tooltip"
                placement="top"
                ngbTooltip="List of Applications">?</button>
      </label>
      <table class="table table-bordered">
        <tr>
          <table style="width:100%;">
            <tr>
              <td *ngIf="enableEdit" style="width:6%;"></td>
              <td style="width:33%;">
                <label style="font-weight:bold;">Purpose
                  <button type="button"
                          class="btn btn-outline-secondary help-tooltip"
                          placement="top"
                          ngbTooltip="Application purpose">?</button>
                </label>
              </td>
              <td style="width:33%;">
                <label style="font-weight:bold;">Reconmmended<br>Concentration
                  <button type="button"
                          class="btn btn-outline-secondary help-tooltip"
                          placement="top"
                          ngbTooltip="Application recommendation concentration">?</button>
                </label>
              </td>
              <td>
                <label style="font-weight:bold;">Comment
                  <button type="button"
                          class="btn btn-outline-secondary help-tooltip"
                          placement="top"
                          ngbTooltip="Application comment">?</button>
                </label>
              </td>
            </tr>
          </table>
        </tr>

        <tr *ngFor="let a of product.applications; let i = index">
          <table *ngIf="enableEdit">
            <tr>
              <td style="width:5%;vertical-align: center;">
                <button class="btn icon-btn" (click)="removeApplication(i)" style="margin-right:0px;">
                  <i class="fas fa-times"></i>
                </button>
              </td>

              <td style="width:100%;padding:0px;">
                <table style="width:100%;padding:0px;">
                  <tr>
                    <table style="width:100%;padding:0px;">
                      <tr>
                        <td style="width:35%; padding:0px;border-left:0px;border-top:0px;border-bottom:0px;">
                          <input autocomplete="off"
                                 type="text"
                                 class="form-control input-sm"
                                 [(ngModel)]="a.purpose"
                                 [ngModelOptions]="{standalone: true}">
                          <td style="width:35%;padding:0px;border-left:0px;border-top:0px;border-bottom:0px;border-right:0px;">
                            <input autocomplete="off"
                                   type="text"
                                   class="form-control input-sm"
                                   [(ngModel)]="a.recommendedConcentration"
                                   [ngModelOptions]="{standalone: true}">
                          </td>
                          <td style="padding:0px;border-left:0px;border-top:0px;border-bottom:0px;">
                            <input autocomplete="off"
                                   type="text"
                                   class="form-control input-sm"
                                   class="form-control input-sm"
                                   [(ngModel)]="a.comment"
                                   [ngModelOptions]="{standalone: true}">
                          </td>
                      </tr>
                    </table>
                  </tr>
                  <tr>
                    <table style="width:100%;">
                      <tr style="border:0px;">
                        <input autocomplete="off"
                               type="text"
                               class="form-control input-sm"
                               class="form-control input-sm"
                               [(ngModel)]="a.note"
                               [ngModelOptions]="{standalone: true}">
                      </tr>
                    </table>
                  </tr>
                </table>
                </td>

            </tr>
          </table>
          <table *ngIf="!enableEdit" style="width:100%;">
            <tr>
              <table style="width:100%;">
                <td style="width:33%;">
                  <p class="read-message">{{a.purpose}}</p>
                </td>
                <td style="width:33%;">
                  <p class="read-message">{{a.recommendedConcentration}}</p>
                </td>
                <td>
                  <p class="read-message">{{a.comment}}</p>
                </td>
              </table>
            </tr>
            <tr>
              <table style="width:100%;">
                <tr>
                  <p class="read-message">{{a.note}}</p>
                </tr>
              </table>
            </tr>
          </table>
        </tr>
        <tr *ngIf="enableEdit">
          <td colspan="6" style="padding:0px;">
            <button class="btn btn-outline-primary new-ingre" (click)="addNewApplication()">
              <i class="fas fa-plus"></i> New Application</button>
          </td>
        </tr>
      </table>
    </div>


    <app-review *ngIf="!isNew"
                [enableEdit]="enableEdit"
                [status]="product.editStatus"
                [user]="currentuser"
                [reviewComment]="product.editStatusComment"
                [reviewedBy]="product.reviewedBy"
                [canReview]="canReviewProducts"
                (updateReview)="reviewUpdated($event)"></app-review>


      <ngb-alert *ngIf="!hideWarning" (close)="hideWarning = true">
        <ng-container *ngFor="let warning of inputWarning; let i = index">
          <p>
            <strong>{{warning}}</strong>
          </p>
        </ng-container>
      </ngb-alert>



  </form>

  <app-attachment></app-attachment>

  <div class="submit-buttons">
    <button *ngIf="enableEdit" (click)="validateuserinput();">{{isNew?'Save':'Update'}}</button>
    <button type="button" (click)="cancelproduct()">Close</button>
  </div>
</div>

