.recommend {
    position: absolute;
    background-color: white;
    border: 1px solid lightgrey;
    box-shadow: 3px 3px 5px 0px lightgrey;
    max-width: 90%;
  }

  .recItem {
    width: 100%;
    background-color: white;
    margin: 0px;
    transition: 1s background-color;
    -moz-transition: 1s background-color;
    -o-transition: 1s background-color;
    -webkit-transition: 1s background-color;
  }

  .recItem:hover {
    background-color: lightgrey;
  }

  .new-ingre {
    width: 100%;
    margin: 0px;
    border-radius: 0px;
  }

  .read-message{
    padding: 5px;
  }

  .submit-buttons {
    /* text-align: right; */
    margin-top: 2rem;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // padding: 0 1rem;

    button{
      width: 80px;
      height: 100%;
      margin-left: 1rem;
      background-color: #17a2b8;
      color: white;
      border-radius: 0.5rem;
      outline: none;
      border: none;
      transition: all ease-in 0.3s;

      &:hover{
        cursor: pointer;
        transition: all ease-out 0.3s;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
      }
    }

    span{
      transition: all ease-in 0.3s;
      border-radius: 1rem;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover{
        cursor: pointer;
        transition: all ease-out 0.3s;
        background-color: #e7e7e8;
      }
    }
  }

  .angular-with-newlines {
    white-space: pre-wrap;

  }

  .testarea{
    border-radius: 3px;
    border-color: lightgrey;
  }

  .star{
    color:red;
  }

  .catforcomponent{
    padding:0px;
    text-align: center;
    color: red;
    font-size: 11px;
  }

  input.form-control{
    padding:8px, 0px;
    height:38px;
  }

  select.form-control{
    padding:0px;
    font-size:12px;
  }

  label{
    margin-bottom: 0px;
  }

  div.form-group{
    margin-bottom:5px;
  }

  p{
    border:0px;
    margin-bottom:0px;
  }

  #specialinput{
    font-size:12px;
    min-height:39px;
    direction:ltr;

  }
