.timer-panel-container{
  height: 300p;
  width: 100%;
  border-radius: 10px;
  background-color: #f0f0f0;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.config-panel{
  background-color: white;
  border-radius: 10px;
  height: 268px;
  padding: 16px;
  /* width: 30px; */
}

.config-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.progress-timer-container{
  background-color: white;
  border-radius: 10px;
  height: 268px;
  width: 500px;
  /* width: 200px; */
}
