.padding-left-17p{padding-left: 17%;}
.padding-left-35p{padding-left: 35%;}
.padding-left-40p{padding-left: 40%;}
.padding-left-28p{padding-left: 28%;}
.margin-left-35p{ margin-left: 35%;  }
.margin-left-40p{ margin-left: 40%;  }
.margin-left-50{ margin-left: 50px;  }
.margin-left-10{ margin-left: 10px;  }
.margin-bottom-50{ margin-bottom: 50px; }
.margin-top-50p{ margin-top: 50%; }
.margin-top-50{ margin-top: 50px; }
.margin-top-80{ margin-top: 80px; }
.select-width-50{ width: 50px; }
.select-width-80{ width: 80px; }
.display-block{display: block}
.fit-content {width: fit-content;}
hr{border-top: 0px; border-right: 0px; border-left: 0px; border-bottom: 2px solid rgb(63, 81, 177);}
.italic{font-style: italic;}
.z-index-1 {z-index: 1;}
.width-10p { width:10%; }
.width-150{ width:150px; }
.width-300{ width:300px; }
.width-380{ width:380px; }
.width-400{ width: 400px; }
.width-500{ width: 500px; }

.width-600{ width: 600px; }
.height-40{ height: 40px; }
.height-200{ height: 200px; }
.height-300{ height: 300px; }
.height-100p{ height: 100%; }

.comment-container{
  display: flex;
  align-items: center;
}

.comment-btn-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  min-width: 180px;
}

.btn-container{
  background-color: rgb(240, 240,240);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

.text-btn{
  border: none;
  color: rgb(160, 161, 162)
}

.text-btn:hover{
  color: rgba(81, 82, 82, 1);
  cursor: pointer;
}

.text-btn:active{
  top: 3px;

}


/* Butto click animation */
.primary-btn-animation{
  transition: font-size 200ms ease-out
 }

 .warn-btn-animation{
   transition: font-size 200ms ease-out
 }

 .accent-btn-animation{
  transition: font-size 200ms ease-out
}

 .primary-btn-animation:hover {
   border: 2px #3f51b5 solid;
   background-color: white;
   color: #3f51b5;
   font-size: large;
 }

 .warn-btn-animation:hover {
   border: 2px #f44336 solid;
   background-color: white;
   color: #f44336;
   font-size: large;
 }

 .accent-btn-animation:hover {
  border: 2px rgb(253, 66, 129) solid;
  background-color: white;
  color: rgb(253, 66, 129);
  font-size: large;
}

.update-btn{
  position:absolute;
  left: 26px;
  bottom: 16px;
}

.save-btn{
  position: absolute;
  left: 26px;
  bottom: 16px;
}
