
.pointer {
    width: 220px;
    height: fit-content;
    position: fixed;
    background-color: #7f8ff4;
    top: 211px;
    right: -20px;
    padding: 1rem;
    color: white;
    z-index: 2;
    border-radius: 1rem;
    -webkit-box-shadow: 5px 5px 15px 5px #7F8FF4;
    box-shadow: 5px 5px 15px 5px #7F8FF4;

    .pointer-content{
      // border: 2px red solid;
      margin-right: 1rem;
      word-wrap: break-word;
      caret-color: rgba(0,0,0,0);

      .pointer-content-label{
        width: 110px;
        display: inline-block;
        text-align: center;
      }

      // .pointer-content-text{
      //   border: 2px white solid;
      //   display: block;
      //   color: #7f8ff4;
      //   padding: 0.5rem;
      //   background-color: white;
      //   border-radius: 0.5rem;
      // }
      // .triangle-right{
      //   width: 0;
      //   height: 0;
      //   border-top: 10px solid transparent;
      //   border-left: 20px solid #fee390;
      //   border-bottom: 10px solid transparent;
      // }

    }
}

.pointer-content-text{
  border: 2px white solid;
  display: block;
  color: #7f8ff4;
  padding: 0.5rem;
  background-color: white;
  border-radius: 0.5rem;
}

.left-pointer-arrow {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 100px solid red;
  border-bottom: 50px solid transparent;


  }
// #pointer:before {
//   content: "";
//   position: absolute;
//   right: -20px;
//   bottom: 0;
//   width: 0;
//   height: 0;
//   border-left: 20px solid red;
//   border-top: 20px solid transparent;
//   border-bottom: 20px solid transparent;
// }
.margin-bottom-1rem{
  margin-bottom: 1rem;
}

.orange-fdd431{
  color: #fdd431
}

.border-orange{
  border: 2px solid #fdd431;
}

.shadow-orange{
  -webkit-box-shadow: 0px 1px 10px 0px rgba(254,227,144,1);
  -moz-box-shadow: 0px 1px 10px 0px rgba(254,227,144,1);
  box-shadow: 0px 1px 10px 0px rgba(254,227,144,1);
}

.exclamation-mark{
    width: 24px;
    height: 24px;
    border-radius: 24px;
    background-color: #fdd431;
    color: #7f8ff4;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 5px;
}
