$black: #000000;
$cornflower-lilac: #ffaea9;
// $salmon: #ff7b73;
$salmon: rgb(111, 205, 247);
$white: #ffffff;
// $your-pink: #ffcccc;
$your-pink: rgb(111, 205, 247);

.main-container{
  padding-top: 50px;
  width: 500px;
  // height: 700px;
  min-height: 400px;
  // border: 2px green solid;
  background-color: $salmon;
  border-radius: 10px;
  // display: flex;
  // justify-content: center;
  // align-items: flex-start;
  // flex-direction: column;
}


.list-border{
  list-style-type: none;
  // border: red 2px solid;
  height: 350px;
  background-color: white;
  overflow: scroll;
  border-radius: 10px;
  padding-top: 10px;
  width: 60%;
  margin: 0 auto;
}

.search-container{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
//   border: blue 2px solid;
}

.assignment-container {
  // display: block;
  // width: 100%;
    // border: 2px red solid;
    font-size: 10px; // change value to scale
    font-family: Roboto, sans-serif;
    background-color: $salmon;
  // width:50%;
    // margin: 0 auto;
    // display: grid;
    // height: 100vh;
    // width: 100%;
    // height: 200px;
    place-items: center;
    border-radius: 10px;
}

.c-form__toggle{
  transition:  width 1s ease;
}

.c-form__toggle:hover{
  width: 25em;
}

.c-checkbox {
    display: none;

    &:checked + .c-formContainer {

        .c-form {
            width: 37.5em;
        }

        .c-form__toggle {
            visibility: hidden;
            opacity: 0;
            transform: scale(0.7);
        }

        .c-form__input,
        .c-form__buttonLabel {
            transition: 0.2s 0.1s;
            visibility: visible;
            opacity: 1;
            transform: scale(1);
        }
    }

    &:not(:checked),
    &:checked {
        + .c-formContainer .c-form__input:required:valid ~ .c-form__toggle::before {
            content: 'Thank You! \1F60A';
        }
    }

    &:not(:checked) + .c-formContainer {
        .c-form__input:required:valid ~ .c-form__toggle {
            pointer-events: none;
            cursor: default;
        }
    }
}

.c-formContainer,
.c-form,
.c-form__toggle {
    width: 20em;
    height: 6.25em;
}

.c-formContainer {
    position: relative;
    font-weight: 700;
}

.c-form,
.c-form__toggle {
    position: absolute;
    border-radius: 6.25em;
    background-color: $white;
    transition: 0.2s;
}

.c-form {
    left: 50%;
    transform: translateX(-50%);
    padding: 0.625em;
    box-sizing: border-box;
    box-shadow: 0 0.125em 0.3125em rgba($black, 0.3);

    // position form inputs
    display: flex;
    justify-content: center;
}

.c-form__toggle {
    color: $salmon;
    top: 0;
    cursor: pointer;
    z-index: 1;

    // position message
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        font-size: 1.75em;
        content: attr(data-title);
    }
}

.c-form__input,
.c-form__button {
    font: inherit;
    border: 0;
    outline: 0;
    border-radius: 5em;
    box-sizing: border-box;
}

.c-form__input,
.c-form__buttonLabel {
    font-size: 1.75em;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.7);
    transition: 0s;
}

.c-form__input {
    color: rgb(111, 205, 247);
    height: 100%;
    width: 100%;
    padding: 0 0.714em;

    &::placeholder {
        color: currentColor;
    }

    &:required:valid {
        color: $salmon;

        + .c-form__buttonLabel {
            color: $white;

            &::before {
                pointer-events: initial;
            }
        }
    }
}

.c-form__buttonLabel {
    color: white;
    height: 100%;
    width: auto;

    // accepts click events
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        pointer-events: none;
        cursor: pointer;
    }
}

.c-form__button {
    color: inherit;
    padding: 0;
    height: 100%;
    width: 5em;
    background-color: $salmon;
    transition:  all .3s ease;
    &:hover {
      cursor: pointer;
      width: 8em;
      // transform:  translateY(-3px);
      box-shadow:  0 2px 6px -1px rgba(111, 205, 247, .65);
      &:active {
        transform:  scale(.99);
      }
    }
}





// // CSS for dropdown list
// #checklist {
//   --background: #ffffff;
//   --text: #414856;
//   --check: #4F29F0;
//   --disabled: #C3C8DE;
//   --width: 100px;
//   --height: 140px;
//   --border-radius: 10px;
//   background: var(--background);
//   // width: var(--width);
//   // height: var(--height);
//   height: 250px;
//   width: 80%;
//   margin: 0 auto;
//   border-radius: var(--border-radius);
//   position: relative;
//   box-shadow: 0 10px 30px rgba(#414856, 0.05);
//   padding: 30px 45px;
//   display: grid;
//   grid-template-columns: 30px auto;
//   align-items: center;
//   label {
//     color: var(--text);
//     position: relative;
//     cursor: pointer;
//     display: grid;
//     align-items: center;
//     width: fit-content;
//     transition: color .3s ease;
//     &::before,
//     &::after {
//       content:"";
//       position: absolute;
//     }
//     &::before {
//       height: 2px;
//       width: 8px;
//       left: -27px;
//       background: var(--check);
//       border-radius: 2px;
//       transition: background .3s ease;
//     }
//     &:after {
//       height: 4px;
//       width: 4px;
//       top: 8px;
//       left: -25px;
//       border-radius: 50%;
//     }
//   }
//   input[type="checkbox"] {
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     position: relative;
//     height: 15px;
//     width: 15px;
//     outline: none;
//     border: 0;
//     margin: 0 15px 0 0;
//     cursor: pointer;
//     background: var(--background);
//     display: grid;
//     align-items: center;
//     &::before,
//     &::after {
//       content:"";
//       position: absolute;
//       height: 2px;
//       top: auto;
//       background: var(--check);
//       border-radius: 2px;
//     }
//     &::before {
//       width: 0px;
//       right: 60%;
//       transform-origin: right bottom;
//     }
//     &::after {
//       width: 0px;
//       left: 40%;
//       transform-origin: left bottom;
//     }
//     &:checked {
//       &::before {
//         animation: check-01 .4s ease forwards;
//       }
//       &::after {
//         animation: check-02 .4s ease forwards;
//       }
//       + label {
//         color: var(--disabled);
//         animation: move .3s ease .1s forwards;
//         &::before {
//           background: var(--disabled);
//           animation: slice .4s ease forwards;
//         }
//         &::after {
//           animation: firework .5s ease forwards .1s;
//         }
//       }
//     }
//   }
// }

// @keyframes move {
//   50% {
//     padding-left: 8px;
//     padding-right: 0px;
//   }
//   100% {
//     padding-right: 4px;
//   }
// }
// @keyframes slice {
//   60% {
//     width: 100%;
//     left: 4px;
//   }
//   100% {
//     width: 100%;
//     left: -2px;
//     padding-left: 0;
//   }
// }
// @keyframes check-01 {
//   0% {
//     width: 4px;
//     top: auto;
//     transform: rotate(0);
//   }
//   50% {
//     width: 0px;
//     top: auto;
//     transform: rotate(0);
//   }
//   51% {
//     width: 0px;
//     top: 8px;
//     transform: rotate(45deg);
//   }
//   100% {
//     width: 5px;
//     top: 8px;
//     transform: rotate(45deg);
//   }
// }
// @keyframes check-02 {
//   0% {
//     width: 4px;
//     top: auto;
//     transform: rotate(0);
//   }
//   50% {
//     width: 0px;
//     top: auto;
//     transform: rotate(0);
//   }
//   51% {
//     width: 0px;
//     top: 8px;
//     transform: rotate(-45deg);
//   }
//   100% {
//     width: 10px;
//     top: 8px;
//     transform: rotate(-45deg);
//   }
// }
// @keyframes firework {
//   0% {
//     opacity: 1;
//     box-shadow: 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0;
//   }
//   30% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//     box-shadow: 0 -15px 0 0px #4F29F0, 14px -8px 0 0px #4F29F0, 14px 8px 0 0px #4F29F0, 0 15px 0 0px #4F29F0, -14px 8px 0 0px #4F29F0, -14px -8px 0 0px #4F29F0;
//   }
// }


// //--- ## BASIC #############
//  .list-container{
//   background: rgb(111, 205, 247);
//   // height: 100vh;
//   border: orange 2px solid;
//   height: 300px;
//   width: 100%;
//   font: 400 16px 'Varela Round', sans-serif;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   .socials {
//     position: fixed;
//     display: block;
//     left: 20px;
//     bottom: 20px;
//     > a {
//       display: block;
//       width: 30px;
//       opacity: .2;
//       transform: scale(var(--scale, .8));
//       transition: transform .3s cubic-bezier(0.38,-0.12, 0.24, 1.91);
//       &:hover {
//         --scale: 1;
//       }
//     }
//   }
// }






.list-container {
  // border: 2px orange solid;
  width: 100%;
  // height: 400px;
  min-height: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.assign-window{
  width: 90%;
  margin: 0 auto;
  // border: 2px green solid;
  border-radius: 10px;
  // height: 300px;
  min-height: 100px;
  background-color: white;
  overflow: hidden;
}

.commit-window{
  border-radius: 10px;
  height: 300px;
  background-color: rgb(111, 205, 247);
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.list-window{
  // border: red 2px solid;
  border-radius: 10px 10px 0px 0px;
  min-height: 100px;
  max-height: 150px;
  width: 103%;
  // height: 250px;
  // height: 250px;
  // width: 102.5%;
  overflow: scroll;
  // background-color: rgba(0, 0, 0, .1);
  // opacity: 0.3;
  // display: flex;
  // justify-content: flex-start;
  // align-items: center;
  flex-flow: column;
  // position: relative;
  // left: 15px;
}

.delete {
  color: rgb(0, 0, 0, 0.2);
  // margin-left: 5%;
  margin-right: 10%;
  transition: all .3s ease;
}

.delete:hover{
  cursor: pointer;
  color: #f44336;
  font-size: 36px;
}

.disable-btn{
  border-radius: 0px 0px 10px 10px;
  width: 100%;
  height: 50px;
  font-size: 20px; // change value to scale
  font-family: Roboto, sans-serif;
  outline:none;
}

.assign-btn{
  transition: font-size .3s ease;
  border-radius: 0px 0px 10px 10px;
  width: 100%;
  height: 50px;
  background-color: rgb(52, 207, 83);
  color: white;
  font-size: 20px; // change value to scale
  font-family: Roboto, sans-serif;
  outline:none;
}

.assign-btn:hover{
  border: 3px rgb(51, 205, 82) solid;
  background-color: white;
  color: rgb(51, 205, 82);
  font-size: 25px;
  font-weight: bolder;
}

.proceed-btn{
  transition: font-size .3s ease;
  border-radius: 10px;
  width: 80%;
  height: 50px;
  background-color: rgb(52, 207, 83);
  color: white;
  font-size: 20px; // change value to scale
  font-family: Roboto, sans-serif;
  outline:none;
}

.proceed-btn:hover{
  border: 2px rgb(51, 205, 82) solid;
  background-color: white;
  color: rgb(51, 205, 82);
  font-size: 25px;
}

.cancel-btn{
  transition: font-size .3s ease;
  outline:none;
  border-radius: 10px;
  width: 80%;
  height: 50px;
  background-color: #f44336;
  color: white;
  font-size: 20px; // change value to scale
  font-family: Roboto, sans-serif;
}

.cancel-btn:hover{
  border: 2px #f44336 solid;
  background-color: white;
  color: #f44336;
  font-size: 25px;
}

.notification{
  color: white;
  font-size: 20px; // change value to scale
  font-family: Roboto, sans-serif;
}

.assign-btn:hover{
  cursor: pointer;
//   -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
// -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
// box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
}

.proceed-btn:hover{
  cursor: pointer;
}

.cancel-btn:hover{
  cursor: pointer;
}
.user-list-container{
  list-style-type: none;
  // overflow: scroll;
}
.user{
  // text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border-bottom: 1px dotted gray;
  // border: green 2px solid;
  display: block;
  font-weight: bolder;
  color: black;
  opacity: 1;
  font-size: 15px; // change value to scale
  font-family: Roboto, sans-serif;
  transition: all 300ms ease-out;
}

.user:hover{
  // border: none;
  background-color: rgb(0, 0, 0, 0.2);
  cursor: pointer;
}

.thought-user{

  z-index:3;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
  min-width: 70%;
  display: inline-block;
  font-weight: bold;
  color: black;
  opacity: 1;
  font-size: 1em; // change value to scale
  font-family: Roboto, sans-serif;
  transition: all 0.3s ease;
}

.thought-user:hover{
  border-radius: 6.25em;
  font-weight: bolder;
  font-size: 1.25em;
  background-color: rgb(0, 0, 0, 0.1);
  cursor: pointer;
}


// CSS for thoughts bubble

.thought {
  position: relative;
  bottom: 30px;
  // border: green 2px solid;
  display:flex;
  background-color:white;
  padding:10px;
  border-radius:30px;

  min-width:40px;
  // max-width:220px;
  max-width:300px;
  min-height:40px;
  margin:20px;
  position:relative;
  align-items:center;
  justify-content:center;
  text-align:center;
  flex-flow: column;
  // margin: 0 auto;
  // overflow: scroll;

}

.name-bubble{

  // border: green 2px solid;
  height: 100px;
  width: 100%;
  overflow: scroll;
  position: relative;
  left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  z-index:3;
}

.parent-bubble{
  height: 100px;
  // max-height: 100px;
  width: 100%;
  overflow: hidden;
  // border: blue 3px dotted;
  z-index:2;
  // min-height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  right: 12px;
}


.thought:after {
  content:"";
  background-color:white;
  border-radius:50%;
  display:block;
  position:absolute;
  // z-index:-1;
}

.thought:after {
  bottom:-12px;
  // right:26px;
  right:110px;
  width:60px;
  height:60px;
  box-shadow:
            //  14px 27px 0 -7px white,
            //  34px 37px 0 -10px white;
            // 16px 29px 0 -27px white,
            // 30px 44px 0 -12px white;
            17px 41px 0 -22px white,
            30px 55px 0 -26px white;

}

.opacity-1{
  opacity: 1;
}

.opacity-0{
  opacity: 0;
}
