<div *ngIf="mode === 'regular'" class="list-item-container background-animation">
  <span *ngIf="displayLabel" class="material-icons orange600 md-36 margin-left-10" matTooltip="Step Pointer" [matTooltipPosition]="'above'">
    label_important
  </span>

  <div>
    <mat-form-field class="margin-left-40">
      <mat-label>
        {{placeHolderValue}}
      </mat-label>
    <mat-select [(value)] = "selected_ex_type" (selectionChange)="notifySelectionValue()">

    <mat-option *ngFor="let ex_type of ex_types" [value] = "ex_type"  >{{ex_type}}</mat-option>
    </mat-select>

    </mat-form-field>

    <div class="btn-container">
      <button *ngIf = "!hideStepMove" mat-mini-fab color="primary" (click)="moveUp()" class="margin-left-50 primary-btn-animation icon-btn">
        <span class="material-icons md-36">arrow_upward</span>
      </button>

      <button *ngIf = "!hideStepMove" mat-mini-fab color="primary" (click)="moveDown()" class="margin-left-50 primary-btn-animation icon-btn">
        <span class="material-icons md-36">arrow_downward</span>
      </button>

      <button *ngIf = "displayRemoveButton"  (click)="removeStep()" class="margin-left-50 warn-btn-animation icon-btn cancel-btn mat-elevation-z5">
        <span class="material-icons md-36">close</span>
      </button>
    </div>

  </div>
</div>
<br *ngIf="mode === 'regular'">
<br *ngIf="mode === 'regular'">


  <mat-form-field *ngIf="mode === 'simple'" appearance="outline" [style.width]="width">
    <mat-label>{{placeHolderValue}}</mat-label>
    <mat-select [(value)] = "selected_unit" (selectionChange)="unitSelection()">
      <mat-option *ngFor="let ex_type of ex_types" [value] = "ex_type"  >{{ex_type}}</mat-option>
    </mat-select>
  </mat-form-field>





