.z-index-1{
  z-index: 1;
}

.z-index-2{
  z-index: 10;
}
td {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}

.flex-center {
  display: flex;
  align-items: center;
}

.modal-body label {
  font-size: 12.5px;
  font-weight: bold;
}

.order-items-button {
  font-size: 12.5px;
}

.table-modal * {
  font-size: 14px;
}

table{
  width:100%;
}

.table-container{
  height: 65%;
}

.tab-title{
  font-size: 16px;

}

/* .tab-container{
  height: 80%;
} */

.recItem:hover{
  background-color:grey;
}

.recommend {
  position: absolute;
  background-color: white;
  border: 1px solid lightgrey;
  box-shadow: 3px 3px 5px 0px lightgrey;
  max-width: 90%;
}

.recItem {
  width: 100%;
  background-color: white;
  margin: 0px;
  transition: 1s background-color;
  -moz-transition: 1s background-color;
  -o-transition: 1s background-color;
  -webkit-transition: 1s background-color;
}

.form-control{
  font-size: 12px;
  font-weight: bold;
  width: 100%;
  height: 35px;
}

.ordername:hover{
  background-color: lightgrey;
}

.arrow-btn{
  display: inline-block;
  /* width: 33.33%; */
  margin: 0px;
  border: none;
  height: 45px;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  padding: 0px;
}

.arrow-body{
  width: 100%;
  height: 100%;
  display: inline-block;
  float: left;
  top: 50%;
  background-color: #e8e8e8;
  /* color: #8b8b8b; */
  padding: 0px 0px;
  margin:0px;
}


.inner-btn::after{
  content:"";
  width: 0px;
  height: 0px;
  border-top: 22.5px solid transparent;
  border-bottom: 22.5px solid transparent;
  border-right: 0px solid transparent;
  border-left: 45px solid #e8e8e8;
  display: inline-block;
  position: absolute;
}

.arrow-btn.active>.arrow-body{
  background-color: #c3e933;
}

.arrow-btn:focus{
  border: none;
  outline: none;
}

.arrow-body:focus, .arrow-body:active{
  background-color: #c3e933;
}


.arrow-btn.active.inner-btn::after{
  border-left-color: #c3e933;
}

.table-scroll{
  height: 90%;
  display: block;
  margin: 0px;
  width: 100%;
}

.table-scroll>tbody{
  display: block;
  width: 100%;
  height: 85%;
  overflow-y: overlay;
}

.table-scroll>tbody>tr{
  width: 100%;
  table-layout: fixed;
  display: table;
}

.table-scroll>thead{
  display: inline-table;
  width: 100%;
  table-layout: fixed;
}

.slide{
  /* display: inline-block; */
  position: fixed;
  z-index: 11;
  top: 0px;
  right: 0px;
  /* width:auto; */
  /* max-width: 80%; */
  /* min-width:800px; */
  height: 100%;
  transition: 1s right;
  -moz-transition:1s right;
  -o-transition:1s right;
  -webkit-transition:1s right;
}

.edit-container{
  /* display: inline-block; */
  /* display: table; */
  /* float:left; */
  /* width: 100%; */
  /* max-width:100%;
  min-width:50%; */
  height: 100%;
  position: absolute;
  right: 0px;
  background-color: white;
  border-left: 15px solid #28a745;
  padding: 10px 30px;
  box-shadow: -5px 0px 20px 0px #705757;
  overflow-y: auto;
}

.exit-container{
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: transparent;
  border: none;
}

.star{
  color:red;
}

.class1 > img {
  width: 200px;
}
.class2 > img {
  width: 100px;
}

.class3 > img {
  width: 50px;
}

/* .modal-xl .modal-lg {
  width: 600px;
}

.modal-sm{
  width:600px;
} */

textarea.rejectcomment {
  width:100%;
  height: auto;
  border-radius: 2%
}


.order-item-searchbar-container {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order-item-searchbar-container .search-input-container {
  width: 200px;
  border-radius: 0 1rem 1rem 0;
  height: 50%;
  min-height: 30px;
  outline: none;
  border: #17a2b8 2px solid;
  padding: 0.5rem;
  transition: all ease-in 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(23, 162, 184, 0.5);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(23, 162, 184, 0.5);
  box-shadow: inset 0px 0px 5px 0px rgba(23, 162, 184, 0.5);
}
.order-item-searchbar-container .search-input-container input {
  border: none;
  outline: none;
  width: 95%;
  margin-right: 0.5rem;
  background-color: transparent;
}
.order-item-searchbar-container .search-icon-container {
  width: 50px;
  border-radius: 1rem 0 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  min-height: 30px;
  border-right: none;
  transition: all ease-in 0.2s;
  background-color: #17a2b8;
  color: white;
}
.order-item-searchbar-container .search-icon-container:hover {
  cursor: pointer;
}
.order-item-searchbar-container .search-icon-container:active {
  transform: translatey(2px);
  transition: transform ease-out 0.2s;
}
.order-item-searchbar-container .cancel-search {
  color: rgba(23, 162, 184, 0.3);
  transition: all ease-in 0.3s;
  font-weight: bold;
  font-size: 14px;
}
.order-item-searchbar-container .cancel-search:hover {
  transition: all ease-out 0.3s;
  cursor: pointer;
  color: #17a2b8;
  transform: rotate(90deg);
}

.checkbox-shadow-container {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox-shadow-container .checkbox-shadow {
  height: 30px;
  margin: 0.5rem;
}

.order-search-menu{
  width: fit-content;
}

.order-search-menu button{
  outline: none;
}

.order-search-no-result{
  width:100%;
  height: 300px;
  border-radius: 1rem;;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.7);
  color: white;
  font-size: x-large;
}

.order-item{
  color: #007bff;
  }

.shadow-row{
  transition: all ease-in 0.3s;
  &:hover{
    transition: all ease-out 0.3s;
    cursor: pointer;
    background-color: lightgrey;
  }
}
