<div class="tab-container">
  <h2>Order Items</h2>

  <!-- option to pick columns to appear on screen -->
  <div class="row control-box">
    <div ngbDropdown style="display: inline-block;">
      <button class="btn btn-default menu-btn"
              id="dropdownBasic1"
              ngbDropdownToggle
              style="font-size:16px;">
        <i class="fa fa-list"
           aria-hidden="true">
        </i> Edit View
      </button>

      <div ngbDropdownMenu
           aria-labelledby="dropdownBasic1">
        <button *ngFor="let mode of columnList; let i = index;"
                 class="dropdown-item"
                 (click)="toggleViewCol(i)">
          <input autocomplete="off"
                 type="checkbox"
                 [checked]="viewColumn[i]">
                 {{mode}}
          </button>
      </div>
    </div>

    <button *ngIf="canRequestOrder" class="btn btn-default menu-btn" (click)="createNewOrder()" style="font-size:16px;">
      <i class="fa fa-plus" aria-hidden="true"></i> Create New Order
    </button>


    <button class="btn btn-default menu-btn"
            *ngIf="currentTab == ORDER_STATUS.REQUESTED && orderItemsSelected.length > 0"
            (click)="approveRequest()">
      Approve Request
    </button>
    <button class="btn btn-default menu-btn"
            *ngIf="currentTab == ORDER_STATUS.APPROVED && orderItemsSelected.length > 0"
            (click)="showETA()">
      Mark as Ordered
    </button>

    <button class="btn btn-default menu-btn"
            *ngIf="currentTab != ORDER_STATUS.RECEIVED && orderItemsSelected.length > 0"
            (click)="cancelSelectedOrder()">
       Cancel Order
    </button>

    <button class="btn btn-default menu-btn"
            *ngIf="(currentTab == ORDER_STATUS.REQUESTED || currentTab == ORDER_STATUS.APPROVED) && orderItemsSelected.length > 0"
            (click)="showRejectModal()">
       Reject Order
    </button>

    <button class="btn btn-default menu-btn"
            *ngIf="currentTab == ORDER_STATUS.REJECTED && orderItemsSelected.length > 0"
            (click)="resubmitOrder();">
     <i class="fa fa-repeat" aria-hidden="true"></i>Resubmit Order
    </button>
  </div>


  <div class="section">
    <button *ngFor="let t of tabs; let i = index;"
            [ngClass]="'arrow-btn arrow'+i"
            [style.width.%]="100/tabs.length"
            (click)="changeTab(t)"
            [class.inner-btn]="i<tabs.length-1"
            [class.active]="currentTab == t">
      <div class="arrow-body">{{t}}</div>
    </button>
  </div>


  <div class="order-item-searchbar-container">
    <div class="search-icon-container" (click)="page = 1; searchOrder()">
      <i class="fa fa-search" aria-hidden="true"></i>
    </div>

    <div class="search-input-container" #orderSearchContainer>
      <input type="text" (click)="expandSearchContainer(orderSearchContainer)" [(ngModel)]="search.searchKey" (keyup.enter)="page = 1; searchOrder()" placeholder="Search by name, catalog number, supplier, manufacturer, requester, or client">
      <span class="material-icons cancel-search" (click)="cancelSearch(orderSearchContainer); order_filter_1.checked=false; order_filter_2.checked=false">
        close
      </span>
    </div>


    <div class="order-search-menu">
      <button mat-button [matMenuTriggerFor]="menu">
        Filter
        <span class="material-icons">
        arrow_drop_down
        </span>
      </button>
      <mat-menu #menu="matMenu">
          <mat-checkbox #order_filter_1 (click)="onMyRequest()" [style.margin-left]="'1rem'" color="primary">My Requested Orders</mat-checkbox>
          <mat-checkbox #order_filter_2 (click)="onUrgent()" [style.margin-left]="'1rem'" color="primary">Urgent Orders</mat-checkbox>
      </mat-menu>
    </div>
  </div>

  <div *ngIf="search.myRequestedOrdersOnly || search.urgentOrdersOnly" class="checkbox-shadow-container">
    <div class="checkbox-shadow">
      <mat-checkbox *ngIf="search.myRequestedOrdersOnly" [disabled]="true" [checked]="true">My Requested Orders</mat-checkbox>
    </div>

    <div class="checkbox-shadow">
      <mat-checkbox *ngIf="search.urgentOrdersOnly" [disabled]="true" [checked]="true">Urgent Orders</mat-checkbox>
    </div>
  </div>










  <div class="order-tab-content table-container">
    <table class="table table-scroll requests">
      <thead>
        <tr>
          <th width="50" *ngIf="canManageOrders"></th>
          <th width="50" *ngIf="currentTab=='Received' && canManageOrders">PO</th>
          <th *ngIf="viewColumn[0]" colspan="2">Name</th>
          <th *ngIf="viewColumn[1]" colspan="2">Manufacturer Cat #</th>
          <th *ngIf="viewColumn[2]">Amount <br>/Quantity</th>
          <th *ngIf="viewColumn[3]">Back-ordered<br>Amount</th>
          <th *ngIf="viewColumn[4]">Unit</th>
          <th *ngIf="viewColumn[5]">Container Size</th>
          <th *ngIf="viewColumn[6]" colspan="2">Supplier</th>
          <th *ngIf="viewColumn[7]" colspan="2">Manufacturer</th>
          <th *ngIf="viewColumn[8]" colspan="2">Project Number</th>
          <th *ngIf="viewColumn[9]" colspan="2">Requested By</th>
          <th *ngIf="viewColumn[10] && currentTab=='Received'" colspan="2">Received By</th>
          <th *ngIf="viewColumn[11]" colspan="2">Status</th>
          <th *ngIf="viewColumn[12]" colspan="2">{{currentTab}} Date</th>
          <th *ngIf="viewColumn[13]">
            <a style="*color:#17a2b8; font-weight:bold; text-decoration: none; cursor: pointer;" (click)="setUrgent()">
              {{showUrgent?'Show All':'Urgent'}}
            </a>
          </th>
          <th *ngIf="viewColumn[14]" colspan="2">Comment(s)</th>
          <th *ngIf="viewColumn[15]" colspan="2">Status Reason</th>
          <th *ngIf="currentTab=='Ordered' && canManageOrders"></th>
          <th *ngIf="currentTab=='Ordered' && canManageOrders"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of displayOrders; let index=index" class="shadow-row">
          <td width="50" *ngIf="canManageOrders">
            <input type="checkbox"
              (change)="toggleOrderItem(i)"
              [checked]="checkSelected(i)">
          </td>
          <th width="50" *ngIf="currentTab=='Received' && canManageOrders">
            <button [disabled]="i.purchaseOrder === null" class="btn btn-sm order-items-button" [ngClass]="i.purchaseOrder !== null ? 'btn-success' : 'btn-secondary'" (click)="getPurchaseOrder(i.purchaseOrder);">
              PO
            </button>
          </th>
          <td *ngIf="viewColumn[0]"
              colspan="2"
              (click)="openOrderItem(i.orderItemId)">
              <a href="javascript:;" class="order-name">{{i?.name}}</a>
          </td>
          <td *ngIf="viewColumn[1]" colspan="2" (click)="openOrderItem(i.orderItemId)">{{i?.catalogNumber}}</td>
          <td *ngIf="viewColumn[2]" (click)="openOrderItem(i.orderItemId)">{{i?.amount}}</td>
          <td *ngIf="viewColumn[3]" (click)="openOrderItem(i.orderItemId)">{{i?.backOrderedAmount}}</td>
          <td *ngIf="viewColumn[4]" (click)="openOrderItem(i.orderItemId)">{{i?.unit}}</td>
          <td *ngIf="viewColumn[5]" (click)="openOrderItem(i.orderItemId)">{{i?.containerSize}}</td>
          <td *ngIf="viewColumn[6]" colspan="2" (click)="openOrderItem(i.orderItemId)">{{i?.supplier}}</td>
          <td *ngIf="viewColumn[7]" colspan="2" (click)="openOrderItem(i.orderItemId)">{{i?.manufacturer}}</td>
          <td *ngIf="viewColumn[8]" colspan="2" (click)="openOrderItem(i.orderItemId)">{{i?.project}}</td>
          <td *ngIf="viewColumn[9]" colspan="2" (click)="openOrderItem(i.orderItemId)">{{i?.requestUser?.name}}</td>
          <td *ngIf="viewColumn[10] && currentTab=='Received'" colspan="2" (click)="openOrderItem(i.orderItemId)">{{i?.receiveUser?.name}}</td>
          <td *ngIf="viewColumn[11]" colspan="2" (click)="openOrderItem(i.orderItemId)">{{i?.status}}</td>
          <td *ngIf="viewColumn[12] && currentTab==ORDER_STATUS.REQUESTED" colspan="2" (click)="openOrderItem(i.orderItemId)">{{ i?.requestTime | date: dateFormatDisplay}}</td>
          <td *ngIf="viewColumn[12] && currentTab==ORDER_STATUS.APPROVED" colspan="2" (click)="openOrderItem(i.orderItemId)">{{i?.approveTime | date: dateFormatDisplay}}</td>
          <td *ngIf="viewColumn[12] && currentTab==ORDER_STATUS.ORDERED" colspan="2" (click)="openOrderItem(i.orderItemId)">{{i?.orderTime | date: dateFormatDisplay}}</td>
          <td *ngIf="viewColumn[12] && currentTab==ORDER_STATUS.RECEIVED" colspan="2" (click)="openOrderItem(i.orderItemId)">{{i?.receiveTime | date: dateFormatDisplay }}</td>
          <td *ngIf="viewColumn[12] && currentTab==ORDER_STATUS.REJECTED" colspan="2" (click)="openOrderItem(i.orderItemId)">{{i?.rejectedTime | date: dateFormatDisplay }}</td>
          <td *ngIf="viewColumn[13]" [style.color]="i?.urgent?'red':'black'"
            [style.font-weight]="i?.urgent?'bold':'normal'" [style.font-style]="i?.urgent?'italic':'normal'" (click)="openOrderItem(i.orderItemId)">
            {{i?.urgent?'Yes':'No'}}</td>
          <td *ngIf="viewColumn[14]" colspan="2" (click)="openOrderItem(i.orderItemId)">{{i?.comment}}</td>
          <td *ngIf="viewColumn[15]" colspan="2" (click)="openOrderItem(i.orderItemId)">{{i?.statusReason}}</td>
          <th *ngIf="currentTab=='Ordered' && canManageOrders">
            <button [disabled]="i.purchaseOrder === null" class="btn btn-sm" [ngClass]="i.purchaseOrder !== null ? 'btn-success' : 'btn-secondary'" (click)="getPurchaseOrder(i.purchaseOrder);">
              Purchase<br/>Order
            </button>
          </th>
          <td *ngIf="currentTab=='Ordered' && canReceiveOrder">
            <button class="btn btn-sm btn-primary" (click)="setReceivedAmount(i);">
              Receive
              <br> Items
            </button>
          </td>
        </tr>
        <tr *ngIf="displayOrders == undefined || displayOrders.length < 1">
          <!-- <td *ngIf="!searchStatus" class="empty" [attr.colspan]="canManageOrders?23:22">Empty</td> -->
          <td *ngIf="!isLoading" [attr.colspan]="canManageOrders?23:22">
            <div class="order-search-no-result">
              <span>No Searching Result</span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>



    <div *ngIf="orderCount>10">
      <p class="page-note"
        [style.text-align]="'center'">
        Order {{((page-1)*10)+1}} - {{page*10>orderCount?orderCount:page*10}} of {{orderCount}} Order(s)
      </p>
      <ngb-pagination class="d-flex justify-content-center" [collectionSize]="orderCount" [(page)]="page" [rotate]="true"
        [boundaryLinks]="true" [maxSize]="5" aria-label="Default pagination" (pageChange)="loadPage()"></ngb-pagination>
    </div>

    <div *ngIf="isLoading" class="loading-screen">
      <img class="loading-img" src="../../../assets/images/loading.gif">
    </div>
  </div>
</div>

<ng-template #orderItemDisplay let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">
      <div class="row control-box" >
        <button class="btn btn-default menu-btn"
               (click)="editingOrderItemEnabled=true"
               *ngIf="canManageOrders">
          <i class="fa fa-pen-square" aria-hidden="true"></i>
        </button>
      </div>
      <b>{{orderItem?.name !== '' ? orderItem?.name : 'New Request(s)'}}</b>

    </h4>
    <button type="button" class="close" aria-label="Close" (click)="reset(); c('')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-orderitem-display [orderItem]="orderItem"
                           [editingEnabled]="editingOrderItemEnabled"
                           (saveOrder)="saveOrder($event); c('')"
                           (closeOrder)="reset(); c('')">
    </app-orderitem-display>
  </div>
</ng-template>



<ng-template #eta let-c="close" class="eta">
  <div class="modal-header">
    <h6 class="modal-title">
      Please add ETA and Purchase Order information for order items
    </h6>
    <button type="button" class="close" aria-label="Close" (click)="reset(); c('')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="p-2 pb-1">

      <div>

        <div class="table-container">
          <table class="table table-scroll table-modal">
            <thead>
              <tr>
                <th width="60">SN.</th>
                <th>Name</th>
                <th>Supplier</th>
                <th>Manufacturer Cat#</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of orderItemsSelected; let i = index;">
                <td width="60">{{ i + 1 }}</td>
                <td>{{ order.name }}</td>
                <td>{{ order.supplier }}</td>
                <td>{{ order.catalogNumber }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="pt-2">
          <span class="field-title">ETA <span style="color:red">* </span>
            <button type="button"
              class="btn btn-outline-secondary help-tooltip"
              placement="top"
              ngbTooltip="The physical address of the company">?</button>
          </span>
          <div class="inputGroup mt-1">
            <input
              readonly
              class="form-control font-12"
              angular-mydatepicker
              [options]="etaOptions"
              (dateChanged)="changeETA($event)"
              #dp="angular-mydatepicker"
              style="height: 35px;"
              (click)="dp.toggleCalendar()"/>
            <div class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dp.clearDate()" style="height: 35px;">
                ×
              </button>
            </div>
          </div>
        </div>

        <div class="pt-3">
          <div class="row">

            <div class="col-md-12 pb-2">
              <span class="field-title">Purchase Order Details
                <button type="button"
                  class="btn btn-outline-secondary help-tooltip"
                  placement="top"
                  ngbTooltip="The physical address of the company">?</button>
              </span>

              <div class="row">
                <div class="col-md-4">
                  <label class="p-0 m-0">Sales Person <span style="color:red">*</span></label>
                  <input class="form-control mb-2"
                    type="text"
                    [value]="purchaseOrder.salesPerson"
                    #salesPerson
                    (change)="purchaseOrder.salesPerson = salesPerson.value">
                </div>
                <div class="col-md-4">
                  <label class="p-0 m-0">Quote Number <span style="color:red">*</span></label>
                  <input class="form-control mb-2"
                    type="text"
                    [value]="purchaseOrder.quoteNumber"
                    #quoteNumber
                    (change)="purchaseOrder.quoteNumber = quoteNumber.value">
                </div>
                <div class="col-md-4">
                  <label class="p-0 m-0">Requisitioner <span style="color:red">*</span></label>
                  <input class="form-control mb-2"
                    type="text"
                    [value]="purchaseOrder.requisitioner"
                    #requisitioner
                    (change)="purchaseOrder.requisitioner = requisitioner.value">
                </div>
                <div class="col-md-4">
                  <label class="p-0 m-0">Ship Via <span style="color:red">*</span></label>
                  <input class="form-control mb-2"
                    type="text"
                    [value]="purchaseOrder.shipVia"
                    #shipVia
                    (change)="purchaseOrder.shipVia = shipVia.value">
                </div>
                <div class="col-md-4">
                  <label class="p-0 m-0">Payment Terms <span style="color:red">*</span></label>
                  <select class="form-control mb-2"
                    #pTerms
                    (change)="purchaseOrder.paymentTerms = pTerms.value;">
                    <option value="">Select</option>
                    <option *ngFor="let payType of paymentTerms"
                      [value]="payType"
                      [selected]="purchaseOrder.paymentTerms == payType">
                      {{ payType }}
                    </option>
                  </select>
                </div>
                <div class="col-md-4">
                  <label class="p-0 m-0">Shipping Terms <span style="color:red">*</span></label>
                  <select class="form-control mb-2"
                    #shipTerm
                    (change)="purchaseOrder.shippingTerms = shipTerm.value">
                    <option value="">Select</option>
                    <option *ngFor="let term of incoTerm"
                      [value]="term"
                      [selected]="purchaseOrder.shippingTerms == term">
                      {{ term }}
                    </option>
                  </select>
                </div>
              </div>
            </div>


            <div class="col-md-6">
              <span class="field-title">Bill to
                <button type="button"
                  class="btn btn-outline-secondary help-tooltip"
                  placement="top"
                  ngbTooltip="The billing address of the company">?</button>
              </span>
              <div class="row">
                <div class="col-md-12">
                  <label class="p-0 m-0">Street Address 1 <span style="color:red">*</span></label>
                  <input class="form-control mb-2"
                    type="text"
                    [value]="purchaseOrder.billingAddress.addressLine1"
                    #billingStreetAddress1
                    (change)="purchaseOrder.billingAddress.addressLine1 = billingStreetAddress1.value">
                </div>
                <div class="col-md-12">
                  <label class="p-0 m-0">Street Address 2</label>
                  <input class="form-control mb-2"
                    type="text"
                    [value]="purchaseOrder.billingAddress.addressLine2"
                    #billingStreetAddress2
                    (change)="purchaseOrder.billingAddress.addressLine2 = billingStreetAddress2.value">
                </div>
                <div class="col-md-6">
                  <label class="p-0 m-0">City <span style="color:red">*</span></label>
                  <input class="form-control mb-2"
                    type="text"
                    [value]="purchaseOrder.billingAddress.city"
                    #billingAddressCity
                    (change)="purchaseOrder.billingAddress.city = billingAddressCity.value">
                </div>
                <div class="col-md-6">
                  <label class="p-0 m-0">Province/State</label>
                  <input class="form-control mb-2"
                    type="text"
                    [value]="purchaseOrder.billingAddress.province"
                    #billingAddressProvince
                    (change)="purchaseOrder.billingAddress.province = billingAddressProvince.value">
                </div>
                <div class="col-md-6">
                  <label class="p-0 m-0">Country <span style="color:red">*</span></label>
                  <input class="form-control mb-2"
                    type="text"
                    [value]="purchaseOrder.billingAddress.country"
                    #billingAddressCountry
                    (change)="purchaseOrder.billingAddress.country = billingAddressCountry.value">
                </div>
                <div class="col-md-6">
                  <label class="p-0 m-0">Postal/Zip Code</label>
                  <input class="form-control mb-2"
                    type="text"
                    [value]="purchaseOrder.billingAddress.postalCode"
                    #billingAddressPostalCode
                    (change)="purchaseOrder.billingAddress.postalCode = billingAddressPostalCode.value">
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <span class="field-title">Ship to&nbsp;
                <button type="button"
                  class="btn btn-outline-secondary help-tooltip"
                  placement="top"
                  ngbTooltip="The physical address of the company">?</button>
              </span>
              <br/>
              <mat-checkbox
                style="font-size: 13px"
                class="pl-2 pt-2"
                [checked]="billingAndShippingAreEqual"
                (change)="billingAndShippingAreEqual = !billingAndShippingAreEqual; purchaseOrder.shippingAddress = purchaseOrder.billingAddress">
                Same as billing address
              </mat-checkbox>
              <div class="row">
                <div class="col-md-12">
                  <label class="p-0 m-0">Street Address 1 <span style="color:red">*</span></label>
                  <input class="form-control mb-2"
                    [disabled]="billingAndShippingAreEqual"
                    type="text"
                    [value]="purchaseOrder.shippingAddress.addressLine1"
                    #shippingStreetAddress1
                    (change)="purchaseOrder.shippingAddress.addressLine1 = shippingStreetAddress1.value">
                </div>
                <div class="col-md-12">
                  <label class="p-0 m-0">Street Address 2</label>
                  <input class="form-control mb-2"
                    [disabled]="billingAndShippingAreEqual"
                    type="text"
                    [value]="purchaseOrder.shippingAddress.addressLine2"
                    #shippingStreetAddress2
                    (change)="purchaseOrder.shippingAddress.addressLine2 = shippingStreetAddress2.value">
                </div>
                <div class="col-md-6">
                  <label class="p-0 m-0">City <span style="color:red">*</span></label>
                  <input class="form-control mb-2"
                    [disabled]="billingAndShippingAreEqual"
                    type="text"
                    [value]="purchaseOrder.shippingAddress.city"
                    #shippingAddressCity
                    (change)="purchaseOrder.shippingAddress.city = shippingAddressCity.value">
                </div>
                <div class="col-md-6">
                  <label class="p-0 m-0">Province/State</label>
                  <input class="form-control mb-2"
                    [disabled]="billingAndShippingAreEqual"
                    type="text"
                    [value]="purchaseOrder.shippingAddress.province"
                    #shippingAddressProvince
                    (change)="purchaseOrder.shippingAddress.province = shippingAddressProvince.value">
                </div>
                <div class="col-md-6">
                  <label class="p-0 m-0">Country <span style="color:red">*</span></label>
                  <input class="form-control mb-2"
                    [disabled]="billingAndShippingAreEqual"
                    type="text"
                    [value]="purchaseOrder.shippingAddress.country"
                    #shippingAddressCountry
                    (change)="purchaseOrder.shippingAddress.country = shippingAddressCountry.value">
                </div>
                <div class="col-md-6">
                  <label class="p-0 m-0">Postal/Zip Code</label>
                  <input class="form-control mb-2"
                    [disabled]="billingAndShippingAreEqual"
                    type="text"
                    [value]="purchaseOrder.shippingAddress.postalCode"
                    #shippingAddressPostalCode
                    (change)="purchaseOrder.shippingAddress.postalCode = shippingAddressPostalCode.value">
                </div>
              </div>
            </div>


            <!-- <div class="col-md-12 mt-3">
              <ngb-alert *ngIf="!hideWarning" (close)="hideWarning = true">
                <ng-container *ngFor="let warning of inputWarning; let i = index">
                  <p>
                    <strong>{{warning}}</strong>
                  </p>
                </ng-container>
              </ngb-alert>
            </div> -->


          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button"
      [disabled]="!hasEta()"
      class="btn btn-primary"
      (click)="markItemOrdered(); c('');">Order Item</button>
  </div>
</ng-template>

<ng-template #setReceivedAmt let-c="close">
  <div class="modal-header">
    <h6 class="modal-title">
      Enter received amount.
    </h6>
    <button type="button"
            class="close"
            aria-label="Close"
            (click)="reset(); c('')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="alert alert-warning"
       *ngIf="!receivedAmount">Received amount is required
    </p>
    <p class="alert alert-warning"
       *ngIf="subtypeMissing">Order is missing sub type and is required when type is {{selectedOrder?.type}}. Please edit the order before receiving and select a sub type.
    </p>

    <div>
      <span><strong>Name:</strong> {{selectedOrder?.name}},
      <strong>Manufacturer Cat#:</strong> {{selectedOrder?.catalogNumber}}
      <strong>Ordered Amount:</strong> {{selectedOrder?.amount}}
      <strong>Back ordered Amount:</strong> {{selectedOrder?.backOrderedAmount}}
      </span>
      <input class="form-control"
        type="number"
        [(ngModel)]="receivedAmount"
        name="receivedAmount" />
    </div>
  </div>
  <div class="modal-footer">
    <button type="button"
      [disabled]="!receivedAmount || subtypeMissing"
      class="btn btn-primary"
      (click)="addReceivedItem(); c('');">Receive Item</button>
  </div>
</ng-template>

<ng-template #rejectOrder let-c="close">
  <div class="modal-header">
    <h6 class="modal-title">
      Enter reason for rejecting order.
    </h6>
    <button type="button"
            class="close"
            aria-label="Close"
            (click)="reset(); c('')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="alert alert-warning"
      *ngIf="!hasReason()">Reason is required
    </p>
    <div>
      <div class="table-container">
        <table class="table table-scroll table-modal">
          <thead>
            <tr>
              <th width="60">SN.</th>
              <th>Name</th>
              <th>Supplier</th>
              <th>Ordered Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orderItemsSelected; let i = index;">
              <td width="60">{{ i + 1 }}</td>
              <td>{{ order.name }}</td>
              <td>{{ order.supplier }}</td>
              <td>{{ order.amount }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <textarea class="form-control mt-3" (input)="setStatusReason($event)"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button"
      [disabled]="!hasReason()"
      class="btn btn-primary"
      (click)="rejectOrderItem(); c('');">Reject Order</button>
  </div>
</ng-template>



<ng-template #receiveItemDisplay let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">Received item: {{receivedInventory.name}}</h4>
  </div>
  <div class="modal-body">
    <app-item-detail-display [selectedItem]="receivedInventory"
      [selectedItemDetail]="receivedInventoryDetail"
      [enableEdit]="true"
      (updateItem)="updateReceivedInventoryDetail($event);c('');"
      (cancel)="reset();c('');">
    </app-item-detail-display>

  </div>

</ng-template>

