<table class="table table-bordered fix-table" *ngIf="checkCanItemBeCheckedOut()">
  <tr class="itemhead" >
    <td colspan="4">
      <span class="field-title">Item Name</span><br> {{displayInventory?.name}}
    </td>
    <td colspan="4">
      <span class="field-title">Catalog</span><br> {{displayInventory?.catalogNumber}}
    </td>
    <td colspan="4">
      <span class="field-title">Lot Number</span><br> {{displayInventoryDetail?.lotNumber}}
    </td>
  </tr>
  <tr class="itemhead" *ngIf="displayInventoryDetail.checkoutPurpose">
    <td colspan="12">
      <span class="field-title">Previous checkout purpose reason(s) for item</span><br> 
      <textarea class="form-control" 
                [value]="displayInventoryDetail.checkoutPurpose" 
                [readonly]="true" 
                rows="4">
      </textarea>         
    </td>
  </tr>
  <tr>
    <td colspan="6" class="btn-cell">
      <label for="nameInput">
        Checkout Type<span class="star">*</span>
        <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" 
          ngbTooltip="Checkout type - select Unopened to checkout from unopened inventory (if > 0) 
                      and In-use to checkout from in use inventory (if > 0)">?</button>
      </label>
    </td>
    <td colspan="6" class="btn-cell">
       Checkout Purpose<span class="star">*</span>
       <button type="button" class="btn btn-outline-secondary help-tooltip" placement="top" 
          ngbTooltip="Checkout purpose - select use if you are using the item and move if a portion
                     of the item will be relocated - if checkout type is in-use, the only allowed purpose is use.">?</button>
    </td>
  </tr>
  <tr class="item-detail">
    <td colspan="6" class="btn-cell"  >
        <label class="inventory">
          <input name="checkoutTypeInput"
                 type="radio" 
                 [checked]="checkoutType==CHECKOUT_TYPE.UNOPENED"  
                 [disabled] ="displayInventoryDetail?.amount <= 0" 
                 (change)="checkoutType=CHECKOUT_TYPE.UNOPENED">
          Unopened Inventory
        </label>
        <br>
        <label class="inventory">
          <input name="checkoutTypeInput"
                 type="radio" 
                 [checked]="checkoutType==CHECKOUT_TYPE.INUSE"  
                 [disabled] = "displayInventoryDetail?.numberInUse <= 0"
                 (change)="checkoutType=CHECKOUT_TYPE.INUSE"> 
          In-Use Inventory
        </label>
    </td>
    <td colspan="6" class="btn-cell"  >
      <label class="inventory">
        <input type="radio" 
               [checked]="checkoutPurpose==CHECKOUT_PURPOSE.USE"  
               (change)="checkoutPurpose=CHECKOUT_PURPOSE.USE">
        {{CHECKOUT_PURPOSE.USE}}
      </label>
      <br>
      <label class="inventory">
        <input type="radio" 
               [checked]="checkoutPurpose==CHECKOUT_PURPOSE.MOVE"  
               [disabled] ="checkoutType == CHECKOUT_TYPE.INUSE" 
               (change)="checkoutPurpose=CHECKOUT_PURPOSE.MOVE"> 
        {{CHECKOUT_PURPOSE.MOVE}}
      </label>
      <br>
      <label class="inventory">
        <input type="radio" 
               [checked]="checkoutPurpose==CHECKOUT_PURPOSE.SHIP"  
               (change)="checkoutPurpose=CHECKOUT_PURPOSE.SHIP">
        {{CHECKOUT_PURPOSE.SHIP}}
      </label>
    </td>
  </tr>  
  <tr class="item-detail" *ngIf="checkoutType">
    <td colspan="2">
      <span class="field-title">Item Amt/Qty</span>
      <br>
      <div *ngIf="checkoutType==CHECKOUT_TYPE.UNOPENED">
          {{displayInventoryDetail?.amount}}
      </div >
      <div  *ngIf="checkoutType==CHECKOUT_TYPE.INUSE">
          {{displayInventoryDetail?.numberInUse}}
      </div>
    </td>
    <td colspan="2" *ngIf="checkoutType"  >
      <span class="field-title">Unit Size</span>
      <br>
      <div> 
        {{displayInventoryDetail?.containerSize}} {{displayInventoryDetail?.unit}}
      </div>
    </td>
    <td colspan="2" *ngIf="checkoutType" >
      <span class="field-title">Check out amount</span>
      <br>
      <input [(ngModel)]="requestedCheckoutAmount" 
             class="form-control checkout-amount"
             type="number">
    </td>
    <td colspan="2" *ngIf="checkoutType==CHECKOUT_TYPE.UNOPENED && checkoutPurpose ==CHECKOUT_PURPOSE.MOVE" >
        <span class="field-title">Location</span>
        <br>
        <select class="form-control" 
                id="location"  
                #location 
                (change)="selectLocation(location.value)">
          <option disabled>Location</option>
          <option *ngFor="let l of locations" 
                  [value]="l.locationName" 
                  [selected]="checkoutLocation?.locationName == l.locationName">
                  {{l.locationName}}
          </option>
        </select>
    </td>
    <td colspan="2" *ngIf="checkoutType==CHECKOUT_TYPE.UNOPENED && checkoutPurpose ==CHECKOUT_PURPOSE.MOVE" >
        <span class="field-title">Sub-location</span>
        <br>
        <select class="form-control" 
                id="sublocation" 
                #sublocation 
                (change)="selectSubLocation(sublocation.value)">
          <option disabled>Sub Location</option>
          <option *ngFor="let s of subLocations" 
                  [value]="s.locationName" 
                  [selected]="checkoutSublocation?.locationName == s.locationName">
              {{s.locationName}}
          </option>
        </select>
    </td> 
  </tr>

  <tr class="item-detail" *ngIf="(checkoutType && checkoutPurpose) || (checkoutPurpose == CHECKOUT_PURPOSE.SHIP)">
     <td colspan="12">
        <span class="field-title">Current Checkout Purpose Reason</span>
        <br>
        <textarea #checkoutPurposeField 
                   class="form-control" 
                   maxlength="5000" 
                   [(ngModel)]="currentCheckoutPurposeReason">
        </textarea>      
      </td>
  </tr>
</table>

<span  *ngIf="!checkCanItemBeCheckedOut()" >
  <p>
    <strong>Item has either been shipped or has no remaining quantity to check out</strong>
  </p>
</span>




<ngb-alert *ngIf="inputWarning.length > 0" (close)="inputWarning=[]">
  <ng-container *ngFor="let warning of inputWarning; let i = index">
    <p>
      <strong>{{warning}}</strong>
    </p>
  </ng-container>
</ngb-alert>

<div style="text-align: right;">
  <button type="button"
          *ngIf="checkCanItemBeCheckedOut()"  
          class="btn btn-primary"  
          (click)="saveCheckout();">Submit</button>
  <button type="button" 
          class="btn btn-outline-dark" 
          (click)="cancelCheckout()">Cancel</button>
</div>


<ng-template #itemReservedConfirmation let-c="close">
  <div class="modal-header">
    <h6 class="modal-title">
      This item is reserved - are you sure you want to check it out?
    </h6>
  </div>

  <div class="modal-footer">
    <button type="button" 
            class="btn btn-primary" 
            id="updateversion" 
            (click)="overrideReserved = true; saveCheckout(); c('')">
          Yes
    </button>
    <button type="button" 
            class="btn btn-outline-dark" 
            (click)="cancelCheckout(); c('');">
          No
    </button>
  </div>
</ng-template>


 