

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/2.0.1/normalize.css">
<link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
<div class = 'tab-container'>
  <div class="tabbed">
    <input type="radio" name="tabs" id="tab-nav-1" checked>
    <label for="tab-nav-1">A</label>
    <input type="radio" name="tabs" id="tab-nav-2">
    <label for="tab-nav-2">B</label>
    <input type="radio" name="tabs" id="tab-nav-3">
    <label for="tab-nav-3">C</label>
    <input type="radio" name="tabs" id="tab-nav-4">
    <label for="tab-nav-4">D</label>
    <div class="tabs">
      <div><h2>T1</h2><p>Content 1</p></div>
      <div><h2>T2</h2><p>Content 2</p></div>
      <div><h2>T3</h2><p>Content 3</p></div>
      <div><h2>T4</h2><p>Content 4</p></div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.6/prefixfree.min.js"></script>

