@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  font-family: 'Montserrat', 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}

.fake-body {
  background: none !important;
  background-image: none !important;
  background-color: #f0f3eb !important;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.7);
  max-height: calc(100vh - 40px);
}

p {
  padding: 5px 0;
  margin: 0;
}

.back-link {
  cursor: pointer;
  padding-top: 20px;
}

.error-container {
  padding: 50px 50px 0 50px;
}

.error-container button {
  background-color: transparent;
  background-color: #d13e3e;
  border: none;
  color: #fff;
  border-radius: 5px;
  padding: 4px 8px;
  font-size: 13px;
  margin-right: 3px;
  outline: none;
}

.error-left {
  min-height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.error-container, .error-container * {
  color: rgb(82, 82, 82);
}

.error-title {
  font-size: 36px !important;
  font-weight: 700;
}

.error-code {
  font-weight: bold;
  padding-bottom: 30px;
}

.error-message {
  width: 100%;
  max-width: 600px;
}

#error-console {
  width: 100%;
  height: 100%;
  min-height: 200px;
  max-height: 200px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 15px 15px 0 0;
  padding: 30px;
  overflow-y: scroll;
}

#error-console, #error-console * {
  font-family: monospace;
  font-size: 13px !important;
  color: #fff !important;
}

.error-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: calc(100vh - 50px);
  vertical-align: bottom;
}

.error-right img {
  width: 80%;
  max-width: 500px;
}

.error-right button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  font-size: 50px;
  color: rgb(226, 4, 4);
}

.email-issue {
  font-size: 12px;
  cursor: pointer;
}
