<div class="tab-container">
  <h2>Manage Manufacturers and Suppliers</h2>




  <div class="row control-box">
    <button class="btn btn-default menu-btn" (click)="createNewLocation()">
      <i class="fa fa-plus" aria-hidden="true"></i> New Item Source
    </button>
  </div>

  <ngb-alert *ngIf="!hideWarning" (close)="hideWarning=true">
    <ng-container *ngFor="let warning of inputWarning; let i = index">
      <p>
        <strong>{{warning}}</strong>
      </p>
    </ng-container>
  </ngb-alert>

  <div *ngIf="!newLocation" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-container">
    <p class="field-title pb-0 mb-1 pt-2">Select Item Source</p>

    <div class="row">
      <div class="col-md-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <select class="form-control form-font" id="sourceType"  #sourceType (change)="loadPage(sourceType.value)" style="border-top-right-radius: 0; border-bottom-right-radius: 0;">
              <option selected disabled>Source Type</option>
              <option value="Supplier">Supplier</option>
              <option value="Manufacturer">Manufacturer</option>
            </select>
          </div>
          <select [disabled]="!sourceType.value" class="form-control form-font" id="sourceSelection"  #sourceSelection (change)="selectSource(sourceSelection.value);">
            <option selected disabled value="">Select Source</option>
            <option *ngFor="let l of sources" [value]="l.dbid" [selected]="selectedSource?.dbid == l.dbid">{{l.name}}</option>
          </select>
        </div>
      </div>
    </div>

    <div *ngIf="selectedSource" class="row">

      <div class="col-md-6">
        <hr class="mb-4"/>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <label>Name <span style="color:red">*</span></label>
            <div class="form-group">
              <input class="form-control h-40 form-font" [(ngModel)]="selectedSource.name" placeholder="Name of the Source" maxlength="100"/>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <label>Source Type <span style="color:red">*</span></label>
            <div class="form-group mb-2 mt-0">
              <input type="radio" id="stRad1" [(ngModel)]="selectedSource.type" name="selType" value="Manufacturer">
              <label for="stRad1" class="mr-3">
                &nbsp;&nbsp;Manufacturer
              </label>
              <input type="radio" id="stRad2" [(ngModel)]="selectedSource.type" name="selType" value="Supplier">
              <label for="stRad2">
                &nbsp;&nbsp;Supplier
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <label>Approval Type <span style="color:red">*</span></label>
            <div class="form-group mb-2 mt-0">
              <input type="radio" id="saTRad1" [(ngModel)]="selectedSource.approvalType" name="selAType" value="A">
              <label for="saTRad1" class="mr-3">
                &nbsp;&nbsp;Approved (A)
              </label>

              <input type="radio" id="saTRad2" [(ngModel)]="selectedSource.approvalType" name="selAType" value="CA">
              <label for="saTRad2" class="mr-3">
                &nbsp;&nbsp;Conditionally Approved (CA)
              </label>

              <input type="radio" id="saTRad3" [(ngModel)]="selectedSource.approvalType" name="selAType" value="NA">
              <label for="saTRad3">
                &nbsp;&nbsp;Not Approved (NA)
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <label>Street Address 1 <span style="color:red">*</span></label>
            <div class="form-group">
              <input class="form-control h-40 form-font"
              type="text"
              placeholder="Write here"
              [value]="selectedSource.billingAddress.addressLine1"
              #billingStreetAddress1
              (change)="selectedSource.billingAddress.addressLine1 = billingStreetAddress1.value">
            </div>
          </div>
          <div class="col-md-12">
            <label>Street Address 2</label>
            <div class="form-group">
              <input class="form-control h-40 form-font"
              type="text"
              placeholder="Write here"
              [value]="selectedSource.billingAddress.addressLine2"
              #billingStreetAddress2
              (change)="selectedSource.billingAddress.addressLine2 = billingStreetAddress2.value">
            </div>
          </div>
          <div class="col-md-6">
            <label>City <span style="color:red">*</span></label>
            <div class="form-group">
              <input class="form-control h-40 form-font"
              type="text"
              placeholder="Write here"
              [value]="selectedSource.billingAddress.city"
              #billingAddressCity
              (change)="selectedSource.billingAddress.city = billingAddressCity.value">
            </div>
          </div>
          <div class="col-md-6">
            <label>Province/State</label>
            <div class="form-group">
              <input class="form-control h-40 form-font"
              type="text"
              placeholder="Write here"
              [value]="selectedSource.billingAddress.province"
              #billingAddressProvince
              (change)="selectedSource.billingAddress.province = billingAddressProvince.value">
            </div>
          </div>
          <div class="col-md-6">
            <label>Country <span style="color:red">*</span></label>
            <div class="form-group">
              <input class="form-control h-40 form-font"
              type="text"
              placeholder="Write here"
              [value]="selectedSource.billingAddress.country"
              #billingAddressCountry
              (change)="selectedSource.billingAddress.country = billingAddressCountry.value">
            </div>
          </div>
          <div class="col-md-6">
            <label>Postal/Zip Code</label>
            <div class="form-group">
              <input class="form-control h-40 form-font"
              type="text"
              placeholder="Write here"
              [value]="selectedSource.billingAddress.postalCode"
              #billingAddressPostalCode
              (change)="selectedSource.billingAddress.postalCode = billingAddressPostalCode.value">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <label>Link</label>
            <div class="form-group">
              <input class="form-control h-40 form-font" [(ngModel)]="selectedSource.link" placeholder="https://"/>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <input id="isActive" [checked]="selectedSource.active" [(ngModel)]="selectedSource.active" type="checkbox"/><label for="isActive">&nbsp;&nbsp;Is Active</label>
      </div>

      <div class="col-md-12">
        <small class="sub-head"
          *ngIf="selectedSource?.modifiedOn && selectedSource?.editedBy">
          Edited by {{ selectedSource?.editedBy }} on {{ selectedSource?.modifiedOn | date: dateFormatDisplay }}
        </small>
      </div>

      <div class="col-md-6 pt-1 pb-5 text-center">
        <button class="btn btn-sm btn-warning mr-3" (click)="cancelAdd()">Cancel</button>
        <button class="btn btn-sm btn-primary" (click)="saveLocation()">Save</button>
      </div>
    </div>
  </div>


  <div *ngIf="newLocation" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-container">

    <div class="row pt-3">
      <div class="col-md-6">
        <label>Name <span style="color:red">*</span></label>
        <div class="form-group">
          <input class="form-control h-40 form-font" [(ngModel)]="selectedSource.name" placeholder="Name of the Source" maxlength="100"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label>Source Type <span style="color:red">*</span></label>
        <div class="form-group mb-2 mt-0">
          <input type="radio" id="tRad1" [(ngModel)]="selectedSource.type" name="type" value="Manufacturer">
          <label for="tRad1" class="mr-3">
            &nbsp;&nbsp;Manufacturer
          </label>

          <input type="radio" id="tRad2" [(ngModel)]="selectedSource.type" name="type" value="Supplier">
          <label for="tRad2">
            &nbsp;&nbsp;Supplier
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label>Approval Type <span style="color:red">*</span></label>
        <div class="form-group mb-2 mt-0">
          <input type="radio" id="aTRad1" [(ngModel)]="selectedSource.approvalType" name="aType" value="A">
          <label for="aTRad1" class="mr-3">
            &nbsp;&nbsp;Approved (A)
          </label>

          <input type="radio" id="aTRad2" [(ngModel)]="selectedSource.approvalType" name="aType" value="CA">
          <label for="aTRad2" class="mr-3">
            &nbsp;&nbsp;Conditionally Approved (CA)
          </label>

          <input type="radio" id="aTRad3" [(ngModel)]="selectedSource.approvalType" name="aType" value="NA">
          <label for="aTRad3">
            &nbsp;&nbsp;Not Approved (NA)
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <label>Street Address 1 <span style="color:red">*</span></label>
            <div class="form-group">
              <input class="form-control h-40 form-font"
              type="text"
              placeholder="Write here"
              [value]="selectedSource.billingAddress.addressLine1"
              #billingStreetAddress1
              (change)="selectedSource.billingAddress.addressLine1 = billingStreetAddress1.value">
            </div>
          </div>
          <div class="col-md-12">
            <label>Street Address 2</label>
            <div class="form-group">
              <input class="form-control h-40 form-font"
              type="text"
              placeholder="Write here"
              [value]="selectedSource.billingAddress.addressLine2"
              #billingStreetAddress2
              (change)="selectedSource.billingAddress.addressLine2 = billingStreetAddress2.value">
            </div>
          </div>
          <div class="col-md-6">
            <label>City <span style="color:red">*</span></label>
            <div class="form-group">
              <input class="form-control h-40 form-font"
              type="text"
              placeholder="Write here"
              [value]="selectedSource.billingAddress.city"
              #billingAddressCity
              (change)="selectedSource.billingAddress.city = billingAddressCity.value">
            </div>
          </div>
          <div class="col-md-6">
            <label>Province/State</label>
            <div class="form-group">
              <input class="form-control h-40 form-font"
              type="text"
              placeholder="Write here"
              [value]="selectedSource.billingAddress.province"
              #billingAddressProvince
              (change)="selectedSource.billingAddress.province = billingAddressProvince.value">
            </div>
          </div>
          <div class="col-md-6">
            <label>Country <span style="color:red">*</span></label>
            <div class="form-group">
              <input class="form-control h-40 form-font"
              type="text"
              placeholder="Write here"
              [value]="selectedSource.billingAddress.country"
              #billingAddressCountry
              (change)="selectedSource.billingAddress.country = billingAddressCountry.value">
            </div>
          </div>
          <div class="col-md-6">
            <label>Postal/Zip Code</label>
            <div class="form-group">
              <input class="form-control h-40 form-font"
              type="text"
              placeholder="Write here"
              [value]="selectedSource.billingAddress.postalCode"
              #billingAddressPostalCode
              (change)="selectedSource.billingAddress.postalCode = billingAddressPostalCode.value">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label>Link</label>
        <div class="form-group">
          <input class="form-control h-40 form-font" [(ngModel)]="selectedSource.link" placeholder="https://"/>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12 form-group">
        <input id="isActive" [(ngModel)]="selectedSource.active" type="checkbox"/><label for="isActive">&nbsp;&nbsp;Is Active</label>
      </div>
      <div class="col-md-6 pt-1 pb-5 text-center">
        <button class="btn btn-sm btn-warning mr-3" (click)="cancelAdd()">Cancel</button>
        <button class="btn btn-sm btn-primary" (click)="saveLocation()">Save</button>
      </div>
    </div>

  </div>



</div>