.page{
    height: 100vh;
    width: 100vw;
    background-color: #17a2b8;
    /* padding: 40vh; */
    padding-top:10%;
    /* text-align: center; */
}

.container{
    /* display: block; */
    margin:0 auto;
    /* position: absolute;
    display: inline-block;
    text-align: center; */
    width: 500px;
    /* background-color: white; */
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    /* background-image: url("../../assets/images/recent-bg.png"); */
    background-position: bottom right;
    background-repeat: no-repeat;
}

.login-field{
    display: block;
}

input{
    text-align: center;
}

.login-btn{
    width: 50%;
}


#submitbutton{
    width:100%;
}

.alert.alert-danger{
    font-size:11px;
    padding:5px;
}

p.backtologinbutton{
    color:#17a2b8;
    font-weight:bold;
    background-color: transparent;
}

p.backtologinbutton:hover{
    text-decoration: underline;
}

.alert.alert-danger{
    text-align: center;
}

label.text-danger{
    text-align:left;
    margin-bottom:0px;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 120px;
}

label.text-success{
    text-align:left;
    margin-bottom:0px;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 120px;
}

/* label.col{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
} */