



<div [style.width]="'100%'">

    <form (ngSubmit)="search()" [formGroup]="searchForm">
      <div id="cover" matTooltip="Search by cat number or name"
      [matTooltipPosition]="'above'">

        <div class="tb">
          <div class="td">
            <input type="text" formControlName="search"
            placeholder="Search" class="search-input">
            <!-- <input type="text" formControlName="search"
            placeholder="Search" (keyup.enter)="search()" class="search-input"> -->
          </div>

          <div class="td" id="s-cover">
            <button type="submit" [disabled]="searchForm.controls['search'].invalid">
              <div id="s-circle"></div>
              <span></span>
            </button>
          </div>
        </div>
      </div>



      </form>




<div *ngIf="searchResult" class="table-wrapper">
  <table class="fl-table">
      <thead>
        <tr>
          <th>Type</th>
          <th>Cat#</th>
          <th>Name</th>
          <th>Size</th>
          <th>Unit</th>
          <th>Price</th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let r of searchResult"
        [routerLink]="[r.type=='Kit' ? '/main/kits' : '/main/products', r.id]"
        (click)="closeSearchPanel()"
        title="click to go to detail page"
      >
        <td>{{r.type}}</td>
        <td>{{r.cat}}</td>
        <td>{{r.name}}</td>
        <td>{{r.size}}</td>
        <td>{{r.unit}}</td>
        <td>{{r.price}}</td>
      </tr>

      <tbody>
  </table>
</div>
</div>
