/* .cat-search{
    display: inline-block;
    height: 100%;
    overflow: auto;
    width: 100%;
}
.alert.alert-danger{
    margin:0px;
    padding:0px;
} */

/* .searchResult:hover{
    background-color: lightgrey;
} */

/* .width-90p{width: 90%;}

.search-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input{
  width: 90%;
  height: 50px;
  border-radius: 25px 0 0 25px;
  outline: none;
  border: 2px #17A2B8 solid;
  border-right: none;
  color: #17A2B8;
  text-align: center;
  font-weight: bold;
  font-size: x-large;
}

.search-btn{
  height: 50px;
  border: 2px #17A2B8 solid;
  border-radius:0 25px 25px 0;
  border-left: none;
  width: 10%;
  outline: none;
  background-color: #17A2B8;
  color: white;
}

.search-btn:hover{
  cursor: pointer;
  opacity: 0.8;
} */









/* CSS for table styling */



h2{
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  padding: 30px 0;
}

/* Table Styles */

.table-wrapper{
  /* margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 ); */
  margin-top: 50px;
  /* border: 2px #17A2B8 solid; */
  border: 1px black solid;
  border-radius: 5px;
  width: 100%;
  max-height:500px;
  overflow: scroll;
}

.fl-table th{
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
}



.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td, .fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

.fl-table thead th {
  color: #ffffff;
  background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.fl-table tr:nth-child(even) {
  background: #F8F8F8;
}

.fl-table tr:hover{
  background-color: rgb(30, 99, 201, 0.3);
  cursor: pointer;
}

/* Responsive */

@media (max-width: 767px) {
  .fl-table {
      display: block;
      width: 100%;
  }
  .table-wrapper:before{
      content: "Scroll horizontally >";
      display: block;
      text-align: right;
      font-size: 11px;
      color: white;
      padding: 0 0 10px;
  }
  .fl-table thead, .fl-table tbody, .fl-table thead th {
      display: block;
  }
  .fl-table thead th:last-child{
      border-bottom: none;
  }
  .fl-table thead {
      float: left;
  }
  .fl-table tbody {
      width: auto;
      position: relative;
      overflow-x: auto;
  }
  .fl-table td, .fl-table th {
      padding: 20px .625em .625em .625em;
      height: 60px;
      vertical-align: middle;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      width: 120px;
      font-size: 13px;
      text-overflow: ellipsis;
  }
  .fl-table thead th {
      text-align: left;
      border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
      display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
      background: none;
  }
  .fl-table tr:nth-child(even) {
      background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
      background: #F8F8F8;
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tr td:nth-child(even) {
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tbody td {
      display: block;
      text-align: center;
  }
}



/* CSS for search box */


.tb
{
    display: table;
    width: 100%;
}

.td
{
    display: table-cell;
    vertical-align: middle;
}

.search-input, button
{
    color: #fff;
    font-family: serif;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    outline: none;
}

#cover
{
  /* position: relative;
  right: 200px; */
  /* right: 3%; */
    width: 100%;
    min-width: 500px;
    padding: 35px;
    /* margin: 0 auto; */
  background-color: #17A2B8;
    border-radius: 20px;
    box-shadow: 0 10px 40px #7aedff, 0 0 0 20px #ffffffeb;
    transform: scale(0.6);
    /* border: red 2px solid; */
}

form
{
    /* border: blue 2px solid; */
    padding: 0;
    width: 100%;
}

.search-input
{
  font-family: sans-serif;
    font-weight: bold;
    width: 100%;
    height: 96px;
    font-size: 60px;
    line-height: 1;
}

.search-input::placeholder
{
    color: white;
}

#s-cover
{
    width: 1px;
    padding-left: 35px;
}

button
{
    position: relative;
    display: block;
    width: 84px;
    height: 96px;
    cursor: pointer;
}

#s-circle
{
    position: relative;
    top: -8px;
    left: 0;
    width: 73px;
    height: 73px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

button span
{
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

button span:before, button span:after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

#s-cover:hover #s-circle
{
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
}

#s-cover:hover span
{
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}

#s-cover:hover button span:before
{
    bottom: 11px;
    transform: rotateZ(52deg);
}

#s-cover:hover button span:after
{
    bottom: -11px;
    transform: rotateZ(-52deg);
}
#s-cover:hover button span:before, #s-cover:hover button span:after
{
    right: -6px;
    width: 40px;
    background-color: #fff;
}


