<div *ngIf="!enableEdit || !canReview" style="min-width:800px;">

  <div class="form-group" *ngIf="status">
    <label>Review Status
      <button type="button"
              class="btn btn-outline-secondary help-tooltip"
              placement="top"
              ngbTooltip="Review Status">?</button>
    </label>
    <p class="read-message">{{status}}</p>
  </div>

  <div class="form-group" *ngIf="reviewComment">
    <label>Review Comment
      <button type="button"
              class="btn btn-outline-secondary help-tooltip"
              placement="top"
              ngbTooltip="Review Comment">?</button>
    </label>
    <p>{{reviewComment}}</p>
  </div>

  <div class="form-group" *ngIf="reviewedBy">
    <label>Reviewed By
      <button type="button"
              class="btn btn-outline-secondary help-tooltip"
              placement="top"
              ngbTooltip="Reviewed By">?</button>
    </label>
    <p>{{reviewedBy}}</p>
  </div>



</div>
<div *ngIf="enableEdit && canReview"
      style="min-width:800px;">

  <ngb-alert *ngIf="inputWarning" (close)="inputWarning = ''">
    <ng-container>
      <p>
        <strong>{{inputWarning}}</strong>
      </p>
    </ng-container>
  </ngb-alert>

  <div class="form-group">
    <label>Review Status
      <button type="button"
              class="btn btn-outline-secondary help-tooltip"
              placement="top"
              ngbTooltip="Review Status">?</button>
    </label>
    <p>{{status}}</p>
  </div>

  <div class="form-group">
    <label>Review Comment
      <span class="star">*</span>
      <button type="button"
              class="btn btn-outline-secondary help-tooltip"
              placement="top"
              ngbTooltip="Review Comment">?</button>
    </label>
    <textarea class="textarea"
              name="reviewComment"
              rows="3" cols="123"
              [(ngModel)]="reviewComment"
              [ngModelOptions]="{standalone: true}"></textarea>
  </div>

  <div class="intellilab-review-buttons">
    <button *ngIf="status != 'Approved'" (click)="approve()">Approve</button>
    <button class="reject-btn-red" *ngIf="status != 'Rejected'" (click)="reject()">Reject</button>
  </div>
</div>
