<div class="tab-container">
  <h2>Inventory</h2>

  <div>
    <b>Search Inventory</b>
    &nbsp;
    <label for="activeCheckBox">Active Items Only:</label>
    <input type="checkbox"
           [(ngModel)]="search.active"
           id="activeCheckBox" >
 </div>

  <div>
  <b>Search by: </b>
     <label class="search-key">
      <input type="radio"
          id="likeSearch"
          [checked]="search.searchBy=='like'"
          (change)="search.searchBy = 'like' ; clearSearchCriteria();">
          Catalog #, Name or Manufacturer
    </label>
    <label class="search-key">
      <input type="radio"
          id="location"
          [checked]="search.searchBy=='location'"
          (change)="search.searchBy = 'location' ; clearSearchCriteria();">
          Location
    </label>
    <label class="search-key">
      <input type="radio"
          id="subLocation"
          [checked]="search.searchBy=='subLocation'"
          (change)="search.searchBy = 'subLocation' ; clearSearchCriteria();">
          Sub-Location
    </label>
    <label class="search-key">
      <input type="radio"
          id="itemType"
          [checked]="search.searchBy=='type'"
          (change)="search.searchBy = 'type' ; clearSearchCriteria();">
          Item Type
    </label>
  </div>

  <div class="input-group">
   <span class="input-group-text"
         id="basic-addon1"
         (click)="page=1; searchInventory()">
     <i class="fa fa-search"
        aria-hidden="true">
     </i>
   </span>
   <ng-container *ngIf="search.searchBy!='subLocation' && search.searchBy !='location' && search.searchBy != 'type'">
     <input autocomplete="off"
            type="text"
            class="form-control"
            placeholder="Search Inventory by Catalog #, Name,  or Manufacturer"
            aria-describedby="basic-addon1"
            [(ngModel)]="search.searchValue"
            (keyup.enter)="page=1; searchInventory()">
    </ng-container>
    <ng-container *ngIf="search.searchBy =='subLocation' || search.searchBy =='location'">
        <select class="form-control"
                id="advsearchLocation"
                [(ngModel)]="search.searchValue"
                (change)="showSublocations(search.searchValue); search.searchBy == 'location' ? searchInventory() : ''">
            <option value="" disabled selected>Select Location</option>
            <option *ngFor="let location of locations"
                    [value]="location.locationId"
                    [selected]="search.searchValue == location.locationName">
                {{location.locationName}}
            </option>
        </select>
        <select *ngIf="search.searchBy =='subLocation'"
                class="form-control"
                id="advsearchSubLocation"
                [(ngModel)]="search.searchSubLocation"
                (change)="searchInventory()">
            <option value="" disabled selected>Select Sub Location</option>
            <option *ngFor="let location of subLocations"
                    [value]="location.locationId"
                    [selected]="search.searchSubLocation == location.locationName">
                {{location.locationName}}
            </option>
        </select>
    </ng-container>
    <ng-container *ngIf="search.searchBy =='type'">
      <select class="form-control"
              id="advsearchTyp"
              [(ngModel)]="search.searchValue"
              (change)="searchInventory()">
        <option value="" disabled selected>Select Inventory Type</option>
        <option *ngFor="let itemType of itemTypeOptions"
                [value]="itemType"
                [selected]="search.searchValue == itemType">
            {{itemType}}
        </option>
      </select>
    </ng-container>
 </div>



  <div class="row control-box">
    <div ngbDropdown style="display: inline-block;">
      <button class="btn btn-default menu-btn" id="editViewDropdown" ngbDropdownToggle>
        <i class="fa fa-list" aria-hidden="true"></i> Edit View</button>
      <div ngbDropdownMenu aria-labelledby="editViewDropdown">
        <button *ngFor="let mode of columnList; let i = index;" class="dropdown-item" (click)="toggleViewCol(i)">
          <input autocomplete="off" type="checkbox" [checked]="viewColumn[i]">{{mode}}</button>
      </div>
    </div>



    <div ngbDropdown style="display: inline-block;">
      <button *ngIf="canManageInventory" class="btn btn-default menu-btn"
              id="createNewItemDropdown"
              ngbDropdownToggle>
        <i class="fa fa-plus"
           aria-hidden="true"></i> New Item
      </button>
      <div ngbDropdownMenu
           aria-labelledby="createNewItemDropdown">
        <button ngbDropdownItem
                *ngFor="let typeName of itemTypeOptions; let i = index"
                (click)="newItem(typeName)">
          {{typeName}}
        </button>
      </div>
    </div>

    <button *ngIf="inventoryDetailIdSelected != 0"
            class="btn btn-default menu-btn"
            (click)="openCheckOut()">
      <i class="far fa-arrow-alt-circle-up"></i> Check Out
    </button>

    <button *ngIf="inventoryDetailIdSelected != 0"
            class="btn btn-default menu-btn"
            (click)="openReconstitute()">
      <i class="fa fa-flask" aria-hidden="true"></i> Reconstitute
    </button>

    <div ngbDropdown style="display: inline-block;">
      <button class="btn btn-default menu-btn"
              id="invenData"
              ngbDropdownToggle>
              <span class="material-icons">
                import_export
              </span> Data Export/Import
      </button>
      <div ngbDropdownMenu
           aria-labelledby="invenData">
        <button ngbDropdownItem (click)="exportAsCSV()">
          Export Inventory Data
        </button>

        <!-- The feature of importing Excel spreadsheet to inventory is temporarily disabled, and such feature will be enabled after there is an available API to support this feature -->
        <!-- <button ngbDropdownItem (click)="fileInput.click()">
          Import Inventory Data
        </button> -->
      </div>
    </div>

    <input hidden type="file" #fileInput (change)="onFileChange($event)">
  </div>

  <div class="table-container">
    <table class="table table-scroll">
      <thead>
        <tr>
          <th></th>

          <th colspan="4" *ngIf="viewColumn[0]">Item<br> Name</th>
          <!-- <th colspan="2">Attachments</th> -->
          <th colspan="2" *ngIf="viewColumn[1]">Manufacturer<br>Catalog#</th>
          <th colspan="2" *ngIf="viewColumn[2]">Item<br> Type</th>
          <th colspan="2" *ngIf="viewColumn[3]">Supplier<br> Name</th>
          <th colspan="2" *ngIf="viewColumn[4]">Manufacturer</th>
          <th colspan="2" *ngIf="viewColumn[5]">Amount<br> /Quantity</th>
          <th *ngIf="viewColumn[6]">Container<br> Size</th>
          <th *ngIf="viewColumn[7]">Unit</th>
          <th *ngIf="viewColumn[8]">In<br> Use</th>
          <th *ngIf="viewColumn[9]">Unit<br> Price (USD)</th>
          <th colspan="2" *ngIf="viewColumn[10]">Quantity<br> Threshold</th>
          <th colspan="2" *ngIf="viewColumn[11]">Last<br> Modify</th>
          <th colspan="5" *ngIf="viewColumn[12]">Comment(s)</th>
          <th *ngIf="viewColumn[13]">Active</th>
          <th colspan="2" *ngIf="viewColumn[14]">Item Sub Type</th>

        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let i of items; let itemIndex = index">
          <tr class="shadow-row">
            <td>
              <button *ngIf="i.inventoryDetails && i.inventoryDetails.length > 0"
                       class="btn btn-default icon-btn"

                       (click)="expandSubTable(itemIndex)"
                       [id]="showItemDetailList + itemIndex">
                <i *ngIf="i.show"
                    class="fas fa-minus"
                    [id]="show + itemIndex">
                </i>
                <i *ngIf="!i.show"
                    class="fas fa-plus"
                    [id]="hide + itemIndex"></i>
              </button>
            </td>
            <td colspan="4"
                *ngIf="viewColumn[0]"
                class="itemname master"
                [id]="itemIndex" [routerLink]="['/main/inventories', i.inventoryId]">
                <a href="javascript:;">{{i.name}}</a>
            </td>
            <!-- <td colspan="2" (click)="loadItem( i.inventoryId )">
                <span class="attNum">{{displayFn(i.inventoryId)}}</span>
            </td> -->
            <td colspan="2"
                *ngIf="viewColumn[1]"
                [class.emptyReq]="!i.catalogNumber" [routerLink]="['/main/inventories', i.inventoryId]">
                {{i.catalogNumber}}
            </td>

            <td colspan="2"
                *ngIf="viewColumn[2]" [routerLink]="['/main/inventories', i.inventoryId]">
                {{i.type}}
            </td>

            <td colspan="2"
                *ngIf="viewColumn[3] "
                [routerLink]="['/main/inventories', i.inventoryId]">
              <a *ngIf="i.supplierLink"
                 [attr.href]="i.supplierLink"
                 target="_blank">
                 {{i.supplier}}
              </a>
              <span *ngIf="!i.supplierLink">
                {{i.supplier}}
              </span>
            </td>

            <td colspan="2"
                *ngIf="viewColumn[4] "
                [routerLink]="['/main/inventories', i.inventoryId]">
              <a *ngIf="i.manufacturerLink"
                 [attr.href]="i.manufacturerLink"
                 target="_blank">
                 {{i.manufacturer}}
              </a>
              <span *ngIf="!i.manufacturerLink">
                {{i.manufacturer}}
              </span>
            </td>

            <td colspan="2"
                *ngIf="viewColumn[5] "
                [style.background-color]="i.amount < i.quantityThreshold ? 'salmon':'transparent'"
                [routerLink]="['/main/inventories', i.inventoryId]">
                {{i.amount}}
            </td>

            <td *ngIf="viewColumn[6] " [routerLink]="['/main/inventories', i.inventoryId]">
                {{i.containerSize}}
            </td>

            <td *ngIf="viewColumn[7] " [routerLink]="['/main/inventories', i.inventoryId]">
              {{i.unit}}
            </td>

            <td *ngIf="viewColumn[8] " [routerLink]="['/main/inventories', i.inventoryId]">
               {{i.numberInUse}}
            </td>

            <td *ngIf="viewColumn[9] " [routerLink]="['/main/inventories', i.inventoryId]">
              {{i.unitPrice}}
            </td>

            <td colspan="2"
                *ngIf="viewColumn[10] " [routerLink]="['/main/inventories', i.inventoryId]">
                {{i.quantityThreshold}}
            </td>

            <td colspan="2"
                *ngIf="viewColumn[11] " [routerLink]="['/main/inventories', i.inventoryId]">
                {{i.modifiedOn | date: dateFormatDisplay}}
            </td>

            <td colspan="5"
                *ngIf="viewColumn[12] " [routerLink]="['/main/inventories', i.inventoryId]">
                {{i.comment}}
            </td>

            <td *ngIf="viewColumn[13]" [routerLink]="['/main/inventories', i.inventoryId]">
              {{i.active}}
            </td>

            <td colspan="2"
                *ngIf="viewColumn[14] " [routerLink]="['/main/inventories', i.inventoryId]">
                {{i.subtype}}
            </td>


          </tr>
          <tr *ngIf="i.show && i.inventoryDetails && i.inventoryDetails.length > 0" class="sub-table">
            <td class="inven-sub-table-container">
              <div class="table-wrapper">
                <table class="fl-table">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Lot<br>Number</th>
                        <th>Recon</th>
                        <th *ngIf="!(i.type == INVENTORY_ITEM_TYPES.IN_HOUSE_PROTEIN)">Received<br>Date</th>
                        <th *ngIf="(i.type == INVENTORY_ITEM_TYPES.IN_HOUSE_PROTEIN)">Preparation<br>Date</th>
                        <th>Expiry Date/<br>Retest Date</th>
                        <th>Location</th>
                        <th>Sub<br>Location</th>
                        <th>Amount/<br>Quantity</th>
                        <th>In<br>Use</th>
                        <th>Reserved</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let d of i.inventoryDetails; let detailIndex=index">
                      <td>
                        <input *ngIf="canManageInventory" autocomplete="off"
                               type="checkbox"
                               (change)="selectForCheckout(i.inventoryId, d.inventoryDetailId)"
                               [id]="select + ' ' + itemIndex + ' ' + detailIndex"
                               [checked]="checkItemSelected(d.inventoryDetailId)">
                      </td>
                      <td [id]="itemIndex + ' ' + detailIndex"
                          (click)="loadItemDetail( i.inventoryId, d.inventoryDetailId );"
                          [matTooltipPosition]="'right'"
                          [matTooltipShowDelay]="300"
                          [matTooltip]="d?.lotNumber"
                          [matTooltipDisabled]="d?.lotNumber.length <= 19">
                          <a href="javascript:;" >
                            {{d?.lotNumber.length > 19 ? d?.lotNumber.slice(0, 17) + '...' : d?.lotNumber}}
                          </a>
                      </td>
                      <td>
                         {{d?.reconstituted?'Yes':'No'}}
                      </td>
                      <td>
                         {{d?.receivedDate | date: dateFormatDisplay}}
                      </td>
                      <td *ngIf="!d.retestDate">{{d?.expiryDate | date: dateFormatDisplay}}</td>
                      <td *ngIf="d.retestDate">{{d?.retestDate | date: dateFormatDisplay}}</td>
                      <td>{{d?.location?.locationName}}</td>
                      <td>{{d?.subLocation?.locationName}}</td>
                      <td [id]="itemdetailamount+' '+ itemIndex +' '+detailIndex">{{d?.amount}}</td>
                      <td>{{d?.numberInUse}}</td>
                      <td>{{d?.reserve?'Yes':'No'}}</td>
                    </tr>

                    <tbody>
                </table>
              </div>
            </td>



          </tr>
        </ng-container>

        <tr *ngIf="!items">
          <td class="empty" colspan="15">Empty</td>
        </tr>

      </tbody>

    </table>

  </div>

  <div *ngIf="isLoading" class="loading-screen">
    <img class="loading-img" src="../../../assets/images/loading.gif">
  </div>
</div>

<div *ngIf="itemCount>10" class="table-pagination-contianer">
  <ngb-pagination class="d-flex justify-content-center" [collectionSize]="itemCount" [(page)]="page" [rotate]="true"
    [boundaryLinks]="true" [maxSize]="5" aria-label="Default pagination" (pageChange)="loadPage()"></ngb-pagination>
</div>

<div [style.right]="showItem?0+'px':-100+'%'"
     class="slide">
  <div class="edit-container">
    <h2>
      <div class="inven-header-container" style="text-align:right;">
        <h1>{{isNewItem?'New Inventory': selectedItem?.name}}</h1>
        <button  (click)="reset()"><i class="fas fa-times"></i></button>
      </div>
       <div class="inven-operation-container" *ngIf="!isNewItem">
          <span *ngIf="canManageInventory" (click)="enableEditing = true">
            Edit
          </span>

          <span *ngIf="canManageInventory" (click)="addNewItemDetail()">
            New Lot
          </span>

      </div>
      <small class="sub-head"
             *ngIf="!isNewItem && selectedItem?.modifiedOn && selectedItem?.editedBy">
        Edited by {{selectedItem?.editedBy}} on {{selectedItem?.modifiedOn | date: dateFormatDisplay}}
      </small>
    </h2>

    <app-item-display [selectedItem]="selectedItem"
                      [enableEdit]="enableEditing"
                      [isNew]="isNewItem"
                      (updateItem)="updateItem($event)"
                      (cancel)="reset()">
    </app-item-display>


  </div>
</div>

<div [style.right]="showItemDetail?0+'px':-200+'%'" class="slide" id="itemDetailInfo">
  <div class="edit-container">
    <h2>

      <div class="inven-header-container" style="text-align:right;">
        <h1>{{isNewItemDetail ? 'New Lot' : selectedItemDetail?.lotNumber}}</h1>
        <button  (click)="reset()"><i class="fas fa-times"></i></button>
      </div>

      <div class="inven-operation-container" *ngIf="!isNewItemDetail">
        <span *ngIf="canManageInventory" (click)="enableEditing = true">
          Edit
        </span>
      </div>

      <small class="sub-head"
        *ngIf="selectedItemDetail?.modifiedOn && selectedItemDetail?.editedBy">Edited by
        {{selectedItemDetail?.editedBy}}
        on {{selectedItemDetail?.modifiedOn | date: dateFormatDisplay}}</small>

    </h2>

    <app-item-detail-display [selectedItem]="selectedItem"
                             [selectedItemDetail]="selectedItemDetail"
                             [enableEdit]="enableEditing"
                             (updateItem)="updateItem($event)"
                             (cancel)="reset()">
    </app-item-detail-display>

   </div>
</div>

<ng-template #checkItem let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">
      Check Out Item
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="reset(); c('')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-check-out *ngIf="!(selectedItem?.type == INVENTORY_ITEM_TYPES.MATRIX) && !(selectedItem?.type == INVENTORY_ITEM_TYPES.ANTI_SERA) else alternateCheckout"
                     [checkoutInventory]="selectedItem"
                     [checkoutInventoryDetailId]="inventoryDetailIdSelected"
                     (update)="c(''); inventoryDetailIdSelected = 0;reset();searchInventory();"
                     (cancel)="c('');">
    </app-check-out>
    <ng-template #alternateCheckout>
       Checkout for matrix and anti sera are by vial and available from the Inventory Detail
    </ng-template>
  </div>
</ng-template>

<ng-template #reconItem let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">
      Reconstitute Item
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="reset(); c('')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-reconstitution *ngIf="!(selectedItem?.type == INVENTORY_ITEM_TYPES.SOLUTION) && !(selectedItem?.type == INVENTORY_ITEM_TYPES.KIT) else noReconBlock"
                         [reconInventory]="selectedItem"
                         [reconInventoryDetailId]="inventoryDetailIdSelected"
                         (update)="updateItem($event); c(''); inventoryDetailIdSelected = 0;"
                         (cancel)="c('');">
    </app-reconstitution>
    <ng-template #noReconBlock>
       Reconstitution not possible for this Inventory Type
    </ng-template>
  </div>
</ng-template>


<ng-template #selectCommercialProteinSubtype let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">Select Protein Subtype</h4>
    <button type="button" class="close" aria-label="Close" (click)="reset(); c('')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <button type="button"
            class="btn btn-primary mx-auto my-3"
            style="display: block; width: 225px"
            (click)="showNewItemScreen(INVENTORY_ITEM_TYPES.COMMERCIAL_PROTEIN, subtype); c('')"
            *ngFor="let subtype of commercialSubtypes; let i = index">
      {{subtype}}
    </button>
  </div>
</ng-template>

<ng-template #selectInHouseProteinSubtype let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">Select Protein Subtype</h4>
    <button type="button" class="close" aria-label="Close" (click)="reset(); c('')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <button type="button"
            class="btn btn-primary mx-auto my-3"
            style="display: block; width: 225px"
            (click)="showNewItemScreen(INVENTORY_ITEM_TYPES.IN_HOUSE_PROTEIN, subtype); c('')"
            *ngFor="let subtype of inHouseSubtypes; let i = index">
      {{subtype}}
    </button>
  </div>
</ng-template>

