<div class="message-container">
  <h1 *ngIf="data.title" class="message-title">{{data.title}}</h1>
  <mat-dialog-content>

      <div class="message-content">
        <ul>
          <li *ngFor="let alert of data.alerts" [style.color]="alert.color || 'black'">{{alert.message}}</li>
        </ul>
        <!-- <span>Scroll to see more</span> -->
      </div>



  </mat-dialog-content>
  <p *ngIf="data.comment" class="message-comment">({{data.comment}})</p>
  <div class="footer">
    <button class="cancel-btn warn-btn-animation icon-btn " (click)="onClose()"><span class="material-icons md-48">close</span></button>
  </div>

</div>
