<div>
  <mat-dialog-content>
    <p>{{data.message}}</p>
    <p *ngIf="data.timerMessageArray && data.timerMessageArray.length > 0">{{data.timerMessageArray.length > 1 ? '!!! The following timers are overdue: ' : '!!! The following timer is overdue: '}}</p>
    <div *ngIf="data.timerMessageArray && data.timerMessageArray.length > 0">
      <ul *ngFor="let timerMessage of data.timerMessageArray">
        <li class="color-red">{{timerMessage}}</li>
      </ul>
      <br>
      <!-- <p>Do you want to save the current worksheet without saving the running {{data.timerMessageArray.length > 1 ? "timers'" : "timer's"}} time spent?</p> -->
      <p>Please stop the {{data.timerMessageArray.length > 1 ? "timers'" : "timer"}} before save.</p>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button *ngIf="!disableChoice"
      color="warn"
      mat-raised-button
      (click)="onNoClick()"
      class="cancel-btn width-150"
    >
      No
    </button>
    <button *ngIf="!disableChoice"
      color="primary"
      mat-raised-button
      [mat-dialog-close]="true"
      class="confirm-btn width-150"
    >
      Yes
    </button>

    <button *ngIf="disableChoice"
      color="warn"
      mat-raised-button
      (click)="onNoClick()"
      class="cancel-btn width-150"
    >
      Cancel
    </button>
  </mat-dialog-actions>
</div>
