<div class="page" *ngIf="isTablet==false" align='center'>

  <div class="container mat-elevation-z8" *ngIf="resetPassword == false" align='center'>
    <img class="margin-bottom-4rem" src=".../../../../assets/images/intelliLab_Full.PNG" alt="Somru Logo" width="350" >
    <!-- <h1>Login</h1> -->
    <form (ngSubmit)="login()" [formGroup]="loginForm">


      <div class="form-group">
        <input autocomplete="off"
               class="form-control"
               type="email"
               id="email"
               formControlName="email"
               placeholder="Email" />
      </div>

      <div *ngIf="showLoginError&&loginForm.controls['email'].invalid" class="alert alert-danger">
        <label
          [ngClass]="loginForm.controls['email'].hasError('required') ||
                     loginForm.controls['email'].hasError('hasPattern') ||
                     loginForm.controls['email'].hasError('email') ? 'text-danger' : 'text-success'">
          <i class="material-icons">
            {{ loginForm.controls['email'].hasError('required') ||
               loginForm.controls['email'].hasError('hasPattern') ||
               loginForm.controls['email'].hasError('email')? 'cancel' : 'check_circle' }}
          </i>
          Enter a valid email address
        </label>
      </div>

      <div class="form-group">
        <input autocomplete="off"
               class="form-control"
               type="password"
               id="password"
               formControlName="password"
               placeholder="Password" />
      </div>

      <div *ngIf="showLoginError&&loginForm.controls['password'].invalid"
            class="alert alert-danger">
        <label [ngClass]="loginForm.controls['password'].hasError('required') ||
                          loginForm.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
          <i class="material-icons">
            {{ loginForm.controls['password'].hasError('required')  ? 'cancel' : 'check_circle' }}
          </i>
          Password is required
        </label>
      </div>

      <div *ngIf="loginError" class="alert alert-danger">
        <label [ngClass]="loginError? 'text-danger' : 'text-success'">
          <i class="material-icons">
            {{ loginError? 'cancel' : 'check_circle' }}
          </i>
          {{errorMessage}}
        </label>
      </div>



      <div class="form-group">
        <button type="submit" class="login-btn">LOGIN</button>
        <!-- <p (click)="changeTable('reset')" class="forgetpasswordbutton">Forgot Password?</p> -->
        <a (click)="changeTable('reset')" class="discrete">Forgot Password?</a>
      </div>

    </form>
  </div>

  <div class="container  mat-elevation-z8" style="top: 20%; left: 30%;" *ngIf="resetPassword == true">
    <!-- <h3>Request Reset Password</h3> -->
    <img class="margin-bottom-4rem" src=".../../../../assets/images/intelliLab_Full.PNG" alt="Somru Logo" width="350" >
    <form (ngSubmit)="sendLink()" [formGroup]="requestResetForm">


      <div class="form-group">
        <input autocomplete="off"
               class="form-control"
               type="email"
               id="restemail"
               formControlName="resetEmail"
               placeholder="Email" />
      </div>
      <div *ngIf="showResetError&&requestResetForm.controls['resetEmail'].invalid &&
                  requestResetForm.controls['resetEmail'].touched"
            class="alert alert-danger">
        <label [ngClass]="requestResetForm.controls['resetEmail'].hasError('required') ||
                          requestResetForm.controls['resetEmail'].hasError('hasPattern') ||
                          loginForm.controls['email'].hasError('email')? 'text-danger' : 'text-success'">
          <i class="material-icons">
            {{ requestResetForm.controls['resetEmail'].hasError('required') ||
               requestResetForm.controls['resetEmail'].hasError('hasPattern') ||
               requestResetForm.controls['resetEmail'].hasError('resetEmail')? 'cancel' : 'check_circle' }}
          </i>
          Enter a valid email address!
        </label>
      </div>

      <div class="form-group">
        <button type="submit" class="login-btn"> Reset Password </button>
        <!-- <p (click)="changeTable('login')"
            class="forgetpasswordbutton">
            Back to Login
        </p> -->
        <!-- <a (click)="changeTable('login')" class="discrete">Back to Login</a> -->
        <div class="roller-btn" (click)="changeTable('login')">
          <span class="material-icons md-18 arrow-left">
            keyboard_arrow_left
          </span>
          <span>Back to Login</span>
        </div>
      </div>

    </form>
  </div>

</div>

<div class="page" *ngIf="isTablet==true" align='center'>

  <div class="container" *ngIf="resetPassword == false" align='center'>
    <h1>Login</h1>
    <form (ngSubmit)="login()" [formGroup]="loginForm">

      <div class="form-group">
        <input autocomplete="off"
               class="form-control"
               type="email"
               id="email"
               formControlName="email"
               placeholder="Email" />
      </div>
        <div *ngIf="showLoginError&&loginForm.controls['email'].invalid"
              class="alert alert-danger">
        <label [ngClass]="loginForm.controls['email'].hasError('required') ||
                          loginForm.controls['email'].hasError('hasPattern') ||
                          loginForm.controls['email'].hasError('email') ?  'text-danger' : 'text-success'">
          <i class="material-icons">
            {{ loginForm.controls['email'].hasError('required') ||
               loginForm.controls['email'].hasError('hasPattern') ||
               loginForm.controls['email'].hasError('email')? 'cancel' : 'check_circle' }}
          </i>
          Enter a valid email address
        </label>
      </div>

      <div class="form-group">
        <input autocomplete="off"
               class="form-control"
               type="password"
               id="password"
               formControlName="password"
               placeholder="Password" />
      </div>

      <div *ngIf="showLoginError&&loginForm.controls['password'].invalid"
            class="alert alert-danger">
        <label [ngClass]="loginForm.controls['password'].hasError('required') ||
                          loginForm.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
          <i class="material-icons">
            {{ loginForm.controls['password'].hasError('required')  ? 'cancel' : 'check_circle' }}
          </i>
          Password is required
        </label>
      </div>

      <div *ngIf="loginError"
            class="alert alert-danger">
        <label [ngClass]="loginError? 'text-danger' : 'text-success'">
          <i class="material-icons">
            {{ loginError? 'cancel' : 'check_circle' }}
          </i>
          {{errorMessage}}
        </label>
      </div>


      <div class="form-group">
        <button type="submit" class="btn btn-info login-btn" id="loginbutton">Login</button>
        <p (click)="changeTable('reset')" class="forgetpasswordbutton">Forgot Password?</p>
      </div>

    </form>
  </div>

  <div class="container" style="top: 20%; left: 30%;" *ngIf="resetPassword == true">
    <h3>Request Reset Password</h3>
    <form (ngSubmit)="sendLink()"
          [formGroup]="requestResetForm">


      <div class="form-group">
        <input autocomplete="off"
               class="form-control"
               type="email"
               id="restemail"
               formControlName="resetEmail"
               placeholder="Email" />
      </div>

      <div *ngIf="showResetError&&requestResetForm.controls['resetEmail'].invalid &&
                  requestResetForm.controls['resetEmail'].touched"
            class="alert alert-danger">
        <label [ngClass]="requestResetForm.controls['resetEmail'].hasError('required') ||
                          requestResetForm.controls['resetEmail'].hasError('hasPattern') ||
                          loginForm.controls['email'].hasError('email')? 'text-danger' : 'text-success'">
          <i class="material-icons">
            {{ requestResetForm.controls['resetEmail'].hasError('required') ||
               requestResetForm.controls['resetEmail'].hasError('hasPattern') ||
               requestResetForm.controls['resetEmail'].hasError('resetEmail')? 'cancel' : 'check_circle' }}
          </i>
          Enter a valid email address!
        </label>
      </div>

      <div class="form-group">
        <button type="submit"
                class="btn btn-info login-btn"
                id="loginbutton" >Reset Password
        </button>
         <p (click)="changeTable('login')"
            class="forgetpasswordbutton">
            Back to Login
         </p>
      </div>

    </form>
  </div>

</div>

