$hover-gray: #e7e7e8;
$btn-gray:#737374;
$blue: #4285f4;
$bg-color: #eeeff1;
$text-color: #4c494c;
$green: #17a2b8;
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-120 { font-size: 120px; }
.material-icons.gray { color: $btn-gray; }
.opacity-02 { opacity: 0.2; }

button{
  outline: none;

  &:focus{
    outline: none;
  }
}


div.attachment-container{
  width: 100%;
  height: fit-content;
  border-radius: 0.5rem;
  z-index: 12;
  color: $text-color;

  .attachment-collapse-btn{
    transition: all ease-out 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;

    &:hover{
      transition: all ease-in 0.3s;
      transform: translateY(-10px);
      cursor: default;
    }
  }

  .attachment-upload-btn{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    // padding: 0 5px;
    color: $green;

    .att-quantity{
      opacity: 0.5;
    }

    .upload-btn-txt{
      transition: all ease-in 0.3s;
      text-decoration: none;
      // opacity: 0.5;

      &:hover{
        transition: all ease-out 0.3s;
        opacity: 1;
        text-decoration: underline;
        cursor: pointer;
      }
    }

  }

  .attachment-list-container{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style-type:none;

    .attachment-list-item-container{
      overflow: hidden;
      transition: all ease-in 0.3s;
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 1rem;
      border-radius: 0.5rem;
      background-color: $green;
      color: white;
      &:last-child{
        margin-bottom: 0;
      }

      &:hover{
        transition: all ease-out 0.3s;
        color: yellow;

        .attachment-list-item-txt-container{
          transition: all ease-out 0.3s;
          width: 90%;
        }

        .attachment-list-item-icon-container{
          transition: all ease-out 0.3s;
          width: 10%;
          .material-icons{
            transition: all ease-out 0.3s;
            opacity: 1;
          }
        }
      }

      .attachment-list-item-txt-container{
        transition: all ease-in 0.3s;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .attachment-list-item-icon-container{
        transition: all ease-in 0.3s;
        width: 0px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: red;

        &:hover{
          cursor: pointer;
          .material-icons{
              transform: rotate(90deg);
              transition: all ease-out 0.3s;
          }
        }
      }

      .material-icons{
        transition: all ease-in 0.3s;
        color: white;
        font-size: 150%;
        opacity: 0;
      }
    }
  }
}


.loader {
  animation:spin 1s infinite linear;
  border:solid 2vmin transparent;
  border-radius:50%;
  border-right-color:#09f;
  border-top-color:#09f;
  box-sizing:border-box;
  height:20vmin;
  left:calc(50% - 10vmin);
  position:fixed;
  top:calc(50% - 10vmin);
  width:20vmin;
  z-index:1;
  &:before {
    animation:spin 2s infinite linear;
    border:solid 2vmin transparent;
    border-radius:50%;
    border-right-color:#3cf;
    border-top-color:#3cf;
    box-sizing:border-box;
    content:"";
    height:16vmin;
    left:0;
    position:absolute;
    top:0;
    width:16vmin;
  }
  &:after {
    animation:spin 3s infinite linear;
    border:solid 2vmin transparent;
    border-radius:50%;
    border-right-color:#6ff;
    border-top-color:#6ff;
    box-sizing:border-box;
    content:"";
    height:12vmin;
    left:2vmin;
    position:absolute;
    top:2vmin;
    width:12vmin;
  }
}

@keyframes spin {
  100% {
    transform:rotate(360deg);
  }
}
