
<div class="attachment-container mat-elevation-z8" appFmcDragDrop (onFileDropped)="uploadFile($event)" >
  <span class="material-icons md-48 attachment-collapse-btn" (click)="closePanel()">
    keyboard_arrow_up
  </span>

  <div *ngIf="isLoading" class="loader"></div>
  <ul class="attachment-list-container" [class.opacity-02]="isLoading">
    <li *ngFor="let attachment of attachments | async" class="attachment-list-item-container">
      <div
      class="attachment-list-item-txt-container"
      (contextmenu)="openMenu($event, menuTrigger)"
      [matTooltipPosition]="'right'"
      [matTooltipShowDelay]="300"
      [matTooltip]="attachment.name"
      [matTooltipDisabled]="attachment.name.length <= 19">
        <span>{{attachment.name.length > 19 ? attachment.name.slice(0, 17) + '...' : attachment.name}}</span>
      </div>

      <span [matMenuTriggerFor]="attMenu" [matMenuTriggerData]="{attachment: attachment}" #menuTrigger="matMenuTrigger"></span>

      <div class="attachment-list-item-icon-container">
        <span class="material-icons" (click)="deleteFile(attachment)">
          close
        </span>
      </div>
    </li>
  </ul>

  <mat-menu #attMenu="matMenu" [overlapTrigger]="false" xPosition="after" yPosition="below">
    <ng-template matMenuContent let-attachment="attachment">
      <button mat-menu-item (click)="openRenameDialog(attachment)">
        <mat-icon>edit</mat-icon>
        <span>Rename</span>
      </button>
      <button mat-menu-item (click)="downloadFile(attachment)">
        <mat-icon>download</mat-icon>
        <span>Download</span>
      </button>
    </ng-template>
  </mat-menu>

  <div class="attachment-upload-btn" (click)="fileInput.click()">
    <span class="material-icons">
      attach_file
    </span>
    <span class="attachment-upload-btn-txt">
      Attach File
    </span>
    <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
  </div>

</div>

