$hover-gray: #e7e7e8;
$btn-gray:#737374;
$blue: #4285f4;
$bg-color: #eeeff1;
$text-color: #4c494c;
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-120 { font-size: 120px; }
.material-icons.gray { color: $btn-gray; }
.opacity-02 { opacity: 0.2; }

button{
  outline: none;

  &:focus{
    outline: none;
  }
}


div.attachment-container{
  width: 25%;
  height: 100%;
  padding: 1rem;
  // border: red 2px solid;
  position: absolute;
  top: -120%;
  z-index: 12;
  color: $text-color;

  .attachment-collapse-btn{
    transition: all ease-out 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;

    &:hover{
      transition: all ease-in 0.3s;
      transform: translateY(-10px);
      cursor: default;
    }
  }

  .attachment-upload-btn{
    width: 50px;
    height: 50px;
    transition: all ease-in 0.3s;
    border-radius: 50px;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    background-color: $blue;
    color: white;

    .material-icons{
      transition: all ease-in 0.3s;
    }

    .attachment-upload-btn-txt{
      transition: all ease-in 0.2s;
      font-size: 0px;
      opacity: 0;
    }
    &:hover{
      transition: all ease-out 0.3s;
      cursor: pointer;
      width: 90%;
      border-radius: 1rem;
      .attachment-upload-btn-txt{
        opacity: 1;
        transition: all ease-out 0.3s;
        font-size: x-large;
      }
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);

      .material-icons{
        transition: all ease-out 0.3s;
        font-size: 0px;
      }
    }
  }

  .attachment-list-container{
    width: 100%;
    height: 85%;
    overflow: scroll;
    overflow-x: hidden;
    background-color: $bg-color;
    border-radius: 1rem;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
    list-style-type:none;
    padding: 1rem;

    .attachment-list-item-container{
      overflow: hidden;
      transition: all ease-in 0.3s;
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-radius: 1rem;
      margin-bottom: 1rem;
      background-color: $blue;
      color: white;
      &:last-child{
        margin-bottom: 0;
      }

      &:hover{
        transition: all ease-out 0.3s;
        // cursor: pointer;
        // border: orange 4px solid;
        color: yellow;

        .attachment-list-item-txt-container{
          transition: all ease-out 0.3s;
          width: 80%;
          // border-radius: 1rem 0 0 1rem;
        }

        .attachment-list-item-icon-container{
          transition: all ease-out 0.3s;
          width: 20%;
          .material-icons{
            transition: all ease-out 0.3s;
            opacity: 1;
          }
        }
        // -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
        // -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
        // box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
      }

      .attachment-list-item-txt-container{
        // background-color: $blue;
        transition: all ease-in 0.3s;
        width: 100%;
        height: 100%;
        // padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        // border-radius: 1rem 0 0 1rem;
      }

      .attachment-list-item-icon-container{
        transition: all ease-in 0.3s;
        width: 0px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: red;
        // border-radius: 0 1rem 1rem 0;

        &:hover{
          cursor: pointer;
          .material-icons{
              transform: rotate(90deg);
              transition: all ease-out 0.3s;
          }
        }
      }

      .material-icons{
        transition: all ease-in 0.3s;
        color: white;
        font-size: 150%;
        opacity: 0;
      }
    }
  }
}


.loader {
  animation:spin 1s infinite linear;
  border:solid 2vmin transparent;
  border-radius:50%;
  border-right-color:#09f;
  border-top-color:#09f;
  box-sizing:border-box;
  height:20vmin;
  // left:calc(50% - 10vmin);
  left:calc(12.5% - 10vmin);
  position:fixed;
  top:calc(50% - 10vmin);
  width:20vmin;
  z-index:1;
  &:before {
    animation:spin 2s infinite linear;
    border:solid 2vmin transparent;
    border-radius:50%;
    border-right-color:#3cf;
    border-top-color:#3cf;
    box-sizing:border-box;
    content:"";
    height:16vmin;
    left:0;
    position:absolute;
    top:0;
    width:16vmin;
  }
  &:after {
    animation:spin 3s infinite linear;
    border:solid 2vmin transparent;
    border-radius:50%;
    border-right-color:#6ff;
    border-top-color:#6ff;
    box-sizing:border-box;
    content:"";
    height:12vmin;
    left:2vmin;
    position:absolute;
    top:2vmin;
    width:12vmin;
  }
}

@keyframes spin {
  100% {
    transform:rotate(360deg);
  }
}
