<!-- <mat-checkbox *ngIf="mode === 'experiment'" color = "primary" [checked]="isExcluded" (change)="skipStep()">Skip this step</mat-checkbox> -->
<mat-checkbox *ngIf="mode === 'experiment'" color = "primary" [checked]="isExcluded" (change)="skipStep()" class = "relative-bottom-20">
  <span class = "skip-text">Skip this step</span>
</mat-checkbox>


<form [formGroup]="form" *ngIf="isExcluded === 0">
  <!-- Operation 1 -->
  <!-- <hr> -->
  <strong>Stop Solution</strong>
    <div class="padding-left-35p">
      <app-auto-complete *ngIf="mode === 'design'"
      [controllerName]="'material'"
      [listContent]="inventoryList"
      [inputWidth] = "'400px'"
      [initSelection]="editData && editData.material? editData.material : ''"
      [matLabel]="'Solution Name'"
      (userSelection)="autoUpdate($event, 'item')"
      (warnData) = "initWarn($event)">
      </app-auto-complete>

      <!-- <mat-form-field *ngIf="mode !== 'design'" appearance="outline" class="display-block-200 width-400">
        <input *ngIf="mode === 'experiment'" matInput type="text" [value]="this.editData.material" readonly>
        <input  *ngIf="mode === 'review'" matInput type="text" [value]="this.reviewData.material" readonly>
      </mat-form-field> -->

      <app-text-field *ngIf="mode === 'experiment' || mode === 'review'"
      [text]="(editData && editData.material) || (reviewData && reviewData.material)"
      [tag]="'Solution Name'">
      </app-text-field>

      <div class="warn-container">
        <mat-form-field *ngIf="mode === 'design'" appearance="outline" class="display-block-200">
          <mat-label>Solution Supplier</mat-label>
          <input *ngIf="mode === 'design'" matInput type="text" formControlName="supplier" (change) = "updateInfo(); checkInputExist()">
          <!-- <input *ngIf="mode === 'experiment'" matInput type="text"  [value]="this.editData.supplier" readonly>
          <input *ngIf="mode === 'review'" matInput type="text"  [value]="this.reviewData.supplier" readonly> -->
        </mat-form-field>

        <app-text-field *ngIf="mode === 'experiment' || mode === 'review'"
        [text]="(editData && editData.supplier) || (reviewData && reviewData.supplier)"
        [tag]="'Solution Supplier'">
        </app-text-field>

        <span *ngIf="!supplier_exist" class="material-icons color-warn md-36 relative-top-right" [matTooltip]="toolTipMessage" [matTooltipPosition]="'above'">
          error
        </span>
      </div>

      <app-auto-complete *ngIf="materialLotNumList && mode === 'experiment'" [controllerName]="'materialLot_user'" [listContent]="materialLotNumList" [inputWidth] = "'200px'" [initSelection]="editData && editData.materialLot_user? editData.materialLot_user : ''" [listContentType]="'string'" [matLabel]="'Lot Number'" (userSelection)="autoUpdate($event, 'lotNum')"></app-auto-complete>

      <!-- <mat-form-field *ngIf="mode === 'review' && dataType === 'instance'" appearance="outline">
        <mat-label>Lot Number</mat-label>
        <input matInput type="text"  [value]="this.reviewData.materialLot_user" readonly>
      </mat-form-field> -->

      <app-text-field *ngIf="mode === 'review' && dataType === 'instance'"
      [text]="reviewData.materialLot_user"
      [tag]="'Lot Number'">
      </app-text-field>
    </div>
  <!-- End of Operation 1 -->




  <!-- Operation 2 -->
  <hr>
  <strong>Plate Dispensing Volume</strong>

  <div class='plate-container'>

        <div class="width-35p relative-bottom-6">
          <mat-checkbox *ngIf="mode === 'experiment' || (mode === 'review' && dataType === 'instance')"
          color = "primary"
          [checked]="SDC"
          (change) = "toggleSDC()"
          [disabled]="mode === 'review'"
          >
          <span [ngClass]="(mode ==='experiment')?'skip-text':'skip-text-nohover'">
            Solution Dispensing Completed
          </span>
          </mat-checkbox>
        </div>

        <div class="width-65p">
          <!-- Dispense -->
          <mat-form-field *ngIf="mode === 'design'" appearance="outline">
            <mat-label>Dispense Volume (per well)</mat-label>
            <input *ngIf="mode === 'design'" matInput type="number"   formControlName="dispenseValue" (change) = "updateInfo()">
          </mat-form-field>

          <app-text-field *ngIf="mode === 'experiment' || mode === 'review'"
          [text]="
          editData && editData.dispenseValue && editData.dispenseUnit ? editData.dispenseValue + ' ' + editData.dispenseUnit :
          reviewData && reviewData.dispenseValue && reviewData.dispenseUnit ? reviewData.dispenseValue + ' ' + reviewData.dispenseUnit : 'Undefined'
          "
          [tag]="'DV (per well)'"
          [tagFullName]="'Dispense Volume (per well)'"
          [toolTipType]="'fullName'">
          </app-text-field>

          <div *ngIf="mode === 'design'" class="unit-container margin-left-50">
            <app-drop-down-list *ngIf="mode === 'design'"
            [listContent]="literUnits"
            [defaultOption] = "dispenseUnit_copy"
            [placeHolderValue]="'Unit'"
            [mode]="'simple'"
            [width]="'150px'"
            [targetUnit]="'dispenseUnit'"
            (unit) = "onChangeUnit($event)">
            </app-drop-down-list>
          </div>
        </div>
  </div>
  <!-- End of Operation 2 -->

  <!-- Operation 3 -->
  <!-- <br>
  <br> -->
  <hr>
  <strong>Reader Settings</strong>
  <div class="padding-left-35p">
    <mat-form-field *ngIf="mode === 'design'" appearance="outline">
      <mat-label>Wavelength</mat-label>
      <input *ngIf="mode === 'design'" matInput type="number" formControlName = "readAtValue_1" (change) = "updateInfo()">
      <!-- <input *ngIf="mode === 'experiment'" matInput type="number" [value]="this.editData.readAtValue_1" readonly>
      <input *ngIf="mode === 'review'" matInput type="text" [value]="this.reviewData.readAtValue_1" readonly> -->
    </mat-form-field>

    <app-text-field *ngIf="mode === 'experiment' || mode === 'review'"
    [text]="(editData && editData.readAtValue_1) || (reviewData && reviewData.readAtValue_1)"
    [tag]="'Wavelength'">
    </app-text-field>

    <mat-form-field *ngIf="mode === 'design'" appearance="outline" class="display-block-200">
      <mat-label>Reference Wavelength</mat-label>
      <input *ngIf="mode === 'design'" matInput type="number" formControlName = "readAtValue_2" (change) = "updateInfo()">
      <!-- <input *ngIf="mode === 'experiment'" matInput type="number" [value]="this.editData.readAtValue_2" readonly>
      <input *ngIf="mode === 'review'" matInput type="text" [value]="this.reviewData.readAtValue_2" readonly> -->
    </mat-form-field>

    <app-text-field *ngIf="mode === 'experiment' || mode === 'review'"
    [text]="(editData && editData.readAtValue_2) || (reviewData && reviewData.readAtValue_2)"
    [tag]="'Reference Wavelength'">
    </app-text-field>
  </div>
  <!-- End of Operation 3 -->

  <mat-expansion-panel *ngIf="(mode === 'experiment' || (mode === 'review' && equipments.length > 0)) && isExcluded === 0" class="margin-top-70 margin-bottom-15 margin-left-1 margin-right-1"
    (afterExpand)="showEquipment = !showEquipment" (afterCollapse)="showEquipment = !showEquipment">

      <mat-expansion-panel-header>
        <mat-panel-title *ngIf="!showEquipment">Record Equipments</mat-panel-title>
        <mat-panel-title *ngIf="showEquipment">Collapse</mat-panel-title>
        <mat-panel-description *ngIf="!showEquipment">
          <span>(Click to edit equipments in below)</span>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-equipment-ws (updateEquip)="updateEquip($event)" [initData]="equipments" [stepInfo]="{stepType: stepType, mode: mode}"></app-equipment-ws>

    </mat-expansion-panel>

  </form>




<!-- Comment Display Section for approved and rejected worksheet review -->
<hr *ngIf="mode === 'review' && dataType === 'instance' && commentData.experimentComment">
<strong *ngIf="mode === 'review' && dataType === 'instance' && commentData.experimentComment">Experiment Comment</strong>
<div *ngIf="mode === 'review' && dataType === 'instance' && commentData.experimentComment"  class="padding-left-35p">
  <!-- <mat-form-field appearance="outline" class="display-block width-500">
    <mat-label>Experiment Comment</mat-label>
    <textarea matInput [rows]="6" [cols]="60" [value]="commentData.experimentComment" readonly></textarea>
  </mat-form-field> -->
  <app-text-field [mode]="'textarea'" [text]="commentData.experimentComment" [tag]="'Comment'"></app-text-field>
</div>


<hr *ngIf="mode === 'review' && dataType === 'instance' && !enableComment && commentData.reviewComment">
<strong *ngIf="mode === 'review' && dataType === 'instance' && !enableComment && commentData.reviewComment">Review Comment</strong>
<div *ngIf="mode === 'review' && dataType === 'instance' && !enableComment && commentData.reviewComment" class="padding-left-35p">
  <!-- <mat-form-field appearance="outline" class="display-block width-500">
    <mat-label>Review Comment</mat-label>
    <textarea matInput [rows]="6" [cols]="60" [value]="commentData.reviewComment" readonly></textarea>
  </mat-form-field> -->
  <app-text-field [mode]="'textarea'" [text]="commentData.reviewComment" [tag]="'Comment'"></app-text-field>
</div>

<button *ngIf="enableComment && !showComment && ((mode === 'review' && dataType === 'instance') || mode === 'experiment')" mat-raised-button color="primary" (click)="showComment = !showComment" class="width-300 display-block primary-btn-animation">{{mode === 'experiment' ? 'Create Experiment Comment' : 'Create Review Comment'}}</button>
<!-- End of Comment Display Section -->


<!-- Comment Section -->
<div *ngIf="enableComment">
  <div *ngIf="mode === 'experiment' && showComment === true">
    <app-step-comment [commentType]="'experiment'" [initCommentData]="commentData.experimentComment" (commentPayload)="updateComment($event)" (cancel)="cancelComment($event)"></app-step-comment>
  </div>

  <div *ngIf="mode === 'review' && dataType === 'instance' && showComment === true">
    <app-step-comment [commentType]="'review'" (commentPayload)="updateComment($event)"  (cancel)="cancelComment($event)"></app-step-comment>
  </div>
</div>
<!-- End of Comment Section -->



