<table class="table table-borderless">             
  <tr>
     <td style="width:90%;">
      <input autocomplete="off" 
              type="text"
              class="form-control input-sm"
              size="20"
              (keyup.enter)="searchClient()"
              [(ngModel)]="currentClient.companyName"
              [ngModelOptions]="{standalone: true}" >

      <div class="search-result" *ngIf="clientSearchResults">
        <div class="search-result-inner" *ngIf="clientSearchResults.length > 0">
          <p class="search-result-item" 
            *ngFor="let searchResult of clientSearchResults" 
            (click)="chooseClientFromList(searchResult)">
            {{searchResult.companyName}}
          </p>
        </div>
        <p *ngIf="!findClient" class="no-result">No result found</p>
      </div>
     </td>
     <td style="width:10%;">   
      <label type="button" 
             class="btn icon-btn"
             (click)="searchClient()">
        <i class="fas fa-search"></i>
      </label>
    </td>
  </tr>
</table>