.itemhead{
  background-color: lightblue;
}

.item-detail{
  background-color: white;
}

.checkout-amount{
  text-align: center;
  width:99%;
  color:black;
  height:39px;
  font-size:12px;
} 

.field-title{
  font-size: 10px;
  font-style:italic;
  color:grey;
  vertical-align: top;
  padding-top:5px;
}