<div *ngIf="sop" style="min-width:800px;">
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Name
          <span class="star">*</span>
          <button type="button"
                  class="btn btn-outline-secondary help-tooltip"
                  placement="top"
                  ngbTooltip="Name of the SOP">?</button>
        </label>
        <input autocomplete="off"
              *ngIf="enableEdit"
              class="form-control"
              type="text"
              [(ngModel)]="sop.name"
              name="sopname"/>
        <p class="read-message" *ngIf="!enableEdit">{{sop.name}}</p>
      </div>

      <div class="form-group col-md-3">
        <label>Active
          <span class="star">*</span>
          <button type="button"
                  class="btn btn-outline-secondary help-tooltip"
                  placement="top"
                  ngbTooltip="Whether sop is active or not">?</button>
        </label>
        <p class="read-message" *ngIf="enableEdit">
          <input type="checkbox"
                 [(ngModel)]="sop.active"
                 [ngModelOptions]="{standalone: true}"
                 id="activeCheckBox" >
        </p>
        <p class="read-message" *ngIf="!enableEdit">{{sop.active}}</p>
      </div>

  </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>SOP Id
          <span class="star">*</span>
          <button type="button"
                  class="btn btn-outline-secondary help-tooltip"
                  placement="top"
                  ngbTooltip="Id of the SOP">?</button>
        </label>
        <input autocomplete="off"
               *ngIf="isNew && enableEdit"
               class="form-control"
               type="text"
               [(ngModel)]="sop.sopIdentifier"
               [ngModelOptions]="{standalone: true}"
               name="sopIdentifier" />
        <p class="read-message" *ngIf="!isNew">{{sop.sopIdentifier}}</p>
      </div>

      <div class="form-group col-md-3" style="padding-right:0px;">
        <label>Final Volume
          <span class="star">*</span>
          <button type="button"
                  class="btn btn-outline-secondary help-tooltip"
                  placement="top"
                  ngbTooltip="Final Volume of the sop">?</button>
        </label>
        <input autocomplete="off"
               *ngIf="enableEdit"
               class="form-control"
               type="text"
               [(ngModel)]="sop.volume"
               [ngModelOptions]="{standalone: true}"
               name="volume" />
        <p class="read-message" *ngIf="!enableEdit">{{sop.volume}} {{sop.unit}}</p>
      </div>

      <div class="form-group col-md-3" style="padding-left:0px;" *ngIf="enableEdit">
        <label>Unit
          <span class="star">*</span>
          <button type="button"
                  class="btn btn-outline-secondary help-tooltip"
                  placement="top"
                  ngbTooltip="Unit of the sop">?</button>
        </label>
        <select class="form-control" #unitval (change)="setSopUnit(unitval.value);">
          <option [selected]="sop.unit == undefined">Please Select</option>
          <option *ngFor="let u of unit"
                  [value]="u"
                  [selected]="sop.unit == u">
                  {{u}}
          </option>
        </select>
      </div>
    </div>



    <div class="form-group">
      <label>Description
        <button type="button"
                class="btn btn-outline-secondary help-tooltip"
                placement="top"
                ngbTooltip="General Description of the sop">?</button>
      </label>
      <input autocomplete="off"
             *ngIf="enableEdit"
             class="form-control"
             type="text"
             [(ngModel)]="sop.description"
             [ngModelOptions]="{standalone: true}"
             name="sopDescription"
      />
      <p class="read-message" *ngIf="!enableEdit">{{sop.description}}</p>
    </div>

    <br>

    <div class="form-group">
      <label>Component(s)
        <span class="star">*</span>
        <button type="button"
                class="btn btn-outline-secondary help-tooltip"
                placement="top"
                ngbTooltip="List of SOP Components">?</button>
      </label>
      <table class="table table-bordered">
        <tr>
          <th *ngIf="enableEdit" style="width:10%;"></th>
          <th style="width:35%;">
            <label>Component Name
              <span class="star">*</span>
              <button type="button"
                      class="btn btn-outline-secondary help-tooltip"
                      placement="top"
                      ngbTooltip="Component Name">?</button>
            </label>
          </th>
          <th style="width:15%;">Amount
            <span class="star">*</span>
          </th>
          <th style="width:15%;">Unit
            <span class="star">*</span>
          </th>
        </tr>
        <tr *ngFor="let component of sop.components; let i = index">
          <ng-container *ngIf="enableEdit">
            <td>
              <label type="button" class="btn icon-btn" (click)="removeComponent(i)">
                <i class="fas fa-times"></i>
              </label>
            </td>
            <td>
              <app-item-search [currentItemName]="component.itemName"
                                 (itemSelected)="setSelectedItem($event, i)">
              </app-item-search>
            </td>


            <td>
              <input autocomplete="off"
                     *ngIf="enableEdit"
                     type="text"
                     class="form-control input-sm"
                     [(ngModel)]="component.requiredQuantity"
                     [ngModelOptions]="{standalone: true}">
            </td>

            <td>
              <select #unitval
                     (change)="component.requiredUnit = unitval.value"
                     class="form-control input-sm">
                <option [selected]="component.requiredUnit == undefined || component.requiredUnit == ''">Please Select</option>
                <option *ngFor="let u of unit"
                        [value]="u"
                        [selected]="component.requiredUnit==u">
                        {{u}}
                </option>
              </select>
            </td>
          </ng-container>
          <ng-container *ngIf="!enableEdit">
            <td>
                <p class="read-message">
                   {{component.itemName}}, Supplier: {{component.vendor}}, Cat: {{component.catalogNumber}}
                </p>
            </td>
            <td>
                <p class="read-message" >{{component.requiredQuantity}}</p>
            </td>
            <td>
                <p class="read-message"  >{{component.requiredUnit}}</p>
            </td>

          </ng-container>
        </tr>
        <tr>
          <td colspan="6" class="catforcomponent">
            <ngb-alert *ngIf="!finditem" (close)="finditem = true">
              <strong>If you did not find the item, please go to item inventory to add this new item!</strong>
            </ngb-alert>
          </td>
        </tr>
        <tr *ngIf="enableEdit">
          <td colspan="6" style="padding:0px;">
            <label type="button" class="btn btn-outline-primary new-ingre" (click)="addNewComponent()">
              <i class="fas fa-plus"></i> New Component
            </label>
          </td>
        </tr>
      </table>
    </div>


    <div class="form-group">
      <label>Referenced SOP(s)
        <button type="button"
                class="btn btn-outline-secondary help-tooltip"
                placement="top"
                ngbTooltip="List of Referenced SOPs">?</button>
      </label>
      <table class="table table-bordered">
        <tr>
          <th *ngIf="enableEdit" style="width:10%;"></th>
          <th style="width:35%;">
            <label>SOP Name
              <span class="star">*</span>
              <button type="button"
                      class="btn btn-outline-secondary help-tooltip"
                      placement="top"
                      ngbTooltip="SOP Name">?</button>
            </label>
          </th>
          <th style="width:15%;">Amount
            <span class="star">*</span>
          </th>
          <th style="width:15%;">Unit
            <span class="star">*</span>
          </th>
        </tr>
        <tr *ngFor="let sopLink of sop.sopLinks; let i = index">
          <ng-container *ngIf="enableEdit">
            <td>
              <label type="button" class="btn icon-btn" (click)="removeSopLink(i)">
                <i class="fas fa-times"></i>
              </label>
            </td>
            <td>
              <app-sop-search [currentSopName]="sopLink.referencedSop.name"
                                 (sopSelected)="setReferencedSop($event, i)">
              </app-sop-search>
            </td>


            <td>
              <input autocomplete="off"
                     type="text"
                     class="form-control input-sm"
                     [(ngModel)]="sopLink.requiredQuantity"
                     [ngModelOptions]="{standalone: true}">
            </td>

            <td>
              <select #sopLinkUnitval
                     (change)="setRequiredUnit(sopLink, sopLinkUnitval.value)"
                     class="form-control input-sm">
                <option [selected]="sopLink.requiredUnit == undefined || sopLink.requiredUnit == ''">Please Select</option>
                <option *ngFor="let u of unit"
                        [value]="u"
                        [selected]="sopLink.requiredUnit==u">
                        {{u}}
                </option>
              </select>
            </td>
          </ng-container>
          <ng-container *ngIf="!enableEdit">
            <td>
                <p class="read-message">
                   {{sopLink.referencedSop.name}}</p>
            </td>
            <td>
                <p class="read-message" >{{sopLink.requiredQuantity}}</p>
            </td>
            <td>
                <p class="read-message"  >{{sopLink.requiredUnit}}</p>
            </td>

          </ng-container>
        </tr>

        <tr *ngIf="enableEdit">
          <td colspan="6" style="padding:0px;">
            <label type="button" class="btn btn-outline-primary new-ingre" (click)="addNewSopLink()">
              <i class="fas fa-plus"></i>New Referenced SOP
            </label>
          </td>
        </tr>
      </table>
    </div>


    <div class="form-group">
      <label>Direction
        <span class="star">*</span>
        <button type="button"
                class="btn btn-outline-secondary help-tooltip"
                placement="top"
                ngbTooltip="Direction of the SOP">?</button>
      </label>
      <br>
      <textarea *ngIf="enableEdit"
                class="testarea"
                name="sopirection"
                rows="15"
                cols="123"
                [(ngModel)]="sop.direction"
                [ngModelOptions]="{standalone: true}">
              </textarea>
      <p class="read-message angular-with-newlines" *ngIf="!enableEdit">{{sop.direction}}</p>
    </div>


    <app-review *ngIf="!isNew"
                [enableEdit]="enableEdit"
                [status]="sop.editStatus"
                [user]="currentuser"
                [reviewComment]="sop.editStatusComment"
                [reviewedBy]="sop.reviewedBy"
                [canReview]="canReviewSops"
                (updateReview)="reviewUpdated($event)"></app-review>

    <ngb-alert *ngIf="!hideWarning" (close)="hideWarning=true">
      <ng-container *ngFor="let warning of inputWarning; let i = index">
        <p>
          <strong>{{warning}}</strong>
        </p>
      </ng-container>
    </ngb-alert>

    <app-attachment></app-attachment>

    <div class="submit-buttons">
      <button type="button" *ngIf="enableEdit" (click)="validateUserInput();">{{isNew?'Save':'Update'}}</button>
      <button type="button" (click)="cancelSop()">Close</button>
    </div>

  </form>
</div>
