<div class="row">
  <div class="col-md-4">
    <div class="card dashMiniCard bg-kinda-green" (click)="goTo('folders/requests')">
      <div class="card-header">
        Transfer<br/>Requests
      </div>
      <div class="card-body" style="padding-bottom: 10px !important;">
        <p class="dashMiniCardData">
          {{ transferRequests }}
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card dashMiniCard bg-kinda-blue" (click)="goTo('folders/requests')">
      <div class="card-header">
        Acknowledgement<br/>Pending
      </div>
      <div class="card-body" style="padding-bottom: 10px !important;">
        <p class="dashMiniCardData">
          {{ pendingAcknowledgements }}
        </p>
      </div>
    </div>
  <!-- </div>
  <div class="col-md-4">
    <div class="card dashMiniCard bg-kinda-pink">
      <div class="card-header">
        To-do<br/>Card
      </div>
      <div class="card-body" style="padding-bottom: 10px !important;">
        <p class="dashMiniCardData">
          -
        </p>
      </div>
    </div>
  </div> -->
</div>