.sop-header-container{
  margin-top: 2rem;
  width: 100%;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #17a2b8;
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;

  h1{
    color: white;
    margin: 0;
    text-align: start;
  }

  button{
    margin-left: 1rem;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    color: white;
    font-size: medium;
    background-color: #17a2b8;
  }
}


.sop-operation-container{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid #17a2b8;
  border-top: none;
  span{
    width: 80px;
    height: 100%;
    color: #17a2b8;
    white-space: nowrap;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-out 0.3s;

    &:hover{
      cursor: pointer;
      transition: all ease-in 0.3s;
      color: white;
      background-color: #17a2b8;
    }

  }
}

.table-container {
  height: 65%;
}

.search-area {
  margin: 0px 10px;
}

.sub-head {
  font-size: 12px;
  color: grey;
}

.angular-with-newlines {
  white-space: pre-wrap;
}

.red {
  color: deeppink;
}

.black {
  color: black;
}

// .sopname:hover {
//   background-color: lightgrey;
// }

.slide {
  position: fixed;
  z-index: 11;
  top: 0px;
  right: 0px;
  /* width: 100%; */
  height: 100%;
  transition: 1s right;
  -moz-transition: 1s right;
  -o-transition: 1s right;
  -webkit-transition: 1s right;
}

.edit-container {
  /* width: 100%; */
  height: 100%;
  position: absolute;
  right: 0px;
  background-color: white;
  border-left: 15px solid #28a745;
  padding: 10px 30px;
  box-shadow: -5px 0px 20px 0px #705757;
  overflow-y: auto;
}

.exit-container {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: transparent;
  border: none;
}

.table-scroll {
  height: 100%;
  display: block;
  margin: 0px;
  width: 100%;
}

.table-scroll > tbody {
  display: block;
  width: 100%;
  height: 85%;
  overflow-y: overlay;
}

.table-scroll > tbody > tr {
  width: 100%;
  table-layout: fixed;
  display: table;
}

.table-scroll > thead {
  display: inline-table;
  width: 100%;
  table-layout: fixed;
}

td {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sop-name{
  color: #007bff;
  }

.shadow-row{
  transition: all ease-in 0.3s;
  &:hover{
    transition: all ease-out 0.3s;
    cursor: pointer;
    background-color: lightgrey;
  }
}
