

<div class="fms-loader-main-container">
  <div id="container">
  <div class="divider" aria-hidden="true"></div>
    <div class="loading-text" aria-label="Loading">
      <span class="letter" aria-hidden="true">L</span>
      <span class="letter margin-left-13" aria-hidden="true">o</span>
      <span class="letter margin-left-13" aria-hidden="true">a</span>
      <span class="letter margin-left-13" aria-hidden="true">d</span>
      <span class="letter margin-left-13" aria-hidden="true">i</span>
      <span class="letter margin-left-13" aria-hidden="true">n</span>
      <span class="letter margin-left-13" aria-hidden="true">g</span>
    </div>
  </div>
</div>
