
.margin-top-70{ margin-top: 70px; }
.margin-bottom-15{ margin-bottom: 15px; }
.margin-left-1{ margin-left: 1px;  }
.margin-right-1{ margin-right: 1px;  }
.padding-left-35p{padding-left: 35%;}
.padding-left-40p{padding-left: 40%;}
.margin-right-15p { margin-right: 15% }
.margin-left-50{ margin-left: 50px;  }
.margin-left-10{ margin-left: 10px;  }
.margin-right-10 { margin-right: 10px; }
.margin-bottom-50{ margin-bottom: 50px; }
.margin-top-50{ margin-top: 50px; }
.select-width-50{ width: 50px; }
.select-width-80{ width: 80px; }
.select-border-color{ border-color: rgb(224, 224, 224) }
.display-block{display: block}
.display-block-200{display: block; width: 200px;}
hr{border-top: 0px; border-right: 0px; border-left: 0px; border-bottom: 2px solid rgb(63, 81, 177);}
.italic{font-style: italic;}
.width-150  { width: 150px; }
.width-300{ width: 300px; }
.width-400{ width: 400px; }
.width-500{ width: 500px; }
.width-35p { width: 35%; }
.width-65p { width: 65%; }
.heigth-40{ height: 40px; }
.border-radius-4{border-radius: 4px;}
.btn-container{
  background-color: rgb(240, 240,240);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

#text-btn{
  border: none;
  color: rgb(160, 161, 162)
}

#text-btn:hover{
  color: rgba(81, 82, 82, 1);
  cursor: pointer;
}

#text-btn:active{
  top: 3px;

}

.tab-animation{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  transition: font-size 200ms ease-out;
}

.tab-animation:hover{
  font-size: large;
}

/* Butto click animation */
.primary-btn-animation{
  transition: font-size 200ms ease-out
 }

 .warn-btn-animation{
   transition: font-size 200ms ease-out
 }

 .accent-btn-animation{
  transition: font-size 200ms ease-out
}

 .primary-btn-animation:hover {
   border: 2px #3f51b5 solid;
   background-color: white;
   color: #3f51b5;
   font-size: large;
 }

 .warn-btn-animation:hover {
   border: 2px #f44336 solid;
   background-color: white;
   color: #f44336;
   font-size: large;
 }

 .accent-btn-animation:hover {
  border: 2px rgb(253, 66, 129) solid;
  background-color: white;
  color: rgb(253, 66, 129);
  font-size: large;
}


.step-title-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.material-icons.complete { color: rgb(52, 207, 83); }
.material-icons.edit { color: rgb(253, 98, 93) }

.color-blue {
  color: #3f50b1;
}


/* input warning CSS */
.color-warn { color: #f44336 }

.warn-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.relative-top-right {
  position: relative;
  bottom: 35px;
  right: 16px;
}

.material-icons.md-36 { font-size: 36px; }

.unit-container{
  display: inline-flex;
  justify-content: center;
  align-items: center;
}


.skip-text{
  color:rgb(160, 161, 162);
  font-size: small;
}

.skip-text-nohover{
  color:rgb(160, 161, 162);
  font-size: small;
}

.skip-text:hover{
  color: rgba(81, 82, 82, 1);
  cursor: pointer;
}

.relative-bottom-20 {position: relative; bottom: 20px;}


.plate-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.relative-bottom-6 {
  position: relative;
  bottom: 6px;
}
