.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.warn { color: #f44336; }
.material-icons.white { color: white; }

.material-icons:hover{
  cursor: pointer;
}

.width-100p {width: 100%;}
.margin-left-5p {margin-left: 5%;}

.mat-sidenav-container{
  background-color: white;
  min-height: 400px;
  width: 100%;
}

.mat-sidenav-content{
  width: 100%;
  /* border: red 2px solid */
}



.uploadfilecontainer {
  background-image: url("../../../../../assets/eWorksheet/file-upload.png");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  /* height: 200px;
  width: 80%; */
  height: 200px;
  width: 100%;
  margin: 20px auto;
  border: 2px dashed dodgerblue;
  border-radius: 10px;
  /* transition: background-size 300ms ease; */
}

.uploadfilecontainer:hover {
  cursor: pointer;
  background-color: #9ecbec !important;
  opacity: 0.8;
  border: 2px solid #1C8ADB;
  /* background-size: 150px; */
}

.files-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 80%; */
  width: 100%;
  margin: 10px auto;
  background: #1c8adb;
  /* border: #1c8adb 1px dashed; */
  border-radius: 12px;
  padding: 5px 10px 5px 10px;
  color: white;
  /* color: #1c8adb; */
  /* color: black; */
}

.files-list:hover{
  cursor: pointer;
}

.files-list .delete-file {
  background: transparent;
  border: none;
  cursor: pointer;
}
.files-list .delete-file img{
  width:30px;
}

.btn-hover-effect:hover {

  background-color: rgb(245, 245, 245);
  border-radius: 5px;
}


/* side nav CSS */
.width-50p {width: 80%;}
.preview-window {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* list item CSS effect */

.file-name {
  position: absolute;
  margin-left: 2%;
  font-style: italic;
  font-weight: bold;
  font-size: 15px;
}

.btn-container{
  width: 5%;
  height: 100%;
  /* border: red 2px solid */

}

.file-list-border{
  border: 2px solid dodgerblue;
  border-radius: 10px;
  padding: 10px;
}

.list-item-container {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    margin: 0;
    width: 100%;
    margin-bottom: 15px;
}

.list-item-container:hover{
  cursor: pointer;
}


.list-item {
  display: inline-block;
  text-decoration: none;
  //--c: #1c8adb;
  --c: dodgerblue;
  color: var(--c);
  /* font-size: 16px; */
  /* border: 2px solid var(--c); */
  border-radius: 5px;
  width: 45%;
  height: 3em;
  /* height: 50px; */
  /* font-weight: bold;
  font-family: sans-serif; */
  letter-spacing: 0.1em;
  text-align: left;
  /* vertical-align: middle; */
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;

}

/* .list-item:hover{
  text-align: center;
} */


.list-item span {
  position: absolute;
  /* border: 2px red solid; */
  /* position: fixed; */
  width: 25%;
  /* height: 100%; */
  height: 50px;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.list-item:hover {
  color: black;
}

.list-item:hover span {
  transform: translateY(0) scale(2);
}

.list-item span:nth-child(1) {
  --n: 1;
}

.list-item span:nth-child(2) {
  --n: 2;
}

.list-item span:nth-child(3) {
  --n: 3;
}

.list-item span:nth-child(4) {
  --n: 4;
}




/* CSS for file review only */

.file-preview{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

  .image-display-container{
    display: flex;
      justify-content: center;
      align-items: center;
      overflow: scroll;
      width: 100%;
      height: 100%;
      // margin: 20px auto;
      margin-top: 20px;
      // border: 2px red solid;
  }

  .image-display-container .card {
      flex: 1;
      transition: all 1s ease-in-out;
      height: 75vmin;
      position: relative;
      border-radius: 10px;
      border: 1px dashed rgb(52, 207, 83, 0.75);
    }

  .image-display-container .card img{
          width: 100%;
          height: 100%;
          object-fit: contain;
          transition: all 1s ease-in-out;
          filter: grayscale(100%);

  }

  .image-display-container .card .pdf-container{
    overflow: scroll;
    width: 100%;
    height: 100%;
  }

  .image-display-container .card .pdf-container{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 1s ease-in-out;
    filter: grayscale(100%);

}


  .card {
        margin-right: 1em;
      }

  // .card:first-child {margin-left: 1em;}

  .image-display-container .card:hover {
        &:first-child {margin-left: 1em;}
        flex-grow: 10;
        border: 1px solid black;
        height: 70vmin;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);


        // border: 2px solid rgb(52, 207, 83);
        .card__head {
          text-align: center;
          top: calc(100% - 2em);
          color: white;
          background: rgba(0, 0, 0, 0.5);
          font-size: 2em;
          min-width: 100%;
          transform: rotate(0deg);
        }

        .card__head:hover{
          cursor: pointer;
          font-size: 3em;
          color: black;
          background-color: rgb(52, 207, 83);
        }
      }

  .image-display-container .card img:hover{
    filter: grayscale(0);
  }

  .image-display-container .card .pdf-container:hover{
    filter: grayscale(0);
  }


  .card__head {
        color: black;
        background-color: rgb(52, 207, 83, 0.75);
        padding: 0.5em;
        transform: rotate(-90deg);
        transform-origin: 0% 0%;
        transition: all 0.5s ease-in-out;
        // min-width: 100%;
        min-width: 55%;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 1em;
        white-space: nowrap;
        border-radius: 0px 0px 10px 10px;
      }



// CSS for toggle switch

// Tweak these to change the style of the toggle
$toggle-background-color-on: dodgerblue;
$toggle-background-color-off: darkgray;
$toggle-control-color: white;
$toggle-width: 60px;
$toggle-height: 30px;
$toggle-gutter: 5px;
$toggle-radius: 50%;
$toggle-control-speed: .15s;
$toggle-control-ease: ease-in;

// These are computed variables
$toggle-radius: $toggle-height / 2;
$toggle-control-size: $toggle-height - ($toggle-gutter * 2);

.toggle-control {
  // border: 2px green solid;
  display: block;
  position: relative;
  // padding-left: $toggle-width;
  // margin-bottom: 12px;
  height: 30px;
  width :60px;
  cursor: pointer;
  // font-size: 22px;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  input:checked ~ .control {
    background-color: $toggle-background-color-on;

    &:after {
      left: $toggle-width - $toggle-control-size - $toggle-gutter;
    }
  }

  .control {
    position: absolute;
    top: 0;
    left: 0;
    height: $toggle-height;
    width: $toggle-width;
    border-radius: $toggle-radius;
    // background-color: $toggle-background-color-off;
    background-color: rgb(52, 207, 83);
    transition: background-color $toggle-control-speed $toggle-control-ease;

    &:after {
      content: "";
      position: absolute;
      left: $toggle-gutter;
      top: $toggle-gutter;
      width: $toggle-control-size;
      height: $toggle-control-size;
      border-radius: $toggle-radius;
      background: $toggle-control-color;
      transition: left $toggle-control-speed $toggle-control-ease;
    }
  }
}



