<div class="tab-container">
  <h2>Kit Assembly</h2>
  <div>
    <b>Search Kit</b>
    &nbsp;
    <label for="activeCheckBox">Active Kit Only:</label>
    <input type="checkbox"
           [(ngModel)]="search.active"
           id="activeCheckBox" >
  </div>
  <div class="input-group">
    <span class="input-group-text" id="basic-addon1" (click)="page =1;searchKit();">
      <i class="fa fa-search" aria-hidden="true"></i>
    </span>

    <input autocomplete="off"
           type="text"
           class="form-control"
           placeholder="Search kit by catalog number or name"
           aria-describedby="basic-addon1"
           [(ngModel)]='search.searchValue'
           (keyup.enter)="searchKit()">
  </div>
  <div class="row control-box">
    <div ngbDropdown style="display: inline-block;">
      <button class="btn btn-default menu-btn" id="dropdownBasic1" ngbDropdownToggle>
        <i class="fa fa-list" aria-hidden="true"></i> Edit View</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button *ngFor="let mode of columnList; let i = index;" class="dropdown-item" (click)="toggleViewCol(i)">
          <input autocomplete="off" type="checkbox" [checked]="viewColumn[i]">{{mode}}</button>
      </div>
    </div>
    <button *ngIf="canManageKit" class="btn btn-default menu-btn" routerLink="/main/kits/new">
      <i class="fa fa-plus" aria-hidden="true"></i>
      New Kit
    </button>

  </div>
  <div class="table-container">
    <table class="table table-scroll">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th colspan="2" *ngIf="viewColumn[0]">Cat#</th>
          <th colspan="4" *ngIf="viewColumn[1]">Name</th>
          <th *ngIf="viewColumn[2]">Type</th>
          <th *ngIf="viewColumn[3]">Size</th>
          <th *ngIf="viewColumn[4]">Price(USD)</th>
          <th *ngIf="viewColumn[5]">Edit Status</th>
          <th colspan="2" *ngIf="viewColumn[6]">Description</th>
          <th *ngIf="viewColumn[7]">Client Specific</th>
          <th *ngIf="viewColumn[8]">Molecule (Innovator)</th>
          <th *ngIf="viewColumn[9]">Biosimilar</th>
          <th *ngIf="viewColumn[10]">Status</th>
          <th *ngIf="viewColumn[11]">Entered By</th>
          <th *ngIf="viewColumn[12]">Reviewed By</th>
          <th *ngIf="viewColumn[13]">Review Comment</th>
          <th *ngIf="viewColumn[16]">last Modify</th>
          <th *ngIf="viewColumn[17]">Comment</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let k of kits; let i=index" class="shadow-row" [routerLink]="['/main/kits', k.salesItemId]">
          <td>
             <button class="btn btn-default menu-btn"
                     (click)="openBuildKitModal(buildkit, k.salesItemId )">
              <i class="fas fa-box-open" aria-hidden="true"></i> Build Kit</button>
          </td>

          <td colspan="2" *ngIf="viewColumn[0]">{{k.catalogNumber}}</td>
          <td colspan="4" *ngIf="viewColumn[1]">
            <a class="kitname"> {{k.name}}</a>
          </td>
          <td *ngIf="viewColumn[2]">{{k.method}}</td>
          <td *ngIf="viewColumn[3]">{{k.packSize}}</td>
          <td *ngIf="viewColumn[4]">{{k.unitPrice}}</td>
          <td *ngIf="viewColumn[5]">{{k.editStatus}}</td>
          <td colspan="2" *ngIf="viewColumn[6]">{{k.description}}</td>
          <td *ngIf="viewColumn[7]">{{k.client}}</td>
          <td *ngIf="viewColumn[8]">{{k.molecular}}</td>
          <td *ngIf="viewColumn[9]">{{k.biosimilar}}</td>
          <td *ngIf="viewColumn[10]">{{k.status}}</td>
          <td *ngIf="viewColumn[11]">{{k.enteredBy}}</td>
          <td *ngIf="viewColumn[12]">{{k.reviewedBy}}</td>
          <td *ngIf="viewColumn[13]">{{k.editStatusComment}}</td>
          <td *ngIf="viewColumn[16]">{{k.modifiedOn | date: dateFormatDisplay}}</td>
          <td *ngIf="viewColumn[17]">{{k.comment}}</td>
        </tr>
        <tr *ngIf="kits == undefined || kits.length < 1">
          <td class="empty" [attr.colspan]="colCount">Empty</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="kitCount>10">
    <p class="page-note"
       [style.text-align]="'center'">
       Kit {{((page-1)*10)+1}} - {{page*10>kitCount?kitCount:page*10}} of {{kitCount}} Kit(s)
    </p>
    <ngb-pagination class="d-flex justify-content-center" [collectionSize]="kitCount" [(page)]="page" [rotate]="true"
      [boundaryLinks]="true" [maxSize]="5" aria-label="Default pagination" (pageChange)="loadPage()"></ngb-pagination>
  </div>


  <div *ngIf="isLoading" class="loading-screen">
    <img class="loading-img" src="../../../assets/images/loading.gif" alt="Loading...">
  </div>
</div>


<app-kit-display
  [kit]="displayKit"
  [isNew]="isNewKit"
  [close]="closeKitDisplay"
  (saveKit)="saveKit($event)"

></app-kit-display>

<ng-template #buildkit let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">Build Kit</h4>
    <br>
    <button type="button" class="close" aria-label="Close" (click)="c('')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>Kit Catalog Number</label>
        <p>{{buildKit.catalogNumber}}</p>
      </div>
      <button class="btn btn-success" (click)="buildThisKit();">Build this Kit</button>
    </form>
    <br>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="c('')">Close</button>
  </div>
</ng-template>
