.table-container{
    height: 65%;
}

.td{
    position:center;
}

.red {
    background-color: deeppink;
}

.black {
    background-color: white;
}

.form-group{
    max-width: 100%;
}

.checkbox{
    text-align: center;
    vertical-align: middle;
}

.checkall{
    position: fixed;
    right:5%;
}

.recipeid:hover {
    background-color: lightgrey;
  }

// .kitname:hover{
// background-color: lightgrey;
// }
.kitname{
  color: #007bff;
  }

.shadow-row{
  transition: all ease-in 0.3s;
  &:hover{
    transition: all ease-out 0.3s;
    cursor: pointer;
    background-color: lightgrey;
  }
}

.exit-container{
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: transparent;
  border: none;

}


.table-scroll{
  height: 90%;
  display: block;
  margin: 0px;
  width: 100%;
}

.table-scroll>tbody{
  display: block;
  width: 100%;
  height: 85%;
  overflow-y: overlay;
}

.table-scroll>tbody>tr{
  width: 100%;
  table-layout: fixed;
  display: table;
}

.table-scroll>thead{
  display: inline-table;
  width: 100%;
  table-layout: fixed;
}

.search-area{
    margin:0px 10px;
}

.table{
    border:1px, solid, lightblue;
}

li > * {
    vertical-align: top;
    display: inline-block;
    margin-bottom: 10px;
}

/* .paragraph{
    border-bottom:1px dotted grey;
} */


