<div class="tab-container" >
  <p *ngIf="permissionsSaved">
    <ngb-alert type="success" (close)="permissionsSaved=false">
      User permissions saved. If you made changes to your own permissions, they'll be enforced the next time you log in.
    </ngb-alert>
  </p>

  <div class="user-history-searchbar-container">
    <div class="search-icon-container" (click)="search(searchField.value)">
      <i class="fa fa-search" aria-hidden="true"></i>
    </div>

    <input type="text" #searchField (keyup.enter)="search(searchField.value)" placeholder="Search by user name or email">
    <div class="days-menu">
      <button mat-button [matMenuTriggerFor]="menu">
        Operations
        <span class="material-icons">
        arrow_drop_down
        </span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="addNewUser()">Add New User</button>
        <button mat-menu-item (click)="openPermissionsModal(permissions)">Manage User Permissions</button>
      </mat-menu>
    </div>

  </div>

  <div *ngIf="dataSource.length === 0" class="user-history-no-result">
    <strong>No Results</strong>
  </div>

  <table *ngIf="dataSource.length > 0" mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="user-history-table">


    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element" (click)="loadUser(element.userId)">
        <span class="desc-span">{{element.name}}</span>
      </td>
    </ng-container>

    <!--Role(s) Column -->
    <ng-container matColumnDef="roles">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Role(s) </th>
      <td mat-cell *matCellDef="let element">
        <span *ngFor="let role of element.roles">{{role}}</span>
      </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Invalid Login Column -->
    <ng-container matColumnDef="invalidLogin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Invalid Logins </th>
      <td mat-cell *matCellDef="let element"> {{element.invalidLogin}} </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status?'Active':'Inactive'}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="item-animation"></tr>
  </table>

  <div *ngIf="isLoading" class="loading-screen">
    <img class="loading-img" src="../../../assets/images/loading.gif" alt="Loading...">
  </div>

  <div [style.right]="shouldDisplayUser?0+'px':-100+'%'" class="slide">
    <div class="edit-container">

      <h4>
        {{isNewUser?'New User':selectedUser?.name}}
        <small *ngIf="!isNewUser && canManageUsers">
          <button class="btn-icon" (click)="editingEnabled=true">
            <i class="fas fa-pen-square"></i>
          </button>
        </small>
        <br>
        <small *ngIf="message" class="sub-head" style="color:salmon;">{{message}}</small>
      </h4>
      <app-user-display [user]="selectedUser"
                        [enableEdit]="editingEnabled"
                        [isNew]="isNewUser"
                        (updateUser)="saveUser($event)"
                        (resetPassword)="resetPassword($event)"
                        (cancel)="reset()"></app-user-display>
    </div>
  </div>




  <div class="history-search-btn-container">
    <div class="roller-btn" (click)="previousPage()">
      <span class="material-icons md-18 arrow-left">
        keyboard_arrow_left
      </span>
      <span>Previous Page</span>
    </div>

    <div class="roller-btn margin-left-30p" (click)="nextPage()">
      <span>Next Page</span>
      <span class="material-icons md-18 arrow-right">
        keyboard_arrow_right
      </span>
    </div>
  </div>
</div>

<ng-template #permissions let-e="close" class="modal-lg">
  <div class="modal-header">
    <h4 class="modal-title">Manage User Permissions</h4>
    <button type="button" class="close" aria-label="Close" (click)="e('');closePermissionsModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ngb-alert *ngIf="noUserManagementPermission" type="danger" (close)="noUserManagementPermission=false">
      <strong>Warning!</strong> You should allow at least one type of user to manage user permissions.
    </ngb-alert>
    <table class="table table-striped table-sm" style="text-align: center">
      <thead>
      <tr>
        <th></th>
        <ng-container *ngFor="let roleName of roleNames; index as i">
          <th scope="col">{{roleName}}</th>
        </ng-container>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let operation of operationNames; let i = index">
        <th scope="row">{{operation.name}}</th>
        <ng-container *ngFor="let roleName of roleNames; let j = index">
          <td style="vertical-align: middle">
            <label>
              <input type="checkbox"
                     [checked]="hasOperation(roleName, operation.name)"
                     (change)="updatePrivilege(roleName, operation.name, operation.id)"
              >
            </label>
          </td>
        </ng-container>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="savePermissions()">
      Save
    </button>
  </div>
</ng-template>



