.mat-row:nth-child(even){
  background-color:rgb(240, 240, 240);
  }
.user-history-table{
  width: 100%;
  height: 80%
}

.history-search-btn-container{
  width: 100%;
  height:60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roller-btn{
  height: 30px;
  width: fit-content;
  margin-top: 1rem;
  /* margin: 10px 60px 10px 60px; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(23, 162, 184, .5);

  &:hover{
    cursor: pointer;
    color: rgba(23, 162, 184, 1);
    .arrow-left{
      transform: translatex(-8px);
      transition: transform ease-out  .3s;
    }

    .arrow-right{
      transform: translatex(8px);
      transition: transform ease-out  .3s;
    }
  }
}

.arrow-left{
  transition: all ease-in .3s;
}

.arrow-right{
  transition: all ease-in .3s;
}

.mat-row.item-animation{
  transition: all 300ms ease-out;
}

.mat-row.item-animation:hover {
  background-color: rgb(30, 99, 201, 0.3);
}

.material-icons.md-18 { font-size: 18px; }
.margin-left-30p { margin-left: 30%; }
.desc-span:hover{
  transition: all ease-out .3s;
  border-radius: 1rem;
  background-color: orange;
  color:white;
  cursor: pointer;
  padding: 0.5rem;
}

.desc-span{
  transition: all ease-in .3s;
  color:rgba(23, 162, 184, 1);
}

.desc-span:active{
  transition: all ease-in .3s;
  padding: 0.25rem
}

.user-history-searchbar-container{
  width: 100%;
  height: 60px;
  // border: red 2px solid;

  display: flex;
  justify-content: center;
  align-items: center;
  input{
    width: 200px;
    border-radius: 0 1rem 1rem 0;
    height: 50%;
    min-height: 30px;
    outline: none;
    border: #17a2b8 2px solid;
    padding: 0.5rem;
    transition: all ease-in .3s;
  }

  input:focus{
    transition: all ease-out .3s;
    width: 300px;
  }

  .search-icon-container{
    width:50px;
    border-radius: 1rem 0 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: black 2px solid;
    height: 50%;
    min-height: 30px;
    border-right: none;
    transition: all ease-in .2s;
    background-color: #17a2b8;
    color: white;
    &:hover{
      cursor: pointer;
    }
  }

  .search-icon-container:active{
    transform: translatey(2px);
    transition: transform ease-out  .2s;
  }
}

.days-menu{
  width: fit-content;

  button{
    outline: none;
  }
}

.user-history-no-result{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 1rem;
}

button:focus{
  outline: none;
}





// Slide panel styling
.slide{
  position: fixed;
  z-index: 11;
  top: 0px;
  right: 0px;
  height: 100%;
  transition: 1s right;
  -moz-transition:1s right;
  -o-transition:1s right;
  -webkit-transition:1s right;
}

.edit-container{
  height: 100%;
  position: absolute;
  right: 0px;
  background-color: white;
  border-left: 15px solid #28a745;
  padding: 10px 30px;
  box-shadow: -5px 0px 20px 0px #705757;
  overflow-y: auto;
}
