<div class="fmc-panel">
  <!-- <mat-card class="card"> -->
    <file-explorer
    [fileElements]="fileElements | async"
    [superFileElements]="superFileElements | async"
    [path]="currentPath"
    [canNavigateUp]="canNavigateUp"
    (folderAdded)="addFolder($event)"
    (fileUploaded)="uploadFile($event)"
    (fileDownload)="downloadFile($event)"
    (elementRemoved)="removeElement($event)"
    (navigatedDown)="navigateToFolder($event)"
    (navigatedUp)="navigateUp($event)"
    (navigateQuick)="navQuick($event)"
    (elementRenamed)="renameElement($event)"
    (elementMoved)="moveElement($event)"
    (fileSearch)="searchFile($event)">
    </file-explorer>
  <!-- </mat-card> -->
</div>
