.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #17a2b8;
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;
  margin-bottom: 20px;
}

.header-title {
  width: 80%;
}

h1{
  color: white;
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
}

button{
  margin-left: 1rem;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  color: white;
  font-size: medium;
  background-color: #17a2b8;
}