$blue: #4285f4;
.new-folder-dialog-container{
  width: 500px;
  height: 260px;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  // border: 2px red solid;

  .new-folder-dialog-header-container{
    // border: blue 2px solid;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    span{
      font-size: xx-large;
    }
  }

  .new-folder-dialog-input-container{
    // border: orange 2px solid;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    input{
      font-size: large;
      width: 100%;
      height: 50px;
      border-radius: 1rem;
      padding: 1rem;
      border: 1px $blue solid;
      -webkit-box-shadow: inset 0px 0px 5px 0px rgba(66,133,244,0.5);
      -moz-box-shadow: inset 0px 0px 5px 0px rgba(66,133,244,0.5);
      box-shadow: inset 0px 0px 5px 0px rgba(66,133,244,0.5);
    }
    ::placeholder{
      opacity: 0.5;
      color: $blue;
    }

    input:focus{
      outline: none;
    }
  }

  .new-folder-dialog-btn-container{
    // border: purple 2px solid;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button{
      width: 100px;
      height: 100%;
      border-radius: 1rem;
      margin-left: 30px;
      font-size: larger;
      font-weight: 500;
      border: none;
      outline: none;
      transition: all ease-in 0.3s;

      &:hover{
        cursor: pointer;
        transition: all ease-out 0.3s;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
      }
    }

    .new-folder-dialog-btn-cancel{
      background-color: white;
    }

    .new-folder-dialog-btn-ok{
      background-color: $blue;
      color: white;
    }
  }
}
