
<div class="new-folder-dialog-container">
  <div class="new-folder-dialog-header-container">
    <span>New Folder</span>
  </div>

  <div class="new-folder-dialog-input-container">
    <input type="text" placeholder="Folder Name" [(ngModel)]="folderName" (keyup.enter)="fms_new_folder_btn_ok.click()">
  </div>

  <div class="new-folder-dialog-btn-container">
    <button mat-dialog-close class="new-folder-dialog-btn-cancel">CANCEL</button>
    <button #fms_new_folder_btn_ok [mat-dialog-close]="folderName" class="new-folder-dialog-btn-ok">CREATE</button>
  </div>
</div>
