<div *ngIf="displayOrderItem" style="min-width:500px;">

  <!-- form for editing data follows -->
  <table class="table table-bordered table-fix" style="width:100%;" *ngIf="editingEnabled">
      <tr style="width:100%;">
        <td>
          <table style="width:100%;">
            <tr>
              <td style="width:20%;">
                <table class="table table-borderless" >
                  <tr>
                    <td>
                      <label>Name<span class="star">*</span></label>
                      <app-item-search *ngIf="!itemNotInInventory"
                                      [currentItemName]="displayOrderItem.name"
                                      (itemSelected)="setSelectedItem($event)">
                      </app-item-search>
                      <input *ngIf="itemNotInInventory"
                              type="text"
                              class="form-control"
                              [(ngModel)]="displayOrderItem.name"
                              name="orderItemName">
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label>Item not in inventory</label>
                      <br>
                      <input type="checkbox"
                      (change)="itemNotInInventory = !itemNotInInventory"
                      [checked]="itemNotInInventory">
                    </td>
                  </tr>
                </table>
              </td>
              <td style="width:20%;">
                <label>Manufacturer Catalog #<span class="star">*</span></label>
                <input type="text"
                       class="form-control"
                       [(ngModel)]="displayOrderItem.catalogNumber"
                       name="orderItemCatalogNumber">

              </td>
              <td style="width:20%;">
                <label>Supplier Catalog #</label>
                <input type="text"
                       class="form-control"
                       [(ngModel)]="displayOrderItem.supplierCatalogNumber"
                       name="orderItemSupplierCatalogNumber">
              </td>
              <td style="width:20%;">
                <label>Supplier</label>

                <app-item-source-search
                  type="Supplier"
                  [selected]="displayOrderItem.supplier"
                  (sourceSelected)="selectSupplier($event)" >
                </app-item-source-search>
                <!-- <input type="text"
                       class="form-control"
                       [(ngModel)]="displayOrderItem.supplier"
                       name="orderItemSupplier"> -->

              </td>
              <td style="width:20%;">
                <label>Manufacturer</label>
                <app-item-source-search
                  type="Manufacturer"
                  [selected]="displayOrderItem.manufacturer"
                  (sourceSelected)="selectManufacturer($event)" >
                </app-item-source-search>
                <!-- <input type="text"
                       class="form-control"
                       [(ngModel)]="displayOrderItem.manufacturer"
                       name="orderItemManufacturer"> -->
              </td>
            </tr>

            <tr>
              <td style="width:20%;">
                <label>Amount/Quantity<span class="star">*</span></label>
                <input type="number"
                       min="0"
                       class="form-control"
                       [(ngModel)]="displayOrderItem.amount"
                       name="orderAmount">
              </td>
              <td style="width:20%;">
                <label>Unit Size<span class="star">*</span></label>
                <input class="form-control"
                       type="number"
                       [(ngModel)]="displayOrderItem.containerSize"
                       name="orderItemContainerSize" />
              </td>
              <td style="width:20%;">
                <label>Unit<span class="star">*</span></label>
                <select class="form-control" [(ngModel)]="displayOrderItem.unit">
                  <option *ngFor="let u of unit"
                          [value]="u"
                          [selected]="displayOrderItem.unit == u">{{u}}</option>
                </select>
              </td>
              <td style="width:20%;">
                <label>Unit Price</label>
                <div class="input-group input-group-sm mb-3">
                  <select class="input-group-prepend form-control"
                    style="flex: 2; height: 35px;"
                    #ptype
                    (change)="displayOrderItem.currency = ptype.value">
                    <option *ngFor="let currency of currencyOptions"
                      [value]="currency"
                      [selected]="displayOrderItem.currency == currency">
                      {{currency}}
                    </option>
                  </select>
                  <input type="number"
                    style="flex: 5;"
                    min="0"
                    class="form-control"
                    [(ngModel)]="displayOrderItem.unitPrice"
                    name="unitPrice">
                </div>
              </td>
              <td style="width:20%;">
                <label>Project Number<span class="star">*</span></label>
                <select class="form-control"
                        [(ngModel)]="displayOrderItem.project">
                  <option *ngFor="let p of projectNumbers"
                          [value]="p"
                          [selected]="displayOrderItem.project== p">
                    {{p}}
                  </option>
                </select>
              </td>
            </tr>

            <tr>
              <td style="width:20%;">
                <label>Item Category</label>
                <select class="form-control"
                        [(ngModel)]="displayOrderItem.category">
                  <option *ngFor="let category of itemCategories"
                          [value]="category"
                          [selected]="displayOrderItem.category == category">
                    {{category}}
                  </option>
                </select>
              </td>
              <td style="width:20%;">
                <label>Item Type<span class="star">*</span></label>
                <select  class="form-control"
                         (change)="onItemTypeChange()"
                         [(ngModel)]="displayOrderItem.type">
                  <option *ngFor="let itemType of itemTypes"
                          [value]="itemType"
                          [selected]="displayOrderItem.type == itemType">
                    {{itemType}}
                  </option>
                </select>
              </td>

              <td style="width:20%;">
                <label>Item Sub Type</label>
                <select  class="form-control"
                         [(ngModel)]="displayOrderItem.subtype">
                  <option *ngFor="let itemSubType of itemSubTypes"
                          [value]="itemSubType"
                          [selected]="displayOrderItem.subtype == itemSubType">
                    {{itemSubType}}
                  </option>
                </select>
              </td>

              <td colspan='2'>
                <div *ngIf="displayOrderItem?.status==ORDER_STATUS.ORDERED">
                  <label>ETA</label>
                  <my-date-picker class="form-control"
                                  id="eta"
                                  name="eta"
                                  [options]="etaOptions"
                                  [(ngModel)]="eta"
                                  (dateChanged)="changeETA($event, displayOrderItem)">
                  </my-date-picker>
                </div>
              </td>

            </tr>

            <!-- only show for existing items -->
            <tr *ngIf="displayOrderItem?.orderItemId != -1">
              <td style="width:20%;">
                <label>Request Person</label>
                <p class="read-only-input">{{displayOrderItem?.requestUser?.name}}</p>
              </td>
              <td style="width:20%;">
                <div>
                  <label>Requested Time</label>
                  <div class="read-only-input">{{displayOrderItem?.requestTime |date: dateFormatDisplay}}</div>
                </div>
              </td>
              <td style="width:20%;">
                <div>
                  <label>Approved Time</label>
                  <div class="read-only-input">{{displayOrderItem?.approveTime|date: dateFormatDisplay}}</div>
                </div>
              </td>
              <td style="width:20%;">
                <div>
                  <label>Ordered Time</label>
                  <div class="read-only-input">{{displayOrderItem?.orderTime|date: dateFormatDisplay}}</div>
                </div>
              </td>
              <td style="width:20%;">
                <div>
                  <label>Received Time</label>
                  <div class="read-only-input">{{displayOrderItem?.receiveTime|date: dateFormatDisplay}}</div>
                </div>
              </td>
            </tr>

            <tr>
              <td style="width:20%;">
                <label>Status</label>
                <p class="read-only-input">{{displayOrderItem?.status}}</p>
              </td>
              <td style="width:20%;">
                <label>Status Reason</label>
                <p class="read-only-input">{{displayOrderItem?.statusReason}}</p>
              </td>

              <td style="width:20%;">
                <label>Urgent</label>
                <br>
                <input style="background-color:red;"
                       type="checkbox"
                       [(ngModel)]="displayOrderItem.urgent">
              </td>
              <td style="width:20%;">
                <label>Reserved</label>
                <br>
                <input style="background-color:red;"
                       type="checkbox"
                       [checked]="reserveCheck"
                       (change)="changeReserveStatus()">
              </td>
              <td style="width:20%;">
                  <label>Reserve for Client</label>
                  <app-simple-client-search *ngIf="reserveCheck"
                                            [currentClient]="displayOrderItem?.reserveForClient ? displayOrderItem.reserveForClient : null"
                                            (clientSelected)="selectClientForOrder($event)" >
                  </app-simple-client-search>
              </td>



            </tr>

            <tr>
              <td colspan='5'>
                <label>Comment</label>
                <textarea class="form-control"
                          [(ngModel)]="displayOrderItem.comment">
                </textarea>
              </td>
            </tr>
          </table>
        </td>
      </tr>
  </table>



  <!-- Display of Data only -->
  <table class="table table-bordered table-fix" *ngIf="!editingEnabled" style="width:100%;">
      <tr style="width:100%;">

        <table style="width:100%;">
          <tr>
            <td style="width:20%;">
              <div>
                <label>Name<span class="star">*</span></label>
                <p class="read-only-input">{{displayOrderItem?.name}}</p>
              </div>
            </td>
            <td style="width:20%;">
              <label>Manfacturer Catalog #<span class="star">*</span></label>
              <p class="read-only-input">{{displayOrderItem?.catalogNumber}}</p>
            </td>
            <td style="width:20%;">
              <label>Supplier Catalog #</label>
              <p class="read-only-input">{{displayOrderItem?.supplierCatalogNumber}}</p>
            </td>
            <td style="width:20%;">
              <label>Supplier</label>
              <p class="read-only-input">{{displayOrderItem?.supplier}}</p>
            </td>
            <td style="width:20%;">
              <label>Manufacturer</label>
              <p class="read-only-input">{{displayOrderItem?.manufacturer}}</p>
            </td>

          </tr>

          <tr>
            <td style="width:20%;">
              <label>Amount/Quantity<span class="star">*</span></label>
              <p class="read-only-input">{{displayOrderItem?.amount}}</p>
            </td>
            <td style="width:20%;">
              <label>Unit Size<span class="star">*</span></label>
              <p class="read-only-input">{{displayOrderItem?.containerSize}}</p>
            </td>
            <td style="width:20%;">
              <label>Unit<span class="star">*</span></label>
              <p class="read-only-input">{{displayOrderItem?.unit}}</p>
            </td>
            <td style="width:20%;">
              <label>Unit Price</label>
              <p class="read-only-input">{{displayOrderItem?.unitPrice}} {{ getCurrency(displayOrderItem) }}</p>
            </td>
            <td style="width:20%;">
              <label>Project Number<span class="star">*</span></label>
              <p class="read-only-input">{{displayOrderItem?.project}}</p>
            </td>

          </tr>
          <tr>
            <td style="width:20%;">
              <label>Item Category</label>
              <p class="read-only-input">{{displayOrderItem?.category}}</p>
            </td>
            <td style="width:20%;">
              <label>Item Type<span class="star">*</span></label>
              <p class="read-only-input">{{displayOrderItem?.type}}</p>
            </td>

            <td style="width:20%;">
              <label>Item SubType</label>
              <p class="read-only-input">{{displayOrderItem?.subtype}}</p>
            </td>

            <td colspan='2'>
              <div *ngIf="(displayOrderItem.status==ORDER_STATUS.ORDERED || displayOrderItem.status==ORDER_STATUS.RECEIVED ) ">
                <label>ETA</label>
                <div class="read-only-input">{{displayOrderItem?.eta|date: dateFormatDisplay}}</div>
              </div>
            </td>

          </tr>

          <!-- only display for existing orders -->
          <tr *ngIf="displayOrderItem?.orderItemId != -1">
            <td style="width:20%;">
              <label>Request Person</label>
              <div *ngIf="displayOrderItem.requestUser">
                <p class="read-only-input">{{displayOrderItem?.requestUser?.name}}</p>
              </div>
            </td>
            <td style="width:20%;">
              <div>
                <label>Requested Time</label>
                <div class="read-only-input">{{displayOrderItem?.requestTime|date: dateFormatDisplay}}</div>
              </div>
            </td>
            <td style="width:20%;">
              <div>
                <label>Approved Time</label>
                <div class="read-only-input">{{displayOrderItem?.approveTime|date: dateFormatDisplay}}</div>
              </div>
            </td>
            <td style="width:20%;">
              <div>
                <label>Ordered Time</label>
                <div class="read-only-input">{{displayOrderItem?.orderTime|date: dateFormatDisplay}}</div>
              </div>
            </td>
            <td style="width:20%;">
              <div>
                <label>Received Time</label>
                <div class="read-only-input">{{displayOrderItem?.receiveTime|date: dateFormatDisplay}}</div>
              </div>
            </td>
          </tr>

          <tr >
            <td style="width:20%;">
              <label>Status</label>
              <p class="read-only-input">{{displayOrderItem?.status}}</p>
            </td>
            <td style="width:20%;">
              <label>Status Reason</label>
              <p class="read-only-input">{{displayOrderItem?.statusReason}}</p>
            </td>

            <td style="width:20%;">
              <label>Is Urgent</label>
              <div class="read-only-input" *ngIf="displayOrderItem?.urgent"><b style="color:red;">Urgent</b></div>
              <div class="read-only-input" *ngIf="!displayOrderItem?.urgent">Not Urgent</div>
            </td>
            <td style="width:20%;">
              <label>Is Reserved</label>
              <div class="read-only-input" *ngIf="displayOrderItem?.reserveForClient"><b style="color:red;">Reserved</b></div>
              <div class="read-only-input" *ngIf="!displayOrderItem?.reserveForClient">Not Reserved</div>
            </td>

            <td style="width:20%;">
              <label>Reserve for Client</label>
              <div *ngIf="displayOrderItem?.reserveForClient">
                <p class="read-only-input">{{displayOrderItem?.reserveForClient?.companyName}}</p>
              </div>
            </td>


          </tr>


          <tr>

            <td colspan='5'>
              <label>Comment</label>
              <div class="read-only-textarea" style="font-size:12px;"><pre>{{displayOrderItem?.comment}}</pre></div>
            </td>
          </tr>
        </table>

      </tr>

  </table>

  <ngb-alert *ngIf="inputWarning.length > 0" (close)="inputWarning=[]">
    <ng-container *ngFor="let warning of inputWarning; let i = index">
      <p>
        <strong>{{warning}}</strong>
      </p>
    </ng-container>
  </ngb-alert>

  <div class="form-group submit-buttons" style="float:right;">
    <button class="btn btn-primary" *ngIf="editingEnabled" (click)="save()">Save</button>
    <button class="btn btn-primary" (click)="cancelUpdate()">Close</button>
  </div>




</div>
