
/* Expansion Panel CSS */
.italic{font-style: italic;}
.color-blue {
  color: #3f50b1;
}
.color-gray { color: rgb(160, 161, 162) }
.z-index-10 {z-index: 10;}
.z-index-20 {z-index: 20;}
.z-index-30 {z-index: 30;}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-30 { font-size: 30px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-54 { font-size: 54px; }
.heigth-40{ height: 40px; }
.margin-top-50{ margin-top: 50px; }
.margin-bottom-50 { margin-bottom: 50px; }
.btn-size-100 {width: 100px;}
.btn-size-150 {width: 150px;}
.btn-size-200 {width: 200px;}
.btn-margin-top-20 {margin-top: 20px;}

.margin-left-10 { margin-left: 10px; }
.margin-bottom-10 { margin-bottom: 10px; }

.buttonContainer {
  /* border: 5px blue solid; */
  display: flex;
  justify-content: space-around;
}

.btn-icon {
  margin-left: 5px;
}

.notification{
  background-color: red;
  text-align: center;
  color: white
}

/* mat-card{
  margin:50px 100px 50px 100px;
} */
mat-card{
  margin:25px 50px 25px 50px;
}

mat-expansion-panel { margin:25px 50px 25px 50px; }

.btn-container{
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

/* Butto click animation */
.primary-btn-animation{
  transition: font-size 200ms ease-out
 }

 .warn-btn-animation{
   transition: font-size 200ms ease-out
 }

 .accent-btn-animation{
  transition: font-size 200ms ease-out
}

 .primary-btn-animation:hover {
   border: 2px #3f51b5 solid;
   background-color: white;
   color: #3f51b5;
   font-size: large;
 }

 .warn-btn-animation:hover {
   border: 2px #f44336 solid;
   background-color: white;
   color: #f44336;
   font-size: large;
 }

 .accent-btn-animation:hover {
  border: 2px rgb(253, 66, 129) solid;
  background-color: white;
  color: rgb(253, 66, 129);
  font-size: large;
}

/* CSS for tab switch animation */
.tab-animation{
  display: flex;
  align-items: center;
  transition: font-size 200ms ease-out;
}

.tab-animation:hover{
  font-size: large;
}



.material-icons.complete { color: rgb(52, 207, 83); }
.material-icons.edit { color: rgb(253, 98, 93) }

.info-input-container{
  width: 20%;
  height: 100%;
  /* border: orange 2px solid; */
}

.info-img{
  opacity: 0.3;
  /* width: 900px;
  height: 330px; */
  width: 90%;
  height: 100%;
  /* border: orange 2px solid; */
  margin-left: 5%;
}

.info-container{
  width: 100%;
  height: 100%;
  /* border: blue 2px solid; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.panel-title-container{
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

mat-panel-title strong { font-size: large; }


/* side nav CSS */

.nav-icon-border {
  border: rgb(145, 164, 173) 2px solid;
  border-radius: 10px;

}

.content-container{
  /* width: 96%;
  position: relative;
  left: 3%; */
  margin-right: 10px;
  padding-left: 1%;
  margin-left: 60px;
}

.icon-color { color: rgb(145, 164, 173) }

.item-container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__cont {
  position: fixed;
  width: 60px;
  min-width: 60px;
  height: 100%;
  z-index: 100;
  background-color: #202020;
  overflow:hidden;
  transition:width .3s ease;
  cursor:pointer;
  box-shadow:4px 7px 10px rgba(0,0,0,.4);
  opacity: 0.8;
  padding-left: 12px;
  border-radius: 0px 5px 5px 0px;
}

.nav__cont:hover{
  width:250px;
  opacity: 1;
}

.nav {
  list-style-type: none;
  color:white;
}

.nav:first-child {
    margin-top:1.5rem;
  }

.nav__items {
  padding-bottom:4rem;
  font-family: 'roboto';
}

.nav__items:hover a:after {
    opacity:1;
  }

.nav__items a {
    position: relative;
    display:block;
    padding-left:25px;
    padding-right:15px;
    transition:all .3s ease;
    margin-left:25px;
    margin-right:10px;
    text-decoration: none;
    color:white;
    font-family: 'roboto';
    font-weight: 100;
    font-size: 1.35em;

  width: 200px
  }

.nav__items a:after {
       content:'';
       width: 100%;
       height: 100%;
       position: absolute;
       top:0;
       left:0;
       border-radius:2px;
       background:radial-gradient(circle at 94.02% 88.03%, #54a4ff, transparent 100%);
       opacity:0;
       transition:all .5s ease;
       z-index: -10;
     }

/* body {
  height: 100vh;
  background: radial-gradient(circle at 94.02% 88.03%, #54a4ff, transparent 100%),radial-gradient(circle at 25.99% 27.79%, #ff94fb, transparent 100%),radial-gradient(circle at 50% 50%, #000000, #000000 100%);
}

h1 {
  margin-top: 6rem;
  margin-left:80px;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 4rem;
  text-transform:uppercase;
  color:white;
  letter-spacing:6px;
  text-shadow:10px 10px 10px rgba(0,0,0,.3);
} */

.platemap-counter{
  border-radius: 50px;
  color:white;
  background-color: rgb(52, 207, 83);
  height: 22px;
  min-width: 22px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* font-size:
  font-weight: bold; */
}

.loader-container{
  position: absolute;
  width: calc(100% - 90px);
  height: calc(100% - 120px);
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

.loader {
  animation:spin 1s infinite linear;
  border:solid 2vmin transparent;
  border-radius:50%;
  border-right-color:#09f;
  border-top-color:#09f;
  box-sizing:border-box;
  height:20vmin;
  left:calc(50% - 10vmin);
  position:fixed;
  top:calc(50% - 10vmin);
  width:20vmin;
  z-index:11;

  &:before {
    animation:spin 2s infinite linear;
    border:solid 2vmin transparent;
    border-radius:50%;
    border-right-color:#3cf;
    border-top-color:#3cf;
    box-sizing:border-box;
    content:"";
    height:16vmin;
    left:0;
    position:absolute;
    top:0;
    width:16vmin;
  }
  &:after {
    animation:spin 3s infinite linear;
    border:solid 2vmin transparent;
    border-radius:50%;
    border-right-color:#6ff;
    border-top-color:#6ff;
    box-sizing:border-box;
    content:"";
    height:12vmin;
    left:2vmin;
    position:absolute;
    top:2vmin;
    width:12vmin;
  }
}

@keyframes spin {
  100% {
    transform:rotate(360deg);
  }
}
