<div [style.right]="kit ? 0 : '-100%'" class="slide">

    <div class="edit-container">
      <h2>
        <div class="kit-header-container" style="text-align:right;">
          <h1>{{ isNew ? 'New Kit' : kit?.name }}</h1>
          <button (click)="close()"><i class="fas fa-times"></i></button>
        </div>

        <div class="kit-operation-container" *ngIf="!isNew">
          <span (click)="enableEdit=true">
            Edit
          </span>
        </div>

        <small class="sub-head">
          Modified by {{kit?.editedBy}} at {{kit?.modifiedOn | date: dateFormatDisplay}}
        </small>
      </h2>
      <div *ngIf="kit" style="min-width:1200px;">
        <form style="margin-left:2px;">
          <div class="form-row">
            <div class="form-group col-md-8" style="padding-bottom:0px;">
              <label>Name
                <span class="star">*</span>
                <button type="button"
                        class="btn btn-outline-secondary help-tooltip"
                        placement="top"
                        ngbTooltip="Name of the kit">?</button>
              </label>
              <input autocomplete="off"
                    *ngIf="enableEdit"
                    class="form-control up"
                    type="text"
                    [(ngModel)]="kit.name"
                    [ngModelOptions]="{standalone: true}"
                    name="name"
              />
              <p class="read-message" *ngIf="!enableEdit">{{kit.name}}</p>
            </div>
            <div class="form-group col-md-4" style="padding-bottom:0px;">
              <label>Active
                <span class="star">*</span>
                <button type="button"
                        class="btn btn-outline-secondary help-tooltip"
                        placement="top"
                        ngbTooltip="Whether kit is active or not">?</button>
              </label>
              <p class="read-message" *ngIf="enableEdit">
                <input type="checkbox"
                      [(ngModel)]="kit.active"
                      [ngModelOptions]="{standalone: true}"
                      id="activeCheckBox" >
              </p>
              <p class="read-message" *ngIf="!enableEdit">{{kit.active}}</p>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group  col-md-4" style="padding-bottom:0px;">
              <label>Cat#
                <span class="star">*</span>
                <button type="button"
                        class="btn btn-outline-secondary help-tooltip"
                        placement="top"
                        ngbTooltip="Catalog number of the kit">?</button>
              </label>
              <input autocomplete="off"
                    *ngIf="enableEdit"
                    class="form-control up"
                    type="text"
                    [(ngModel)]="kit.catalogNumber"
                    [ngModelOptions]="{standalone: true}"
                    name="kitcat"/>
              <p class="read-message" *ngIf="!enableEdit">{{kit.catalogNumber}}</p>
            </div>

            <div class="form-group  col-md-4" style="padding-bottom:0px;">
              <label>Status
                <button type="button"
                        class="btn btn-outline-secondary help-tooltip"
                        placement="top"
                        ngbTooltip="Status of the kit">?</button>
              </label>
              <select *ngIf="enableEdit"
                      class="form-control up"
                      #kstatus
                      (change)="setKitStatus(kstatus.value);">
                <option [selected]="kit.status == undefined || kit.status == ''">Please Select</option>
                <option *ngFor="let status of kitStatus;"
                        [value]="status"
                        [selected]="kit.status == status">{{status}}</option>
              </select>
              <p class="read-message" *ngIf="!enableEdit">{{kit.status}}</p>
            </div>

            <div class="form-group  col-md-4" style="padding-bottom:0px;">
              <label>Pack Size
                <span class="star">*</span>
                <button type="button"
                        class="btn btn-outline-secondary help-tooltip"
                        placement="top"
                        ngbTooltip="Size of the kit">?</button>
              </label>
              <div *ngIf="enableEdit" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label class="method-type"
                      *ngFor="let size of kitSize; index as i">
                  <input autocomplete="off"
                        type="radio"
                        *ngIf="size != 'Custom'"
                        [value]="size"
                        (click)="kit.packSize = size"
                        [checked]="kit.packSize == size">
                  <span > {{size}}</span>
                  <span *ngIf="size == '1 x 96 wells'" class="packsize-note">(Special Client Only)</span>
                </label>
              </div>
              <p class="read-message" *ngIf="!enableEdit">{{kit.packSize}}</p>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group  col-md-4" style="padding-bottom:0px;">
              <label>Type
                <button type="button"
                        class="btn btn-outline-secondary help-tooltip"
                        placement="top"
                        ngbTooltip="The method of the kit">?</button>
              </label>
              <select *ngIf="enableEdit"
                      class="form-control up"
                      #kitmethod
                      (change)="setKitMethod(kitmethod.value);">
                <option [selected]="kit.method == undefined || kit.method == ''">Please Select Kit Type</option>
                <option *ngFor="let method of kitMethod;"
                      [value]="method"
                      [selected]="kit.method == method">{{method}}</option>
              </select>
              <p class="read-message" *ngIf="!enableEdit">{{kit.method}}</p>
            </div>
            <div class="form-group  col-md-4" style="padding-bottom:0px;">
              <label>Molecule (Innovator)
                <button type="button"
                        class="btn btn-outline-secondary help-tooltip"
                        placement="top"
                        ngbTooltip="Molecular of the kit">?</button>
              </label>
              <input autocomplete="off"
                    *ngIf="enableEdit"
                    class="form-control up"
                    type="text"
                    [(ngModel)]="kit.molecular"
                    [ngModelOptions]="{standalone: true}"
                    name="molecular"
              />
              <p class="read-message" *ngIf="!enableEdit">{{kit.molecular}}</p>
            </div>
            <div class="form-group  col-md-4" style="padding-bottom:0px;">
              <label>Biosimilar
                <button type="button"
                        class="btn btn-outline-secondary help-tooltip"
                        placement="top"
                        ngbTooltip="Biosimilar of the kit">?</button>
              </label>
              <input autocomplete="off"
                    *ngIf="enableEdit"
                    class="form-control up"
                    type="text"
                    [(ngModel)]="kit.biosimilar"
                    [ngModelOptions]="{standalone: true}"
                    name="biosimilar"
              />
              <p class="read-message" *ngIf="!enableEdit">{{kit.biosimilar}}</p>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-4" style="padding-bottom:0px;">
              <label>Client Specific
                <button type="button"
                        class="btn btn-outline-secondary help-tooltip"
                        placement="top"
                        ngbTooltip="The client for whom the kit has been created">?</button>
              </label>
              <select *ngIf="enableEdit"
                      class="form-control up"
                      #kitclient
                      (change)="setKitClient(kitclient.value);">
                <option [selected]="kit.client == undefined || kit.client == ''">Please Select
                  Kit Client
                </option>
                <option *ngFor="let client of clients;"
                        [value]="client"
                        [selected]="kit.client == client">{{client}}</option>
              </select>
              <p class="read-message" *ngIf="!enableEdit">{{kit.client}}</p>
            </div>
            <div class="form-group  col-md-4" style="padding-bottom:0px;">
              <label>Price (USD)<span class="star">*</span>
                <button type="button"
                        class="btn btn-outline-secondary help-tooltip"
                        placement="top"
                        ngbTooltip="The price of the kit">?</button>
              </label>
              <input *ngIf="enableEdit"
                      class="form-control up"
                      type="number"
                      [(ngModel)]="kit.unitPrice"
                      [ngModelOptions]="{standalone: true}"
                      name="kitprice">
              <p class="read-message" *ngIf="!enableEdit">{{kit.unitPrice}}</p>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12" style="padding-bottom:0px;">
              <label>Description
                <button type="button"
                        class="btn btn-outline-secondary help-tooltip"
                        placement="top"
                        ngbTooltip="Description of the kit">?</button>
              </label>
              <input autocomplete="off"
                    *ngIf="enableEdit"
                    class="form-control up"
                    type="text"
                    [(ngModel)]="kit.description"
                    [ngModelOptions]="{standalone: true}"
                    name="description"
              />
              <p class="read-message" *ngIf="!enableEdit">{{kit.description}}</p>
            </div>
          </div>
        </form>




        <br>
        <div class="form-group" style="width:100%;">
          <label>Component(s)
            <span class="star">*</span>
            <button type="button"
                    class="btn btn-outline-secondary help-tooltip"
                    placement="top"
                    ngbTooltip="List of Components">?</button>
          </label>

          <table class="table table-bordered"
                style="margin-bottom:5px;"
                *ngFor="let kitComponent of kit.kitComponents; let i = index">
            <tr>
              <td style="width:10%;">
                <label>
                  Catalog #
                </label>
                <p class="read-message smaller"
                  style="vertical-align: middle;text-align:center;">{{kitComponent.catalogNumber}}</p>
              </td>
              <td style="width:20%;">
                <label>
                  Component Name
                </label>
                <input autocomplete="off"
                        *ngIf="enableEdit"
                        type="text"
                        class="form-control input-sm"
                        [(ngModel)]="kitComponent.name"
                        [ngModelOptions]="{standalone: true}"
                        name="componentName">
                <p class="read-message" *ngIf="!enableEdit">{{kitComponent.name}}</p>
              </td>

              <td style="width:20%;">
                <label>
                  Reagent
                </label>
                <app-item-search *ngIf="enableEdit"
                                  [currentItemName]="kitComponent.reagent"
                                  (itemSelected)="setSelectedItem($event, i)">
                </app-item-search>
                <p class="read-message" *ngIf="!enableEdit">{{kitComponent.reagent}}</p>
              </td>

              <td style="width:20%;">
                <label>
                  Amount
                </label>
                <table *ngIf="enableEdit" class="table table-borderless">
                  <tr>
                    <td>
                      <input autocomplete="off"
                            type="number"
                            class="form-control input-xs"
                            [(ngModel)]="kitComponent.amount"
                            [ngModelOptions]="{standalone: true}"
                            name="componentAmount">
                    </td>
                    <td>
                      <select #unitVal
                            (change)="setKitComponentUnit( unitVal.value, i )"
                            class="form-control input-sm ">
                        <option [selected]="kitComponent.unit == undefined || kitComponent.unit == ''">Select Units</option>
                        <option *ngFor="let u of unitList"
                                [value]="u"
                                [selected]="kitComponent.unit==u">{{u}}</option>
                      </select>
                    </td>
                  </tr>
                </table>
                <p class="read-message" *ngIf="!enableEdit">{{kitComponent.amount}} {{kitComponent.unit}}</p>
              </td>
              <td style="width:20%;">
                  <label>
                    Packaging
                  </label>
                  <input autocomplete="off"
                        *ngIf="enableEdit"
                          type="text"
                          class="form-control input-sm"
                          [(ngModel)]="kitComponent.packaging"
                          [ngModelOptions]="{standalone: true}"
                          name="packaging">
                  <p class="read-message" *ngIf="!enableEdit">{{kitComponent.packaging}}</p>
              </td>
              <td *ngIf="enableEdit"
                  style="width:10%;vertical-align: middle;text-align:center;">
                <button class="btn icon-btn" (click)="removeKitComponent(i)">
                  <i class="fas fa-times"></i>
                </button>
              </td>
            </tr>
          </table>
        </div>
        <div>
          <table *ngIf="enableEdit" style="width:100%;">
            <tr>
              <button class="btn btn-outline-primary new-ingre"
                      (click)="addNewComponent()"
                      style="width:100%;">
                <i class="fas fa-plus"></i>New Component</button>
            </tr>
          </table>
        </div>
        <div class="form-group">
          <label>Comment(s)</label>
          <textarea *ngIf="enableEdit"
                    class="form-control"
                    style="font-size:12px;"
                    [(ngModel)]="kit.comment"
                    [ngModelOptions]="{standalone: true}"
                    name="comments"></textarea>

          <p class="read-message mt-2" *ngIf="!enableEdit">{{kit.comment}}</p>
        </div>
      </div>

      <div>
        <app-review *ngIf="kit"
                    [enableEdit]="enableEdit"
                    [status]="kit.editStatus"
                    [user]="currentUser"
                    [reviewComment]="kit.editStatusComment"
                    [reviewedBy]="kit.reviewedBy"
                    [canReview]="canReviewKits"
                    (updateReview)="updateReview($event)"></app-review>

        <ngb-alert *ngIf="!hideWarning" (close)="hideWarning=true">
          <ng-container *ngFor="let warning of inputWarning; let i = index">
            <p>
              <strong>{{warning}}</strong>
            </p>
          </ng-container>
        </ngb-alert>

        <app-attachment></app-attachment>

        <div class="submit-buttons">
          <button *ngIf="enableEdit" (click)="validateUserInput()">{{isNew?'Save':'Update'}}</button>
          <button type="button" (click)="close()">Close</button>
        </div>
      </div>
    </div>




</div>
