.slide{
  position: fixed;
  z-index: 11;
  top: 0px;
  right: 0px;
  /* width: 50%; */
  height: 100%;
  transition: 1s right;
  -moz-transition:1s right;
  -o-transition:1s right;
  -webkit-transition:1s right;
}

.kit-header-container{
  margin-top: 2rem;
  width: 100%;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #17a2b8;
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;

  h1{
    color: white;
    margin: 0;
    text-align: start;
  }

  button{
    margin-left: 1rem;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    color: white;
    font-size: medium;
    background-color: #17a2b8;
  }
}

.kit-operation-container{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid #17a2b8;
  border-top: none;
  span{
    width: 80px;
    height: 100%;
    color: #17a2b8;
    white-space: nowrap;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-out 0.3s;

    &:hover{
      cursor: pointer;
      transition: all ease-in 0.3s;
      color: white;
      background-color: #17a2b8;
    }

  }
}

.sub-head{
  font-size: 12px;
  color:grey;
}


.edit-container{
  height: 100%;
  position: absolute;
  right: 0px;
  background-color: white;
  border-left: 15px solid #28a745;
  padding: 10px 30px;
  box-shadow: -5px 0px 20px 0px #705757;
  overflow-y: auto;
}

.message{
  color:red;
}

.read-message{
  padding: 5px;
}

.submit-buttons {
  /* text-align: right; */
  margin-top: 2rem;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  // padding: 0 1rem;

  button{
    width: 80px;
    height: 100%;
    margin-left: 1rem;
    background-color: #17a2b8;
    color: white;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    transition: all ease-in 0.3s;

    &:hover{
      cursor: pointer;
      transition: all ease-out 0.3s;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    }
  }

  span{
    transition: all ease-in 0.3s;
    border-radius: 1rem;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
      cursor: pointer;
      transition: all ease-out 0.3s;
      background-color: #e7e7e8;
    }
  }
}

.method-type {
  margin: 0px 10px;
}

.recommend {
  position: absolute;
  background-color: white;
  border: 1px solid lightgrey;
  box-shadow: 3px 3px 5px 0px lightgrey;
  max-width: 90%;
}

.recItem {
  width: 100%;
  background-color: white;
  margin: 0px;
  transition: 1s background-color;
  -moz-transition: 1s background-color;
  -o-transition: 1s background-color;
  -webkit-transition: 1s background-color;
}

.recItem:hover {
  background-color: lightgrey;
}

.new-ingre {
  width: 100%;
  margin: 0px;
  border-radius: 0px;
}

.submit-buttons {
  text-align: right;
}

span{
  padding-right: 3px;
}

td{
  padding: 0px;
}

.form-group{
  max-width: 100%;
}

.vialid{
  border:none;
  color:black;
  font-weight: bold;
  background-color:white;
  padding:0px;
}

option{
  height:10%;
}


.recipeid:hover{
  background-color:lightgrey;
}

.componentid{
  font-size:10.5px;
}

.unit{
  padding:0px;
  font-size:15px;
  line-height: 20px;
}

.catforcomponent{
  padding:0px;
  text-align: center;
  color: red;
  font-size: 11px;
}

.small-form-group{
  display: inline-block;
  height: 50px;
}

.small-form-control{
  display: inline-block;
    border: 0.01em solid lightgrey;
    padding: 5px;
    height: 100%;
}

.small-form-control>select{
  display: block;
  border: 0.01em solid #ddd;
  width:100%;
}

.small-form-group>.btn{
  margin: 0px;
  height: 100%;
  vertical-align: top;
}

.star{
  color:red;
}

p{
  border:white;
}

.read-only-input{
  margin-bottom:0px;
}

.read-only-input.recipeid{
  margin-bottom:0px;
}



.read-only-input.id{
  margin-bottom:0px;
  /* font-size:11px; */
}

.read-only-input.smaller{
  margin-bottom:0px;
  /* font-size:11px; */
}

.smalltable{
  width:100%;
  border-bottom:1px;

}

/* .form-group{
  margin:10px;
} */

input.form-control.up{
  padding:8px, 0px,8px,0px;
  font-size:12px;
  width:100%;
  height:38px;

}

select.form-control.up{
  padding:0px, 0px,0px,0px;
  width:100%;
  font-size:12px;
}

select.form-control.input-sm{
  padding:0px, 0px,0px,0px;
  width:100%;
  font-size:11px;
  height:32px;
}

/* .table{
  border: 1px solid lightgrey;
} */

label{
  font-weight:bold;
}

p.read-only-input{
  margin-bottom:0px;
}

label{
  margin-bottom:0px;
}






