<mat-drawer-container>
  <mat-drawer [opened]="showSettingDetail" position="end" disableClose>
    <app-setting-details (toggleSidePanel)="toggleSidePanel($event)"></app-setting-details>
  </mat-drawer>
  <mat-drawer-content>
    <div class="settings-table-container">
      <table mat-table [dataSource]="settings" class="mat-elevation-z8 setting-table">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let data">
            <a [routerLink]="['/main/config/settings', data.settingId]">
              {{ data.name }}
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="control">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let data">
            <a (click)="deleteSetting(data.settingId)">
              <button mat-raised-button color="warn">
                <i class="fa fa-trash"></i>
              </button>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [@flyOut]="'in'"></tr>
      </table>
      <button mat-fab class="add-new-btn" color='primary' routerLink="/main/config/settings/new">
        <mat-icon>add</mat-icon>NEW
      </button>
    </div>
    <delete-warnining-dialog></delete-warnining-dialog>
  </mat-drawer-content>
</mat-drawer-container>