<br>
<form [formGroup]="form">
  <!-- Operation 1 -->
  <!-- <strong>Extra Dilution&nbsp;{{displayIndex}}</strong> -->
  <alert [id]="'fold-check-solution-' + dynamic_alertId"></alert>
  <strong>Solution&nbsp;{{displayIndex}}&nbsp;Concentration</strong>
  <div class="padding-left-35p">
    <mat-form-field *ngIf="mode === 'design'" appearance="outline">
      <!-- <mat-label>Liquid Concentration</mat-label> -->
      <mat-label>Solution&nbsp;{{displayIndex}}&nbsp;Concentration</mat-label>
      <input *ngIf="mode === 'design'" matInput type="number" formControlName="stockConcentration" (change) = "updateInfo(); checkCalculationParams()">
    </mat-form-field>

    <app-text-field *ngIf="mode === 'review' || mode === 'experiment'"
    [text]="(reviewData?.stockConcentration || editData?.stockConcentration) + ' ' + (reviewData?.stockConcentrationUnit || editData?.stockConcentrationUnit)"
    [tag]="'Solution ' + (displayIndex) + ' Concentration'"
    >
    </app-text-field>

    <div *ngIf="mode === 'design'" class="unit-container margin-left-50">
      <app-drop-down-list *ngIf="mode === 'design'" [listContent]="concentrationUnits" [defaultOption] = "stockConcentrationUnit_copy" [placeHolderValue]="'Concentration Unit'" [mode]="'simple'" [width]="'150px'" [targetUnit]="'stockConcentrationUnit'" (unit) = "onChangeUnit($event)"></app-drop-down-list>
    </div>
  </div>

  <!-- End of Operation 1 -->


  <!-- Operation 2 -->
  <hr>
  <strong>Solution&nbsp;{{displayIndex + 1}}&nbsp;Concentration</strong>
  <div class="padding-left-35p">
    <mat-form-field *ngIf="mode === 'design'" appearance="outline">
      <mat-label>Solution&nbsp;{{displayIndex + 1}}&nbsp;Concentration</mat-label>
      <input *ngIf="mode === 'design'" matInput type="number" formControlName="finalConcentration" (change) = "updateInfo(); checkSubStepLock(); checkCalculationParams()">
    </mat-form-field>
    <app-text-field *ngIf="mode === 'review' || mode === 'experiment'"
    [text]="(reviewData?.finalConcentration || editData?.finalConcentration) + ' ' + (reviewData?.finalConcentrationUnit || editData?.finalConcentrationUnit)"
    [tag]="'Solution ' + (displayIndex + 1) + ' Concentration'"
    >
    </app-text-field>

    <div *ngIf="mode === 'design'" class="unit-container margin-left-50">
      <app-drop-down-list *ngIf="mode === 'design'"
      [listContent]="concentrationUnits"
      [defaultOption] = "finalConcentrationUnit_copy"
      [placeHolderValue]="'Concentration Unit'"
      [mode]="'simple'"
      [width]="'150px'"
      [targetUnit]="'finalConcentrationUnit'"
      (unit) = "onChangeUnit($event)">
      </app-drop-down-list>
    </div>
  </div>
  <!-- End of Operation 2 -->


  <!-- Operation 3 -->
  <alert [id]="'pipette-check-dilution-' + dynamic_alertId"></alert>
  <hr *ngIf="mode === 'experiment' || (mode === 'review' && dataType === 'instance')">
  <strong *ngIf="mode === 'experiment' || (mode === 'review' && dataType === 'instance')">
    Required Volume of Solution&nbsp;{{displayIndex + 1}}
  </strong>
  <div *ngIf="mode === 'experiment' || (mode === 'review' && dataType === 'instance')" class="padding-left-35p">
    <mat-form-field *ngIf="mode === 'experiment'" appearance="outline">
      <mat-label>Volume Needed</mat-label>
      <input *ngIf="mode === 'experiment'" matInput type="number" formControlName="volume_user" (change) = "checkCalculationParams()">
    </mat-form-field>
    <app-text-field *ngIf="mode === 'review' && dataType === 'instance'"
    [text]="reviewData.volume_user + ' ' + (reviewData && reviewData.volume_userUnit)"
    [tag]="'Volume Needed'">
    </app-text-field>

    <div *ngIf="mode === 'experiment'" class="unit-container margin-left-50">
      <app-drop-down-list *ngIf="mode === 'experiment'"
      [listContent]="literUnits"
      [defaultOption] = "volume_userUnit_copy"
      [placeHolderValue]="'Unit'"
      [mode]="'simple'"
      [width]="'150px'"
      [targetUnit]="'volume_userUnit'"
      (unit) = "onChangeUnit($event)">
      </app-drop-down-list>
    </div>
  </div>

  <!-- End of Operation 3 -->


  <!-- Operation 4 -->
  <hr *ngIf="mode === 'experiment' || (mode === 'review' && dataType === 'instance')">
  <strong *ngIf="mode === 'experiment' || (mode === 'review' && dataType === 'instance')">Calculation Results</strong>
  <div *ngIf="mode === 'experiment' || (mode === 'review' && dataType === 'instance')" class="padding-left-35p">

    <div class="warn-container">
      <mat-form-field *ngIf="mode === 'experiment'" appearance="outline">
        <mat-label>Source Volume(µL)</mat-label>
        <input *ngIf="mode === 'experiment'" matInput type="number" formControlName="materialVolume_sys" readonly>
      </mat-form-field>
      <app-text-field *ngIf="mode === 'review' && dataType === 'instance'"
      [text]="reviewData.materialVolume_sys + ' µL'"
      [tag]="'Source Volume'"
      [toolTipType]="'infoTip'"
      [infoTip]="'For ( Solution' + displayIndex + ' )'">
      </app-text-field>

      <span *ngIf="roundRecord.material.isRound" class="material-icons md-36 relative-top-right-flag orange600" [matTooltip]="roundRecord.material.message" [matTooltipPosition]="'above'">
        flag
      </span>
      <span *ngIf="mode !== 'review'" class="margin-left-10">Solution {{displayIndex}}</span>
    </div>

    <div class="warn-container">
      <mat-form-field *ngIf="mode === 'experiment'" appearance="outline">
        <mat-label>Buffer Volume(µL)</mat-label>
        <input *ngIf="mode === 'experiment'" matInput type="number" formControlName="bufferVolume_sys" readonly>
      </mat-form-field>
      <app-text-field *ngIf="mode === 'review' && dataType === 'instance'"
      [text]="this.reviewData.bufferVolume_sys + ' µL'"
      [tag]="'Buffer Volume'"
      [toolTipType]="'infoTip'"
      [infoTip]="'For ( ' + reviewData.buffer + ' )'">
      </app-text-field>

      <span *ngIf="roundRecord.buffer.isRound" class="material-icons md-36 relative-top-right-flag orange600" [matTooltip]="roundRecord.buffer.message" [matTooltipPosition]="'above'">
        flag
      </span>
      <span *ngIf="mode !== 'review'" class="margin-left-10">{{this.editData.buffer}}</span>
    </div>

  </div>
<!-- End of Operation 4 -->

</form>
