.material-icons.md-36 { font-size: 36px; }
.padding-left-35p{padding-left: 35%;}
.padding-left-40p{padding-left: 40%;}
.margin-left-50{ margin-left: 50px;  }
.margin-left-10{ margin-left: 10px;  }
.margin-bottom-50{ margin-bottom: 50px; }
.select-width-50{ width: 50px; }
.select-width-80{ width: 80px; }
.display-block-200{display: block; width: 200px;}
hr{border-top: 0px; border-right: 0px; border-left: 0px; border-bottom: 2px solid rgb(63, 81, 177);}
.italic{font-style: italic;}
.width-400{ width: 400px; }
.margin-top-70{ margin-top: 70px; }

.width-150  { width: 150px; }
.unit-container{
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.material-icons.orange600 { color: #FB8C00; }

.warn-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.relative-top-right-flag {
  position: relative;
  bottom: 35px;
  right: 10px;
}
